/* ==========================================================================
   _styles.tabs.css
   ========================================================================== */

@layer components {
  .c-tabs:not(.c-tabs--reset) .c-tabs__heading {
    @apply lg:sr-only mb-sm text-sm;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__tabs {
    @apply lg:relative lg:w-full lg:flex lg:snap-x lg:overflow-x-auto lg:-mb-0.5;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__link {
    @apply relative flex-none flex items-center py-sm lg:px-base lg:py-base border text-black hover:text-primary-base underline truncate focus:outline-none border-transparent lg:snap-start;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__link--is-active {
    @apply lg:bg-white lg:border-neutral-base lg:border-b-0 lg:rounded-t no-underline;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__panel {
    @apply p-base mt-base lg:mt-px border border-neutral-base focus:outline-none focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__panel-heading {
    @apply lg:sr-only;
  }

  .c-tabs--scroll:not(.c-tabs--reset) {
    .c-tabs__heading {
      @apply sr-only;
    }

    .c-tabs__tabs {
      @apply relative w-full flex snap-x overflow-x-auto -mb-0.5;
    }

    .c-tabs__link {
      @apply snap-start px-lg py-base border;
    }

    .c-tabs__link--is-active {
      @apply bg-white border-neutral-base border-b-0 rounded-t no-underline;
    }

    .c-tabs__panel {
      @apply mt-px;
    }

    .c-tabs__panel-heading {
      @apply sr-only;
    }
  }

  .c-tabs--list {
    .c-tabs__heading {
      @apply lg:sr-only mb-sm text-sm;
    }

    .c-tabs__link {
      @apply relative lg:px-base focus:outline-none;

      & > span,
      & > strong {
        @apply flex items-center flex-1 py-sm lg:py-base;

        & > span {
          @apply w-full;
        }
      }
    }

    .c-tabs__panel-heading {
      @apply sr-only;
    }
  }
}
