{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{% set idPrefix = params.idPrefix if params.idPrefix -%}

<!-- tabs -->
<div {%- if params.id %} id="{{params.id}}"{% endif %} class="c-tabs {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} data-module="c-tabs">
  <div class="c-tabs__heading">
    {% if params.headingLevel == "1" %}
    <h1>{{ params.title | default ("Contenido") }}</h1>
    {% elseif params.headingLevel == "2" %}
    <h2>{{ params.title | default ("Contenido") }}</h2>
    {% elseif params.headingLevel == "3" %}
    <h3>{{ params.title | default ("Contenido") }}</h3>
    {% elseif params.headingLevel == "4" %}
    <h4>{{ params.title | default ("Contenido") }}</h4>
    {% elseif params.headingLevel == "5" %}
    <h5>{{ params.title | default ("Contenido") }}</h5>
    {% else %}
    <h2>{{ params.title | default ("Contenido") }}</h2>
    {% endif %}
  </div>
  {% if(params.items | length) %}
  <div class="c-tabs__tabs {%- if params.tablistClasses %} {{ params.tablistClasses }}{% endif %}" role="tablist" aria-label="{{ params.tablistAriaLabel }}">
    {% for item in params.items %}
      {% if item %}
        {% set id = item.id if item.id else idPrefix + "-" + loop.index %}
        {% set tabPanelId = "tab-" + id %}
    <button class="c-tabs__link group {%- if item.disabled %} opacity-50 pointer-events-none{% endif -%} {%- if item.active %} c-tabs__link--is-active{% endif %}"
      role="tab" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="{{ tabPanelId }}" id="{{ id }}" {%- if loop.index > 1 or item.disabled %} tabindex="-1"{% endif %}
      {%- if item.disabled %} disabled="disabled" aria-disabled="true"{% endif -%}
      {%- for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      <span class="flex items-center pointer-events-none group-focus:bg-warning-base group-focus:shadow-outline-focus group-focus:outline-none">
        {{ item.html | trim | safe if item.html else item.text }}
      </span>
    </button>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% for item in params.items %}
    {% if item %}
      {% set id = item.id if item.id else idPrefix + "-" + loop.index %}
      {% set tabPanelId = "tab-" + id %}
  <div class="c-tabs__panel {%- if item.panel.classes %} {{ item.panel.classes }}{% endif %}" id="{{ tabPanelId }}" tabindex="0" role="tabpanel" aria-labelledby="{{ id }}"
    {%- if loop.index > 1 %} hidden=""{% endif %}
    {% for attribute, value in item.panel.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    <div class="c-tabs__panel-heading">
        {% if params.headingLevel == "1" %}
      <h2 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h2>
        {% elseif params.headingLevel == "2" %}
      <h3 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h3>
        {% elseif params.headingLevel == "3" %}
      <h4 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h4>
        {% elseif params.headingLevel == "4" %}
      <h5 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h5>
        {% elseif params.headingLevel == "5" %}
      <h6 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h6>
        {% else %}
      <h3 class="inline-flex items-center mb-base lg:mb-0 font-semibold">{{ item.html | filterquotes | safe if item.html else item.text }}</h3>
        {% endif %}
    </div>
  {% if item.panel.html %}
    {{ item.panel.html | filterquotes | safe }}
  {% else %}
    <p>{{ item.panel.text }}</p>
  {% endif %}
  </div>
    {% endif %}
  {% endfor %}
</div>
<!-- /tabs -->