{% set exampleComponent = "skip-link" %}
{% set examples =  [
  {
    "name": "por defecto",
    "description": "Para ver el componente Skip link, dale al tabulador en este ejemplo, o haz click dentro del ejemplo y presiona el tabulador.",
    "data": {
      "text": "Saltar al contenido principal",
      "href": "#content"
    }
  },
  {
    "name": "con estado focus",
    "description": "Simula activar la pseudoclase de CSS <code>:focus</code>",
    "data": {
      "classes": "ds-focus",
      "text": "Saltar al contenido principal",
      "href": "#content"
    }
  }
] %}