/* ==========================================================================
   _styles.skip-link.css
   ========================================================================== */

@layer components {
  .c-skip-link {
    &.ds-focus {
      @apply not-sr-only;
      @apply outline-none;
      @apply shadow-outline-warning;
    }
  }
}
