{% set exampleComponent = "pagination" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "default",
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1
        },
        {
          "value": "2",
          "text": 2,
          "selected": true
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "Estilo Select",
    "description": "Usa el parámetro <code>'hasSelect': true</code> para mostrar la paginación como un Select en vez de botones.",
    "data": {
      "id": "select-style",
      "hasSelect": true,
      "idPrefix": "pagination-has-select",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1
        },
        {
          "value": "2",
          "text": 2,
          "selected": true
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        },
        {
          "value": "7",
          "text": 7
        },
        {
          "value": "8",
          "text": 8
        },
        {
          "value": "9",
          "text": 9
        },
        {
          "value": "10",
          "text": 10
        },
        {
          "value": "11",
          "text": 11
        },
        {
          "value": "12",
          "text": 12
        },
        {
          "value": "13",
          "text": 13
        },
        {
          "value": "14",
          "text": 14
        }
      ],
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "Con página previa deshabilitada",
    "description": "En este ejemplo <code>'hasSelect': true</code> y <code>'hasPrevious': false</code>",
    "data": {
      "id": "with-previous-page-disabled",
      "hasSelect": true,
      "idPrefix": "pagination-with-previous-page-disabled",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1,
          "selected": true
        },
        {
          "value": "2",
          "text": 2
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "Sin página previa",
    "description": "En este ejemplo <code>'hasSelect': true</code> y <code>'showPrevious': false</code>",
    "data": {
      "id": "without-previous-page",
      "hasSelect": true,
      "idPrefix": "pagination-without-previous-page",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1,
          "selected": true
        },
        {
          "value": "2",
          "text": 2
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "showPrevious": false,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "Con página primera y última",
    "description": "En este ejemplo <code>'hasSelect': true</code>, <code>'showFirst': true</code> y <code>'showLast': true</code>",
    "data": {
      "id": "without-previous-page-disabled",
      "hasSelect": true,
      "idPrefix": "pagination-without-previous-page-disabled",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1
        },
        {
          "value": "2",
          "text": 2,
          "selected": true
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "showFirst": true,
      "showLast": true,
      "firstText": "Primera",
      "lastText": "Última",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "Con página primera deshabilitada y última",
    "description": "En este ejemplo <code>'hasSelect': true</code>, <code>'hasPrevious': false</code>, <code>'showFirst': true</code> y <code>'hasFirst': false</code>",
    "data": {
      "id": "select-style-2",
      "hasSelect": true,
      "idPrefix": "pagination-has-select-2",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "value": "1",
          "text": 1,
          "selected": true
        },
        {
          "value": "2",
          "text": 2
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        },
        {
          "value": "7",
          "text": 7
        },
        {
          "value": "8",
          "text": 8
        },
        {
          "value": "9",
          "text": 9
        },
        {
          "value": "10",
          "text": 10
        },
        {
          "value": "11",
          "text": 11
        },
        {
          "value": "12",
          "text": 12
        },
        {
          "value": "13",
          "text": 13
        },
        {
          "value": "14",
          "text": 14
        }
      ],
      "hasPrevious": false,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "showFirst": true,
      "showLast": true,
      "hasFirst": false,
      "firstText": "Primera",
      "lastText": "Última",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  },
  {
    "name": "con itemsPerPageSelector",
    "description": "Usa el parámetro <code>itemsPerPageSelector</code> para mostrar un select que permite elegir el número de items por página, a la derecha.",
    "data": {
      "id": "with-items-per-page-selector",
      "idPrefix": "with-items-per-page-selector",
      "totalItems": "64",
      "itemsPerPage": "10",
      "hasSelect": true,
      "itemsPerPageSelector": {
        "items": [
          {
            "value": "10",
            "text": "10",
            "selected": true
          },
          {
            "value": "25",
            "text": "25"
          },
          {
            "value": "50",
            "text": "50"
          },
          {
            "value": "75",
            "text": "75"
          },
          {
            "value": "100",
            "text": "100"
          }
        ]
      },
      "items": [
        {
          "value": "1",
          "text": 1
        },
        {
          "value": "2",
          "text": 2,
          "selected": true
        },
        {
          "value": "3",
          "text": 3
        },
        {
          "value": "4",
          "text": 4
        },
        {
          "value": "5",
          "text": 5
        },
        {
          "value": "6",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    }
  }
] %}