/* ==========================================================================
   _styles.toggle.css
   ========================================================================== */

@layer components {
  .c-toggle {
    [aria-expanded="true"],
    [aria-pressed="true"],
    [aria-checked="true"] {
      .c-button--is-not-pressed {
        @apply hidden;
      }

      .c-button--is-pressed {
        @apply block;
      }
    }

    [aria-expanded="false"],
    [aria-pressed="false"],
    [aria-checked="false"] {
      .c-button--is-not-pressed {
        @apply block;
      }

      .c-button--is-pressed {
        @apply hidden;
      }
    }
  }
}
