<!-- description-list -->
<dl {%- if params.classes %} class="{{ params.classes }}"{% endif %}
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {% for item in params.items %}
  <div {%- if item.classes %} class="{{ item.classes }}"{% endif %}
  {%- for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    <dt class="{% if item.term.classes %}{{ item.term.classes }}{% else %}text-sm text-neutral-dark{% endif %}"
    {%- for attribute, value in item.term.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ item.term.html | filterquotes | safe if item.term.html else item.term.text }}
    </dt>
    <dd class="{% if item.definition.classes %}{{ item.definition.classes }}{% else %}text-base text-black{% endif %}"
    {%- for attribute, value in item.definition.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ item.definition.html | filterquotes | safe if item.definition.html else item.definition.text }}
    </dd>
  </div>
  {% endfor %}
</dl>
<!-- /description-list -->