{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
<!-- page.spinner-block -->
<div class="relative pb-2xl lg:pb-0">
  <p>
    {{ componentSpinner({
      "text": "Espera por favor, el contenido principal de la página se está cargando",
      "classes": "absolute inset-0 z-50 h-full pt-2xl text-4xl text-neutral-base",
      "attributes": {
        "id": spinnerId if spinnerId else "spinner-block"
      }
    })  }}
  </p>
  {# This spinner must be visible for 5 seconds. When new content is loaded, the text must change to "Se ha cargado la página _título de la página_"... After 5 seconds the spinner must dissapear #}
</div>
<!-- /page.spinner-block -->