<!-- page.foot -->
<script type="module" src="js/cally.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tippy-bundle.umd.min.js"></script>
<script type="module" src="js/index.js"></script>
</body>
</html>

