{% include "pages/_page.head.njk" %}

{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.with-header-advanced -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% set menuCustom %}
      <div class="hidden lg:flex lg:flex-wrap lg:flex-1 lg:gap-base">
        {{ componentMenuNavigation({
          "idPrefix": "header-custom-nav",
          "classes": "bg-neutral-lighter c-menu-navigation--last-right w-full",
          "items": [
            {
              "text": "Inicio",
              "active": true,
              "id": "header-custom-nav-item-0",
              "classes": "c-menu-navigation__button--header -mr-base",
              "href": "#"
            },
            {
              "text": "Gestiones",
              "id": "header-custom-nav-item-1",
              "classes": "c-menu-navigation__button--header -mr-base",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "header-custom-nav-item-1"
                }
              }
            },
            {
              "text": "Centros sanitarios",
              "id": "header-custom-nav-item-2",
              "classes": "c-menu-navigation__button--header -mr-base",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2",
                    "active": true
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "header-custom-nav-item-2"
                }
              }
            },
            {
              "text": "Cuida tu salud",
              "id": "header-custom-nav-item-3",
              "classes": "c-menu-navigation__button--header -mr-base",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "header-custom-nav-item-3"
                }
              }
            },
            {
              "text": "Participación",
              "id": "header-custom-nav-item-4",
              "classes": "c-menu-navigation__button--header -mr-base",
              "href": "#"
            },
            {
              "text": "Contacto",
              "id": "header-custom-nav-item-5",
              "classes": "c-menu-navigation__button--header -mr-base",
              "href": "#"
            },
            {
              "text": "Hola, Marta",
              "id": "header-custom-nav-item-6",
              "classes": "c-menu-navigation__button--header",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Perfil"
                  },
                  {
                    "href": "#",
                    "text": "Cerrar sesión"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "header-custom-nav-item-6"
                }
              }
            }
          ],
          "attributes": {
            "aria-label": "Menu de navegación principal",
            "id": "mi-menu-header"
          }
        }) }}
      </div>
    {% endset %}
    {% call componentHeaderAdvanced({
      "skipLink": {
        "href": "#content"
      },
     "title": {
        "homepageUrl": "index.html",
        "text": "Portal de Salud"
      },
      "customNavigationHtml": menuCustom | safe,
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">Portal de Salud</h3>
        {{ componentMenuVertical({
          "idPrefix": "menu-mobile",
          "items": [
            {
              "href": "#",
              "text": "Inicio",
              "id": "menu-mobile-item-0",
              "active": true
            },
            {
              "href": "#",
              "text": "Gestiones",
              "id": "menu-mobile-item-1",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "menu-mobile-item-1"
                }
              }
            },
            {
              "href": "#",
              "text": "Centros sanitarios",
              "id": "menu-mobile-item-2",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "menu-mobile-item-2"
                }
              }
            },
            {
              "href": "#",
              "text": "Cuida tu salud",
              "id": "menu-mobile-item-3",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "menu-mobile-item-3"
                }
              }
            },
            {
              "href": "#",
              "text": "Participación",
              "id": "menu-mobile-item-4"
            },
            {
              "href": "#",
              "text": "Contacto",
              "id": "menu-mobile-item-5"
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        }) }}
        <hr class="mt-lg mb-base border-b border-neutral-base">
        <h3 class="p-base text-base font-bold">Usuario/a: Ana Pérez</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
