{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "skipLink": {
        "href": "#content"
      },
      "homepageUrl": "index.html",
      "mobileTitle": {
        "text": "Gestor de expedientes"
      },
      "subnav": {
        "text": "Gestor de expedientes"
      },
      "navigation": {
        "items": [
          {
            "href": "#",
            "text": "Inicio",
            "active": true
          },
          {
            "href": "#",
            "text": "Expedientes"
          },
          {
            "href": "#",
            "text": "Bandejas"
          }
        ]
      },
      "dropdown": {
        "text": "Ana Pérez",
        "items": [
          {
          "text": "Perfil",
          "href": "/"
          },
          {
          "text": "Cerrar sesión",
          "href": "/"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">Gestor de expedientes</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-pages",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Inicio",
              "active": true
            },
            {
              "href": "#",
              "text": "Expedientes"
            },
            {
              "href": "#",
              "text": "Bandejas",
              "divider": true
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        })  }}
        <h3 class="p-base text-base font-bold">Usuario/a: Ana Pérez</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
