{%- if params.reverse == true %}
  {% set figureClassNames = "order-1" %}
{% endif %}

{%- if params.figureClasses %}
  {% set figureClassNames = figureClassNames + " " + params.figureClasses %}
{% endif %}

<!-- media-object -->
<div class="flex {%- if params.center %} items-center{% endif %}{%- if params.classes %} {{ params.classes }}{% endif %}" {% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div {%- if figureClassNames %} class="{{ figureClassNames }}"{% endif %}>
    {{ params.figureHtml | safe }}
  </div>
  <div class="flex-1{%- if params.contentClasses %} {{ params.contentClasses }}{% endif %}">
    {% if caller %}
    {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
    {% elseif params.caller %}
    {{ params.caller | safe }}
    {% endif %}
  </div>
</div>
<!-- /media-object -->