
<!--  _ds.section.campo-y-area-de-texto.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
  {{ DSSectionTitle({
    title: "Campo y área de texto"
  }) }}
  <div class="pb-lg"></div>
  <p class="c-paragraph-base">Utiliza una dimensión del campo aproximada a la longitud del texto que quieres recoger. Incluye una descripción solo si sea necesaria. Utiliza placeholder solo cuando haya que utilizar un formato concreto. </p>
  <div class="pb-lg"></div>
  <div class="lg:w-1/2">
    {% include "ds/_ds.example.forms.njk" %}
  </div>
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.forms.njk") }}
  </div>
</div>
