{% from "components/notification/_macro.notification.njk" import componentNotification %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentNotification({
      "title": {
        "html": "Las <a href=\" # \" class=\" c-link \">entidades beneficiarias</a> deberán tener: su sede y actividad principal en Aragón."
      },
      "id": "default-with-html"
    })  }}
  </div>
  <div>
    {{ componentNotification({
      "title": {
        "html": "El documento se ha cargado correctamente"
      },
      "description": {
        "html": "Documento acreditativo de <em class=\" italic \">registro de alta de la asociación</em> puede verse publicado ya."
      }
    })  }}
  </div>
  <div>
    {{ componentNotification({
      "title": {
        "text": "Problemas encontrados"
      },
      "items": [
        {
          "text": "Campo Nombre de la empresa está vacío",
          "href": "#empresa"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#actividad"
        },
        {
          "text": "El formato de correo electrónico es incorrecto",
          "href": "#email"
        }
      ],
      "id": "with-items"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentNotification({
      "title": {
        "text": "El documento se ha cargado correctamente"
      },
      "type": "success",
      "isDismissible": true,
      "id": "type-success"
    })  }}
  </div>
  <div>
    {{ componentNotification({
      "title": {
        "text": "Problemas encontrados"
      },
      "items": [
        {
          "text": "Campo Nombre de la empresa está vacío",
          "href": "#empresa"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#actividad"
        },
        {
          "text": "El formato de correo electrónico es incorrecto",
          "href": "#email"
        }
      ],
      "type": "alert",
      "isDismissible": true,
      "id": "type-alert"
    })  }}
  </div>
  <div>
    {{ componentNotification({
      "title": {
        "text": "ATENCIÓN: Debido a la situación por Covid-19, pide cita previa para acudir a una de nuestras oficinas."
      },
      "description": {
        "html": "<a class=\" c-link text-sm \" href=\" # \">Pedir cita previa</a> "
      },
      "type": "info",
      "isDismissible": true,
      "id": "type-info"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentNotification({
      "title": {
        "text": "No olvide adjuntar el registro de alta de la asociación",
        "classes": "font-bold"
      },
      "description": {
        "text": "Necesitará el documento acreditativo de registro de alta de la asociación"
      },
      "items": [
        {
          "text": "Desde modelo",
          "href": "#"
        },
        {
          "text": "Obligatorio previo a resolución",
          "href": "#"
        },
        {
          "text": "Condicionado",
          "href": "#"
        }
      ],
      "type": "info",
      "isDismissible": true,
      "id": "with-mixed-params"
    })  }}
  </div>
</div>