{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg items-end">
  <div>
    {{ componentFileUpload({
      "id": "file-upload-3",
      "name": "file-upload-3",
      "label": {
        "text": "Sube un archivo"
      },
      "classes": "text-sm lg:text-base"
    })  }}
  </div>
  <div>
    {{ componentFileUpload({
      "id": "file-upload-3",
      "name": "file-upload-3",
      "label": {
        "text": "Sube un archivo"
      },
      "disabled": true,
      "classes": "text-sm lg:text-base"
    })  }}
  </div>
  <div>
    {{ componentFileUpload({
      "id": "file-upload-3",
      "name": "file-upload-3",
      "label": {
        "text": "Sube un archivo"
      },
      "hint": {
        "text": "Tu foto puede estar en tus Imágenes, Fotos, Descargas o el Escritorio. O en una aplicación como Fotos."
      },
      "classes": "text-sm lg:text-base"
    })  }}
  </div>
  <div>
    {{ componentFileUpload({
      "id": "file-upload-3",
      "name": "file-upload-3",
      "label": {
        "text": "Sube un archivo"
      },
      "hint": {
        "text": "Tu foto puede estar en tus Imágenes, Fotos, Descargas o el Escritorio. O en una aplicación como Fotos."
      },
      "errorMessage": {
        "text": "Error: Error message goes here"
      },
      "classes": "text-sm lg:text-base"
    })  }}
  </div>
</div>
