{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Menubar"
  }) }}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Menubar variaciones"
    }) }}
  {% include "ds/_ds.example.menubar-variaciones.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Menubar en uso"
    }) }}
  {% include "ds/_ds.example.menubar-en-uso.njk" %}
</div>
