{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Navegación"
  }) }}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Cabecera de página para sitios web o portales"
  }) }}
  {% include "ds/_ds.example.header-advanced.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Cabecera de página para apps"
  }) }}
  {% include "ds/_ds.example.header.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Migas de pan"
  }) }}
  {% include "ds/_ds.example.breadcrumbs.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Nav"
  }) }}
  {% include "ds/_ds.example.nav.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Menu horizontal"
  }) }}
  {% include "ds/_ds.example.menu-horizontal.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Menu de navegación"
  }) }}
  {% include "ds/_ds.example.menu-navigation.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Menu vertical"
  }) }}
  {% include "ds/_ds.example.menu-vertical.njk" %}
   {{ DSSubsectionTitle({
    title: "Links list"
  }) }}
  {% include "ds/_ds.example.links-list.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Paginación"
  }) }}
  {% include "ds/_ds.example.pagination.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Pie de página"
  }) }}
  {% include "ds/_ds.example.footer.njk" %}
</div>
