{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Filtrado y ordenación de listado de items
  </div>
  <div class="col-span-4">
    {% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
    {{ componentMenubar({
      "id": "filter-items",
      "idPrefix": "filter-example",
      "ariaLabel":"Filtrar y ordenar items de la lista",
      "items": [
        {
          "text": "Estados y trámites",
          "ariaLabel": "Estados y trámites",
          "id": "filter-example-item-2",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "label": {
            "text": "Este menú filtra la siguiente lista de items"
          },
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Filtrar",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Filtrar servicios"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Filtrar procesos y convocatorias"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "none",
                "html": '<span class="inline-block px-base py-sm text-neutral-dark focus:outline-none">Estados</span>'
              },
              {
                "role": "group",
                "ariaLabel": "Estados",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Borrador"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Borrador rechazado"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "En validación"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Publicado"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Con cambios"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Dados de baja"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "none",
                "html": '<span class="inline-block px-base py-sm text-neutral-dark focus:outline-none">Plazos (sólo aplican a convocatorias y procesos)</span>'
              },
              {
                "role": "group",
                "ariaLabel": "Plazos (sólo aplican a convocatorias y procesos)",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Plazo permanente"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Plazo temporal indefinido"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Plazo temporal abierto"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Plazo temporal finalizado"
                  }
                ]
              }
            ]
          }
        },
        {
          "text": "Tipología",
          "ariaLabel": "Tipología",
          "id": "filter-example-item-3",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Filtrar por procedimiento",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Procedimiento"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Servicio sin tramitación de procedimiento"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Filtrar por interno/externo",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Interno"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Externo"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Filtrar por común/específico",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Común, horizontal"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Específico, sectorial"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Específico de uso común"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Filtrar por tipo de inicio",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Inicio de oficio"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Inicio a instancia"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Con convocatorias"
              },
              {
                "role": "separator"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Tramitación íntegra digital"
              }
            ]
          }
        },
        {
          "text": "Eliminar filtros",
          "ariaLabel": "Eliminar filtros",
          "id": "filter-example-item-6",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        },
        {
          "text": "Orden: Actividad reciente",
          "ariaLabel": "Orden: Actividad reciente",
          "id": "filter-example-item-4",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tipo de ordenación",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Actividad reciente",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Publicación reciente"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Creación reciente"
                  },
                  {
                    "role": "menuitemradio",
                    "html": 'Número de servicio (de mayor a menor)'
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--sm mb-sm"
        }
      ],
      "classes": "c-menubar--last-right"
    })  }}
  </div>
</div>
