{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}

<div class="grid lg:grid-cols-4 gap-xl mb-lg">
  <div>
    {{ componentCheckboxes({
      "idPrefix": "default",
      "name": "default",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentCheckboxes({
      "idPrefix": "default-hint",
      "name": "default",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
    </div>
    <div>
    {{ componentCheckboxes({
      "idPrefix": "default-hint-error",
      "name": "default-hint-error",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
    </div>
    <div>
    {{ componentCheckboxes({
      "idPrefix": "hints-on-items",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "name": "opcion-1",
          "id": "opcion-1",
          "value": "opcion-1",
          "text": "Opción 1",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-2",
          "id": "opcion-2",
          "value": "opcion-2",
          "text": "Opción 2",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-3",
          "id": "opcion-3",
          "value": "opcion-3",
          "text": "Opción 3",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        }
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-3 lg:gap-xl mb-lg">
  <div>
    {{ componentCheckboxes({
      "idPrefix": "disabled-item",
      "name": "colours",
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "disabled": true,
          "checked": true
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentCheckboxes({
      "idPrefix": "small",
      "name": "small",
      "classes": "c-checkboxes--sm",
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-4",
          "text": "Opción 4",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentCheckboxes({
      "idPrefix": "indeterminate",
      "name": "indeterminate",
      "classes": "c-checkboxes--sm",
      "items": [
        {
          "value": "indeterminate",
          "text": "1 elemento seleccionado (indeterminate)",
          "isIndeterminate": true,
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-2 lg:gap-xl mb-lg">
  <div>
    {{ componentCheckboxes({
      "idPrefix": "with-conditional-items-checked",
      "name": "with-conditional-items-checked",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "conditional": {
            "html": "<label class=\" block \" for=\"context-email-1\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"context-email-1\" type=\"text\" id=\"context-email-1\">\n"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "checked": true,
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-phone\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-phone\" type=\"text\" id=\"contact-phone-1\">\n"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-text-message\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-text-message\" type=\"text\" id=\"contact-text-message-1\">\n"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentCheckboxes({
      "idPrefix": "optional-classes-showing-error",
      "name": "optional-classes-showing-error",
      "formGroup": {
        "classes": "c-form-group--error"
      },
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "conditional": {
            "html": "<label class=\" block \" for=\"context-email-2\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"context-email-2\" type=\"text\" id=\"context-email-2\">\n"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "checked": true,
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-phone-2\">Label</label>\n<span id=\"contact-phone-2-error\" class=\" block font-semibold  text-alert-base \">Error: Mensaje de error</span>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base  border-alert-base ring-2 ring-alert-base \" name=\"contact-phone-2\" type=\"text\" id=\"contact-phone-2\" aria-describedby=\"contact-phone-error\">\n"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-text-message-2\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-text-message-2\" type=\"text\" id=\"contact-text-message-2\">\n"
          }
        }
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-2 lg:gap-xl mb-lg">
  <div>
    {{ componentCheckboxes({
      "idPrefix": "has-dividers",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend",
          "classes": "sr-only"
        }
      },
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "hasDividers": true,
      "items": [
        {
          "name": "opcion-1",
          "id": "opcion-1",
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "name": "opcion-2",
          "id": "opcion-2",
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "name": "opcion-3",
          "id": "opcion-3",
          "value": "opcion-3",
          "text": "Opción 3"
        },
        {
          "name": "opcion-4",
          "id": "opcion-4",
          "value": "opcion-4",
          "text": "Opción 4"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentCheckboxes({
      "idPrefix": "has-dividers-hint",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "hasDividers": true,
      "items": [
        {
          "name": "opcion-1",
          "id": "opcion-1",
          "value": "opcion-1",
          "text": "Opción 1",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-2",
          "id": "opcion-2",
          "value": "opcion-2",
          "text": "Opción 2",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-3",
          "id": "opcion-3",
          "value": "opcion-3",
          "text": "Opción 3",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        }
      ]
    })  }}
  </div>
</div>