{% from "components/select/_macro.select.njk" import componentSelect %}

<div class="grid lg:grid-cols-5 gap-xl mb-lg items-end">
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label"
      },
      "disabled": true,
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "w-full"
    })  }}
  </div>
  <div class="self-end">
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "w-full"
    })  }}
  </div>
  <div class="self-end">
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg items-end">
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "c-select--sm w-full"
    })  }}
  </div>
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "disabled": true,
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "c-select--sm w-full"
    })  }}
  </div>
  <div>
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "hint": {
        "text": "Hint texto descriptivo",
        "classes": "text-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "c-select--sm w-full"
    })  }}
  </div>
  <div class="self-end">
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error",
        "classes": "text-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "c-select--sm w-full"
    })  }}
  </div>
  <div class="self-end">
    {{ componentSelect({
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "hint": {
        "text": "Hint texto descriptivo",
        "classes": "text-sm"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error",
        "classes": "text-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ],
      "classes": "c-select--sm w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-xl mb-lg items-end">
  <div>
    {{ componentSelect({
      "id": "select-optgroup",
      "name": "select-optgroup",
      "label": {
        "text": "Label text goes here"
      },
      "items": [
        {
          "value": 1,
          "text": "Option 1"
        },
        {
          "value": 2,
          "text": "Option 2"
        },
        {
          "optgroup": {
            "label": "Optgroup label A",
            "items": [
              {
                "value": 1,
                "text": "Optgroup suboption A1"
              },
              {
                "value": 2,
                "text": "Optgroup suboption A2",
                "selected": true
              },
              {
                "value": 3,
                "text": "Optgroup suboption A3"
              }
            ]
          }
        },
        {
          "value": 3,
          "text": "Option 3"
        },
        {
          "value": 4,
          "text": "Option 4"
        },
        {
          "optgroup": {
            "label": "Optgroup label B",
            "items": [
              {
                "value": 1,
                "text": "Optgroup suboption B1"
              },
              {
                "value": 2,
                "text": "Optgroup suboption B2"
              },
              {
                "value": 3,
                "text": "Optgroup suboption B3"
              }
            ]
          }
        },
        {
          "value": 5,
          "text": "Option 5"
        },
        {
          "value": 6,
          "text": "Option 6"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentSelect({
      "id": "select-6",
      "name": "select-6",
      "classes": "lg:flex-1",
      "label": {
        "text": "Inline label:",
        "classes": "lg:py-sm lg:mt-sm"
      },
      "formGroup": {
        "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
      },
      "errorMessage": {
        "text": "Error: Error message goes here",
        "classes": "order-1 w-full pt-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Option 1"
        },
        {
          "value": 2,
          "text": "Option 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Option 3",
          "disabled": true
        }
      ]
    })  }}
  </div>
</div>
