{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Datos"
  }) }}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Pills"
    }) }}
  {% include "ds/_ds.example.pills.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Description list"
    }) }}
  {% include "ds/_ds.example.description-list.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Status"
    }) }}
  {% include "ds/_ds.example.status.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Status items"
    }) }}
  {% include "ds/_ds.example.status-item.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Items"
    }) }}
  {% include "ds/_ds.example.item.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Tablas"
    }) }}
  {% include "ds/_ds.example.table.njk" %}
</div>