{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Botones"
  }) }}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones por defecto"
    }) }}
  {% include "ds/_ds.example.botones-default.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones primarios"
    }) }}
  {% include "ds/_ds.example.botones-primary.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones transparentes"
    }) }}
  {% include "ds/_ds.example.botones-transparent.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones alerta"
    }) }}
  {% include "ds/_ds.example.botones-alert.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones pequeños por defecto"
    }) }}
  {% include "ds/_ds.example.botones-default-sm.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones pequeños primarios"
    }) }}
  {% include "ds/_ds.example.botones-primary-sm.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones pequeños transparentes"
    }) }}
  {% include "ds/_ds.example.botones-transparent-sm.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones pequeños alerta"
    }) }}
  {% include "ds/_ds.example.botones-alert-sm.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Botones grandes primarios"
    }) }}
  {% include "ds/_ds.example.botones-primary-lg.njk" %}
</div>
