{% from "components/tree/_macro.tree.njk" import componentTree %}

<div class="grid lg:grid-cols-4 gap-xl mb-lg">
  <div>
    {{ componentTree({
      "name": "with-a-parent-item-opened",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "tree-item",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-item-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-item-item-2",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-item-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-3"
            }
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentTree({
      "name": "indeterminate",
      "classes": "mt-base",
      "type": "checkbox",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "indeterminate-example",
      "items": [
        {
          "text": "Item 1",
          "id": "indeterminate-example-item-1",
          "isIndeterminate": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "indeterminate-example-item-2",
          "isIndeterminate": true,
          "indeterminateChecked": true,
          "checked": false,
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "checked": true
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "indeterminate-example-item-3",
          "isIndeterminate": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-3"
            }
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentTree({
      "name": "with-searchbar",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "searchbar": {
        "id": "with-searchbar-searchbar",
        "label": {
          "text": "Buscar"
        },
        "placeholder": "Buscar organismo"
      },
      "items": [
        {
          "text": "Item 1",
          "id": "with-searchbar-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-searchbar-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-searchbar-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-3"
            }
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentTree({
      "name": "with-many-depth-levels",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "tree-item-nodes",
      "items": [
        {
          "text": "Item 1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 3",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 2",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 3",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "expanded": true,
                      "sub": {
                        "items": [
                          {
                            "text": "Subitem 1",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 2",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 3",
                            "expanded": true,
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      ]
    })  }}
  </div>
</div>