{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Avisos"
  }) }}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Resumen de errores en formularios"
    }) }}
  {% include "ds/_ds.example.error-summary.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Notificaciones de página"
    }) }}
  {% include "ds/_ds.example.notification.njk" %}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Modales"
    }) }}
  {% include "ds/_ds.example.modal.njk" %}
</div>