{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

<div class="grid lg:grid-cols-4 gap-xl mb-lg items-start">
  <div>
    {{ componentSearchbar({
      "id": "searchbar-1",
      "label": {
        "text": "Buscar",
        "classes": "not-sr-only"
      }
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
      "id": "searchbar-2",
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Buscar en este sitio",
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
      "id": "searchbar-3",
      "label": {
        "text": "Buscar"
      },
      "disabled": true,
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
      "id": "searchbar-4",
      "label": {
        "text": "Buscar"
      },
      "errorMessage": {
        "text": "Error: Error message goes here",
        "classes": "mt-xs"
      },
      "value": "Value",
      "classes": "w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-3 gap-xl mb-lg items-start">
  <div>
    {{ componentSearchbar({
      "id": "searchbar-5",
      "label": {
        "text": "Buscar"
      },
      "classes": "c-input--sm w-full",
      "buttonClasses": "m-xs p-0.5 text-xs"
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
      "id": "searchbar-6",
      "label": {
        "text": "Buscar en esta página"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1"
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
      "id": "searchbar-7",
      "label": {
        "text": "Buscar en esta página"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--sm ml-sm"
      },
      "classes": "flex-1 c-input--sm"
    })  }}
  </div>
</div>
