{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {# Remove the "caller" json parameter and use just the code between "call" and "endcall" instead #}
    {% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
    {% call componentHeaderAdvanced({
      "title": {
        "homepageUrl": "/",
        "text": "Titulo de cabecera"
      },
      "navigation": {
        "items": [
          {
            "href": "#1",
            "text": "Inicio"
          },
          {
            "href": "#2",
            "text": "Navigation item 2",
            "active": true
          },
          {
            "href": "#3",
            "text": "Navigation item 3"
          },
          {
            "href": "#4",
            "text": "Navigation item 4"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menu",
        "labelledId": "offcanvas-title"
      }
    })  %}
      <nav class="w-full p-2" aria-label="Menú móvil">
        <h3 class="p-base text-base font-bold">Titulo de cabecera</h3>
        <!-- nav -->
        <ul class="text-sm" aria-label="Lista de páginas">
          <li>
            <span class="flex items-center px-base py-sm font-semibold"  aria-current="page"  id="nav-mobile-pages">
              <strong>Inicio</strong>
            </span>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-2">
              Navigation item 2
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-3">
              Navigation item 3
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" id="nav-mobile-pages-3">
              Navigation item 4
            </a>
          </li>
        </ul>
      </nav>
    {% endcall %}
  </div>
  <div>

  </div>
</div>