{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Mostrar y ocultar"
  }) }}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Acordeones"
    }) }}
  {% include "ds/_ds.example.accordion.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Collapsible"
    }) }}
  {% include "ds/_ds.example.collapsible.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Details"
    }) }}
  {% include "ds/_ds.example.details.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Toggle"
    }) }}
  {% include "ds/_ds.example.toggle.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Tabs"
    }) }}
  {% include "ds/_ds.example.tabs.njk" %}
</div>
