{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentPagination({
      "idPrefix": "pagination",
      "ariaLabel": "Paginación",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1
        },
        {
          "href": "#",
          "text": 2,
          "active": true
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  <div>
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination-has-select",
      "ariaLabel": "Paginación",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1
        },
        {
          "href": "#",
          "text": 2,
          "active": true
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": true,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  <div>
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination-without-prev",
      "ariaLabel": "Paginación",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
  <div>
    {{ componentPagination({
      "id": "with-items-listbox",
      "idPrefix": "with-items-listbox",
      "totalItems": "64",
      "itemsPerPage": "10",
      "hasSelect": true,
      "itemsListbox": {
        "items": [
          {
            "text": "10",
            "active": true
          },
          {
            "text": "25"
          },
          {
            "text": "50"
          },
          {
            "text": "75"
          },
          {
            "text": "100"
          }
        ]
      },
      "items": [
        {
          "href": "#",
          "text": 1
        },
        {
          "href": "#",
          "text": 2,
          "active": true
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-label": "Paginación"
      }
    })  }}
  </div>
</div>