{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Elementos de formulario"
  }) }}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Inputs de texto"
  }) }}
  {% include "ds/_ds.example.input.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Textarea y Character count"
  }) }}
  {% include "ds/_ds.example.textarea.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Date input"
  }) }}
  {% include "ds/_ds.example.date-input.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "File upload"
  }) }}
  {% include "ds/_ds.example.file-upload.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Searchbar"
  }) }}
  {% include "ds/_ds.example.searchbar.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Select"
  }) }}
  {% include "ds/_ds.example.select.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Input group"
  }) }}
  {% include "ds/_ds.example.input-group.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Checkboxes"
  }) }}
  {% include "ds/_ds.example.checkboxes.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Radios"
  }) }}
  {% include "ds/_ds.example.radios.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Tree"
  }) }}
  {% include "ds/_ds.example.tree.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Listbox por defecto"
  }) }}
  {% include "ds/_ds.example.listbox-default.njk" %}
  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Listbox variaciones"
  }) }}
  {% include "ds/_ds.example.listbox-variaciones.njk" %}
</div>
