{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Por defecto
  </div>
  <div class="col-span-4">
    {{ componentMenubar({
      "id": "with-all-parent-items-1",
      "idPrefix": "parent-example",
      "ariaLabel":"Menubar description",
      "items": [
        {
          "text": "Menuitem",
          "ariaLabel": "Menuitem",
          "id": "menuitems-example-item-1-1",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "Subitem 1"
              },
              {
                "role": "menuitem",
                "text": "Subitem 2"
              },
              {
                "role": "menuitem",
                "text": "Subitem 3"
              }
            ]
          },
          "classes": "mb-base mr-base"
        },
        {
          "text": "Menuitemcheckbox",
          "ariaLabel": "Menuitemcheckbox",
          "id": "menuitems-example-item-2-1",
          "classes": "mb-base mr-base",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 2"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 3"
              }
            ]
          }
        },
        {
          "text": "Menuitemradio",
          "ariaLabel": "Menuitemradio",
          "id": "menuitems-example-item-3-1",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "group label",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Radio 1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 2"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 3"
                  }
                ]
              }
            ]
          },
          "classes": "mb-base mr-base"
        },
        {
          "text": "Mixed items",
          "ariaLabel": "Mixeditems",
          "id": "menuitems-example-item-4-1",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tamaño de letra",
                "items": [
                  {
                    "role": "menuitem",
                    "text": "Tamaño mayor"
                  },
                  {
                    "role": "menuitem",
                    "text": "Tamaño menor"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de letra",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Negritas"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Itálicas"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de texto",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Ninguno"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tachado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Subrayado"
                  }
                ]
              }
            ]
          },
          "classes": "mb-base mr-base"
        },
        {
          "text": "Menuitem solo",
          "ariaLabel": "Menuitem solo",
          "id": "menuitems-example-item-6-1",
          "classes": "c-menubar__button--transparent mb-base mr-base",
          "href": "#"
        }
      ]
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Transparent
  </div>
  <div class="col-span-4">
    {{ componentMenubar({
      "id": "transparent-items",
      "idPrefix": "transparent-example",
      "ariaLabel":"Menubar description",
      "items": [
        {
          "text": "Menuitem",
          "ariaLabel": "Menuitem",
          "id": "transparent-example-item-1",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "Subitem 1"
              },
              {
                "role": "menuitem",
                "text": "Subitem 2"
              },
              {
                "role": "menuitem",
                "text": "Subitem 3"
              }
            ]
          },
          "classes": "c-menubar__button--transparent mb-sm mr-sm"
        },
        {
          "text": "Menuitemcheckbox",
          "ariaLabel": "Menuitemcheckbox",
          "id": "transparent-example-item-2",
          "classes": "c-menubar__button--transparent mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 2",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 3"
              }
            ]
          }
        },
        {
          "text": "Menuitemradio",
          "ariaLabel": "Menuitemradio",
          "id": "transparent-example-item-3",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "group label",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Radio 1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 2",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 3"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--transparent mb-sm mr-sm"
        },
        {
          "text": "Mixed items",
          "ariaLabel": "Mixeditems",
          "id": "transparent-example-item-4",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tamaño de letra",
                "items": [
                  {
                    "role": "menuitem",
                    "text": "Tamaño mayor"
                  },
                  {
                    "role": "menuitem",
                    "text": "Tamaño menor"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de letra",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Negritas"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Itálicas"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de texto",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Ninguno"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tachado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Subrayado"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--transparent mb-sm mr-sm"
        },
        {
          "text": "Menuitem solo",
          "ariaLabel": "Menuitem solo",
          "id": "transparent-example-item-6",
          "classes": "c-menubar__button--transparent mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Header
  </div>
  <div class="col-span-4">
    {{ componentMenubar({
      "id": "header-items",
      "idPrefix": "header-example",
      "ariaLabel":"Menubar description",
      "items": [
        {
          "text": "Menuitem",
          "ariaLabel": "Menuitem",
          "id": "header-example-item-1",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "Subitem 1"
              },
              {
                "role": "menuitem",
                "text": "Subitem 2"
              },
              {
                "role": "menuitem",
                "text": "Subitem 3"
              }
            ]
          },
          "classes": "c-menubar__button--header mr-base"
        },
        {
          "text": "Menuitemcheckbox",
          "ariaLabel": "Menuitemcheckbox",
          "id": "header-example-item-2",
          "classes": "c-menubar__button--header mr-base",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 2",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 3"
              }
            ]
          }
        },
        {
          "text": "Menuitemradio",
          "ariaLabel": "Menuitemradio",
          "id": "header-example-item-3",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "group label",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Radio 1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 2",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 3"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--header mr-base"
        },
        {
          "text": "Mixed items",
          "ariaLabel": "Mixeditems",
          "id": "header-example-item-4",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tamaño de letra",
                "items": [
                  {
                    "role": "menuitem",
                    "text": "Tamaño mayor"
                  },
                  {
                    "role": "menuitem",
                    "text": "Tamaño menor"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de letra",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Negritas"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Itálicas"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de texto",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Ninguno"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tachado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Subrayado"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--header mr-base"
        },
        {
          "text": "Menuitem solo",
          "ariaLabel": "Menuitem solo",
          "id": "header-example-item-6",
          "classes": "c-menubar__button--header mr-base",
          "href": "#"
        }
      ]
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Pequeño
  </div>
  <div class="col-span-4">
    {{ componentMenubar({
      "id": "small-items",
      "idPrefix": "small-example",
      "ariaLabel":"Menubar description",
      "items": [
        {
          "text": "Menuitem",
          "ariaLabel": "Menuitem",
          "id": "small-example-item-1",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "Subitem 1"
              },
              {
                "role": "menuitem",
                "text": "Subitem 2"
              },
              {
                "role": "menuitem",
                "text": "Subitem 3"
              }
            ]
          },
          "classes": "c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Menuitemcheckbox",
          "ariaLabel": "Menuitemcheckbox",
          "id": "small-example-item-2",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 2",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 3"
              }
            ]
          }
        },
        {
          "text": "Menuitemradio",
          "ariaLabel": "Menuitemradio",
          "id": "small-example-item-3",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "group label",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Radio 1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 2",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 3"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Mixed items",
          "ariaLabel": "Mixeditems",
          "id": "small-example-item-4",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tamaño de letra",
                "items": [
                  {
                    "role": "menuitem",
                    "text": "Tamaño mayor"
                  },
                  {
                    "role": "menuitem",
                    "text": "Tamaño menor"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de letra",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Negritas"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Itálicas"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de texto",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Ninguno"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tachado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Subrayado"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Menuitem solo",
          "ariaLabel": "Menuitem solo",
          "id": "small-example-item-6",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg">
  <div>
    Pequeño tiene selección
  </div>
  <div class="col-span-4">
    {{ componentMenubar({
      "id": "small-items-selection",
      "idPrefix": "small-example-selection",
      "ariaLabel":"Menubar description",
      "items": [
        {
          "text": "Menuitem",
          "ariaLabel": "Menuitem",
          "id": "small-example-selection-item-1",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "Subitem 1"
              },
              {
                "role": "menuitem",
                "text": "Subitem 2"
              },
              {
                "role": "menuitem",
                "text": "Subitem 3"
              }
            ]
          },
          "classes": "c-menubar__button--has-selection c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Menuitemcheckbox",
          "ariaLabel": "Menuitemcheckbox",
          "id": "small-example-selection-item-2",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 2",
                "checked": true
              },
              {
                "role": "menuitemcheckbox",
                "text": "Subitem 3"
              }
            ]
          }
        },
        {
          "text": "Menuitemradio",
          "ariaLabel": "Menuitemradio",
          "id": "small-example-selection-item-3",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "group label",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Radio 1"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 2",
                    "checked": true
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Radio 3"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--has-selection c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Mixed items",
          "ariaLabel": "Mixeditems",
          "id": "small-example-selection-item-4",
          "sub": {
            "items": [
              {
                "role": "group",
                "ariaLabel": "Tamaño de letra",
                "items": [
                  {
                    "role": "menuitem",
                    "text": "Tamaño mayor"
                  },
                  {
                    "role": "menuitem",
                    "text": "Tamaño menor"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de letra",
                "items": [
                  {
                    "role": "menuitemcheckbox",
                    "text": "Negritas"
                  },
                  {
                    "role": "menuitemcheckbox",
                    "text": "Itálicas"
                  }
                ]
              },
              {
                "role": "separator"
              },
              {
                "role": "group",
                "ariaLabel": "Estilo de texto",
                "items": [
                  {
                    "role": "menuitemradio",
                    "text": "Ninguno"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Tachado"
                  },
                  {
                    "role": "menuitemradio",
                    "text": "Subrayado"
                  }
                ]
              }
            ]
          },
          "classes": "c-menubar__button--sm mb-sm mr-sm"
        },
        {
          "text": "Menuitem solo",
          "ariaLabel": "Menuitem solo",
          "id": "small-example-selection-item-6",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        }
      ]
    })  }}
  </div>
</div>
