{% from "components/item/_macro.item.njk" import componentItem %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {{ componentItem({
      "title": {
        "text": "Entidades locales de la Comunidad Autónoma de Aragón"
      }
    })  }}
  </div>
  <div>
    {{ componentItem({
      "title": {
        "html": "Registro de alta de la asociación"
      },
      "description": {
        "html": "Documento acreditativo de registro de alta de la <a href=\" # \" class=\" c-link \">asociación</a>"
      }
    })  }}
  </div>
  <div>
    {{ componentItem({
      "title": {
        "text": "Entidades locales de la Comunidad Autónoma de Aragón"
      },
      "items": [
        {
          "text": "Desde modelo"
        },
        {
          "text": "Obligatorio previo a resolución"
        },
        {
          "text": "Condicionado"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentItem({
      "title": {
        "text": "Registro de alta de la asociación"
      },
      "content": {
        "html": "Modelo: <a class=\" c-link break-all \" href=\" # \">Modelo de fianza (PDF, 20Kb)</a> ",
        "classes": "text-neutral-dark"
      }
    })  }}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Registro de alta de la asociación"
      }
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% from "components/item/_macro.item.njk" import componentItem %}
    {{ componentItem({
      "title": {
        "text": "Entidades locales de la Comunidad Autónoma de Aragón"
      },
      "isDraggable": true
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {% call componentItem({
      "title": {
        "text": "Entidades locales de la Comunidad Autónoma de Aragón"
      },
      "isLocked": true
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Resolución de años anteriores"
      },
      "content": {
        "html": "<a class=\" c-link break-all \" href=\" # \">Resolución años anteriores (PDF, 20Kb)</a> "
      },
      "icon": {
        "type": "document"
      }
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Lista de admitidos y excluidos de la convocatoria publicado en el BOA"
      },
      "content": {
        "html": "<a class=\" c-link break-all \" href=\" # \">http://www.boa.aragon.es/cgi-bin/EBOA/BRSCGI?CMD=VEROBJ&MLKOB=1119520063030&type=pdf</a> "
      },
      "icon": {
        "type": "link"
      }
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Datos de la empresa"
      },
      "items": [
        {
          "text": "12 campos"
        },
        {
          "text": "Con dependencia"
        },
        {
          "text": "Tabla de datos"
        }
      ],
      "icon": {
        "type": "clipboard"
      }
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Resolución de años anteriores"
      },
      "content": {
        "html": "<a class=\" c-link break-all \" href=\" # \">Resolución años anteriores (PDF, 20Kb)</a> "
      },
      "icon": {
        "type": "document"
      },
      "isDraggable": true
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
  <div>
    {% call componentItem({
      "title": {
        "text": "Registro de alta de la asociación",
        "classes": "font-bold"
      },
      "description": {
        "text": "Documento acreditativo de registro de alta de la asociación"
      },
      "items": [
        {
          "text": "Desde modelo"
        },
        {
          "text": "Obligatorio previo a resolución"
        },
        {
          "text": "Condicionado"
        }
      ],
      "content": {
        "html": "Modelo: <a class=\" c-link break-all \" href=\" # \">Modelo de fianza (PDF, 20Kb)</a> ",
        "classes": "text-neutral-dark"
      }
    })  %}
        <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
    {% endcall %}
  </div>
</div>