<div class="grid grid-cols-2 lg:grid-cols-4 gap-5 mb-sm">
  <div class="border-l border-black px-4">
    <p>black 1px</p>
    <p class="text-neutral-dark text-sm">Bordes de campos de texto <br>
                                         Cabecera de tablas</p>
  </div>
  <div class="border-l border-neutral-base px-4">
    <p>neutral-base 1px</p>
    <p class="text-neutral-dark text-sm">Separadores de contenidos <br>
                                         Bordes de tarjetas <br>
                                         Bordes de menus desplegables</p>
  </div>
  <div class="border-l border-alert-base px-4">
    <p>alert-base 1px</p>
    <p class="text-neutral-dark text-sm">Mensajes de error <br>
                                         Borde de campos de texto </p>
  </div>
  <div></div>
  <div class="border-l-4 border-black px-4">
    <p>black 4px</p>
    <p class="text-neutral-dark text-sm">Mensajes de error <br>
                                         Borde de campos de texto </p>
  </div>
  <div class="border-l-4 border-neutral-base px-4">
    <p>neutral-base 4px</p>
    <p class="text-neutral-dark text-sm">Mensajes de información <br>
                                         algunos detalles de estados activosa<br>
                                         campos condicionales</p>
  </div>
  <div class="border-l-4 border-alert-base px-4">
    <p>alert-base 4px</p>
    <p class="text-neutral-dark text-sm">Mensajes de información <br>
                                         algunos detalles de estados activos </p>
  </div>
  <div class="border-l-4 border-primary-base px-4">
    <p>primary-base 4px</p>
    <p class="text-neutral-dark text-sm">Mensajes de información <br>
                                         algunos detalles de estados activos </p>
  </div>
</div>