{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Información"
  }) }}
  <div class="pb-xl"></div>
    {{ DSSubsectionTitle({
      title: "Cards"
    }) }}
  {% include "ds/_ds.example.card.njk" %}
</div>