{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}

<div class="grid lg:grid-cols-5 gap-xl mb-lg items-end">
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label"
      },
      "id": "input-11",
      "name": "test-name",
      "placeholder": "Placeholder",
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label"
      },
      "id": "input-12",
      "name": "test-name",
      "disabled": true,
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "id": "input-13",
      "name": "test-name",
      "value": "Value",
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label"
      },
      "id": "input-14",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "id": "input-15",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "classes": "w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg items-end">
  <div>
    {{ componentCharacterCount({
      "label": {
        "text": "Label"
      },
      "id": "input-11",
      "name": "test-name",
      "maxlength": 10,
      "placeholder": "Placeholder",
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentCharacterCount({
      "label": {
        "text": "Label"
      },
      "id": "input-12",
      "name": "test-name",
      "disabled": true,
      "maxlength": 10,
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentCharacterCount({
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "id": "input-13",
      "name": "test-name",
      "maxlength": 10,
      "value": "Value",
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentCharacterCount({
      "label": {
        "text": "Label"
      },
      "id": "input-14",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "maxlength": 10,
      "classes": "w-full"
    })  }}
  </div>
  <div>
    {{ componentCharacterCount({
      "label": {
        "text": "Label"
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "id": "input-15",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "maxlength": 10,
      "classes": "w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-5 gap-xl mb-lg items-end">
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "id": "input-21",
      "name": "test-name",
      "classes": "text-sm w-full",
      "placeholder": "Placeholder"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "id": "input-22",
      "name": "test-name",
      "classes": "text-sm w-full",
      "disabled": true
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "hint": {
        "text": "Hint texto descriptivo",
        "classes": "text-sm"
      },
      "id": "input-23",
      "name": "test-name",
      "classes": "text-sm w-full",
      "value": "Value"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "id": "input-24",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error",
        "classes": "text-sm"
      },
      "classes": "text-sm w-full"
    })  }}
  </div>
  <div>
    {{ componentTextarea({
      "label": {
        "text": "Label",
        "classes": "text-sm"
      },
      "hint": {
        "text": "Hint texto descriptivo",
        "classes": "text-sm"
      },
      "id": "input-25",
      "name": "test-name",
      "errorMessage": {
        "text": "Error: Mensaje de error",
        "classes": "text-sm"
      },
      "classes": "text-sm w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-3 gap-xl mb-lg items-end">
  <div>
    {{ componentTextarea({
      "formGroup": {
        "classes": "lg:flex lg:flex-wrap lg:items-start lg:gap-x-base"
      },
      "label": {
        "text": "Inline label:",
        "classes": "lg:py-sm lg:mt-sm"
      },
      "id": "classes-applied-b",
      "name": "classes-applied-b",
      "errorMessage": {
        "text": "Error: Error message goes here",
        "classes": "order-1 w-full pt-sm"
      },
      "classes": "lg:flex-1"
    })  }}
  </div>
</div>