{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg items-end">
  <div>
    {{ componentInputGroup({
      "id": "doc-identidad-a",
      "namePrefix": "doc-identidad-a",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad"
        }
      },
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "label": {
            "text": "Tipo"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ]
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número"
          },
          "placeholder": "Ej: 28999876V"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentInputGroup({
      "id": "doc-identidad-b",
      "namePrefix": "doc-identidad-b",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad"
        }
      },
      "hint": {
        "text": "Selecciona tu tipo de documento e introduce el número de documento sin espacios"
      },
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "label": {
            "text": "Tipo"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ]
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número"
          },
          "placeholder": "Ej: 28999876V"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentInputGroup({
      "id": "doc-identidad-c",
      "namePrefix": "doc-identidad-c",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad",
          "classes": "font-bold"
        }
      },
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "label": {
            "text": "Tipo",
            "classes": "sr-only"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ],
          "attributes": {
            "aria-label": "Tipo"
          }
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número",
            "classes": "sr-only"
          },
          "placeholder": "Ej: 28999876V",
          "attributes": {
            "aria-label": "Número"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentInputGroup({
      "id": "datos-error-nombre",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-40 border-alert-base ring-2 ring-alert-base"
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-auto"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentInputGroup({
      "id": "with-divider",
      "namePrefix": "with-divider",
      "fieldset": {
        "legend": {
          "text": "Introduce cantidad"
        }
      },
      "items": [
        {
          "divider": {
            "text": "Desde:",
            "classes": "self-end mb-xl mr-base"
          }
        },
        {
          "name": "num-doc-A",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Cantidad inicio",
            "classes": "sr-only"
          },
          "placeholder": "Ej: 0"
        },
        {
          "divider": {
            "text": "hasta:",
            "classes": "self-end mb-xl mx-base"
          }
        },
        {
          "name": "num-doc-B",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Cantidad final",
            "classes": "sr-only"
          },
          "placeholder": "Ej: 600"
        }
      ]
    })  }}
  </div>
</div>
