{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}

{% macro DSCodeSnippet(urlSnippet, params={}) %}
  {% set codeSnippetVariable %}{% include urlSnippet %}{% endset %}
  {% set htmlContent %}
    <div class="py-base">
      <pre><code class="language-markup text-sm">{{ codeSnippetVariable|escape }}</code></pre>
    </div>
  {% endset %}
  {% call componentDetails({
    "summary": {
      "html": 'Mostrar código<span class="sr-only">del ejemplo: ' + params + '</span>',
      "classes": "c-link text-sm"
    }
  })  %}
    {{ componentTabs({
      "tablistAriaLabel": "Ejemplo de código de: " + params,
      "idPrefix": "tab-" + params,
      "classes": "c-tabs--scroll",
      "items": [
        {
          "html": 'HTML<span class="sr-only"> del ejemplo: '+ params +'</span>',
          "panel": {
            "html": htmlContent | trim | safe
          }
        }
      ]
    })  }}
{% endcall %}

{% endmacro %}
