{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

<div class="grid lg:grid-cols-3 gap-xl mb-lg">
  <div>
    {{ componentTable({
      "classes": "w-full",
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ]
    })  }}
  </div>
  <div>
    {{ componentTable({
      "classes": "w-full",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes"
        },
        {
          "text": "Precio bruto",
          "classes": "text-right"
        },
        {
          "text": "Precio neto",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ]
    })  }}
  </div>
  <div>
    {{ componentTableAdvanced({
      "classes": "w-full",
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentTableAdvanced({
      "caption": "Caption 1: Meses y precios",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes"
        },
        {
          "text": "Precio bruto",
          "classes": "text-right"
        },
        {
          "text": "Precio neto",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  <div class="pt-lg">
    {{ componentCheckboxes({
      "idPrefix": "indeterminate",
      "name": "indeterminate",
      "classes": "c-checkboxes--sm",
      "items": [
        {
          "value": "indeterminate",
          "text": "Seleccionar elementos",
          "isIndeterminate": true,
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ],
      "formGroup": {
        "classes": "mb-0 ml-base"
      }
    })  }}
    {{ componentTableAdvanced({
      "idPrefix": "table-with-all",
      "hasCheckboxes": true,
      "head": [
        {
          "text": "Mes",
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "text": "Precio bruto",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Precio neto",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  <div class="py-xl">
    {{ componentTableAdvanced({
      "idPrefix": "table-with-head-and-selects",
      "head": [
        {
          "text": "Month you apply",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Option 1"
              },
              {
                "value": 2,
                "text": "Option 2"
              },
              {
                "value": 3,
                "text": "Option 3"
              }
            ]
          }
        },
        {
          "text": "Rate for bicycles",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Option 1"
              },
              {
                "value": 2,
                "text": "Option 2"
              },
              {
                "value": 3,
                "text": "Option 3"
              }
            ]
          }
        },
        {
          "text": "Rate for vehicles",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Option 1"
              },
              {
                "value": 2,
                "text": "Option 2"
              },
              {
                "value": 3,
                "text": "Option 3"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "text": "January"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "February"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "March"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
  <div class="pt-xl">
    {{ componentTableAdvanced({
      "idPrefix": "table-with-sticky-columns",
      "hasCheckboxes": true,
      "checkboxesClasses": "sticky left-0 z-10 w-0 bg-white",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Row number",
          "classes": "sticky left-16 z-10 w-60 bg-white"
        },
        {
          "text": "Month you apply",
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "text": "Rate for bicycles",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for vehicles",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column A",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column B",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column C",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column D",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column E",
          "orderBy": "none",
          "classes": "text-right sticky right-0 z-10 w-60 bg-white",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "text": "First row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "January"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky z-10 right-0 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Second row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "February"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky right-0 z-10 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Third row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "March"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky z-10 right-0 w-60 bg-white"
          }
        ]
      ],
      "wrapper": {
        "classes": "overflow-x-auto pb-base"
      },
      "classes": "relative whitespace-nowrap min-w-full"
    })  }}
  </div>
  <div class="pt-xl">
    {{ componentTableAdvanced({
      "idPrefix": "table-with-all",
      "hasCheckboxes": true,
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Row number"
        },
        {
          "text": "Month you apply",
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "text": "Rate for bicycles",
          "orderBy": "none",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Option 1"
              },
              {
                "value": 2,
                "text": "Option 2"
              },
              {
                "value": 3,
                "text": "Option 3"
              }
            ]
          }
        },
        {
          "text": "Rate for vehicles",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true,
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Option 1"
              },
              {
                "value": 2,
                "text": "Option 2"
              },
              {
                "value": 3,
                "text": "Option 3"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "text": "First row"
          },
          {
            "text": "January"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Second row"
          },
          {
            "text": "February"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Third row"
          },
          {
            "text": "March"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    })  }}
  </div>
</div>