{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentMenuHorizontal({
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción deshabilitada 3",
          "disabled": true
        },
        {
          "href": "#",
          "text": "Opción activa 4",
          "active": true
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Menu horizontal"
      }
    })  }}
  </div>
  <div>
    {{ componentMenuHorizontal({
      "classes": "c-menu-horizontal--tabs",
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción deshabilitada 3",
          "disabled": true
        },
        {
          "href": "#",
          "text": "Opción activa 4",
          "active": true
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Menu horizontal"
      }
    })  }}
  </div>
</div>