{% from "_macro.component-example.njk" import componentExample %}
{% from "_macro.show-html-from-file.njk" import showHtmlFromFile %}

<!--  _ds.section.layout.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}

  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Tamaño de pantalla"
  }) }}
  <p class="c-paragraph-base">Diseñamos para un tamaño de pantalla mínimo de <code>1024px</code> correspondiente a nuestro breakpoint <code>lg</code> con un contenedor centrado y de anchura máxima <code>1280px</code>, correspondiente a nuestras clases <code>container mx-auto px-base</code>.</p>
  <p class="c-paragraph-base">Comienza diseñando para dispositivos móviles o pantallas pequeñas, resuelve su navegación con las opciones que te da el componente header y luego reposiciona los elementos para anchuras mayores. Tenemos configurados varios saltos de breakpoint, pero recomendamos usar sólo el breakpoint por defecto y el <code>lg</code>.</p>
  <p class="c-paragraph-base">Breakpoints:</p>
  <ul class="c-ul">
    <li>(Sin prefijo): de <code>0px</code> para arriba (Recomendado)</li>
    <li><code>sm</code>: <code>640px</code></li>
    <li><code>md</code>: <code>768px</code></li>
    <li><code>lg</code>: <code>1024px</code> (Recomendado)</li>
    <li><code>xl</code>: <code>1280px</code></li>
  </ul>
  <p class="c-paragraph-base">Puedes añadir breakpoints extra para aprovechar más la anchura del viewport. Esto es útil para aplicaciones web basadas en tablas donde se necesite más anchura para que quepan más columnas en las tablas. Basta con añadir al archivo tailwind.config.js de tu proyecto alguna de estas líneas de código:</p>
  <ul class="c-ul">
    <li><code>2xl: '1536px',</code></li>
    <li><code>3xl: '1900px',</code></li>
  </ul>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Columnas"
  }) }}
  <p class="c-paragraph-base">Usamos un sistema basado en 4 columnas, con un espacio de <code>gap-lg</code> - <code>1.75rem</code> - <code>28px / 16px</code>. Utiliza las combinaciones reflejadas a continuación. Evita utilizar el layout a una columna (100%) para textos en pantallas de gran tamaño, afectaría negativamente a la legibilidad.</p>
  <div class="pb-lg"></div>
  <h3 class="c-h4">Pantallas grandes. Escritorio</h3>
  {% call componentExample()  %}
    {% include "ds/_ds.example.layout-sidebar.njk" %}
  {% endcall %}
  {{ showHtmlFromFile("ds/_ds.example.layout-sidebar.njk") }}
  <div class="pb-xl"></div>
  {% call componentExample()  %}
    {% include "ds/_ds.example.layout-escritorio.njk" %}
  {% endcall %}
  {{ showHtmlFromFile("ds/_ds.example.layout-escritorio.njk") }}
  <div class="pb-xl"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  <h3 class="c-h4">Pantallas pequeñas. Móvil</h3>
  <div class="grid lg:grid-cols-2 gap-xl">
    {% call componentExample()  %}
      {% include "ds/_ds.example.layout-movil.njk" %}
    {% endcall %}
    <div class="col-span-1">
      <div class="pb-base"></div>
      <p>En móviles utilizamos solo 2 combinaciones:</p>
      <ul>
        <li>una columna (100%)</li>
        <li>dos columnas (50% + 50%)</li>
      </ul>
      <div class="pb-lg"></div>
    </div>
  </div>
  {{ showHtmlFromFile("ds/_ds.example.layout-movil.njk") }}
</div>