{% from "components/modal/_macro.modal.njk" import componentModal %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {{ componentModal({
      "id": "default-example",
      "title": {
        "text": "Aviso"
      },
      "description": {
        "text": "Estamos realizando labores de mantenimiento en el sistema. Es posible que algunos procesos tarden más de lo esperado. Rogamos disculpas."
      },
      "itemsPrimary": [
        {
          "text": "De acuerdo, continuar",
          "classes": "c-button--primary"
        }
      ],
      "isDismissible": true
    })  }}
  </div>
  <div>
    {% call componentModal({
      "id": "caller-example",
      "title": {
        "text": "Editar servicio publicado"
      },
      "description": {
        "html": "<p>Actualmente este servicio está publicado.</p><p>Los cambios realizados no serán visibles hasta que sean validados</p>"
      },
      "itemsPrimary": [
        {
          "text": "Editar servicio",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "caller": "<div class=\"prose max-w-auto mx-auto\"><p class=\"text-center text-sm\">Para más información, ir a la <a href=\"#\">Página de ayuda</a></p></div>"
    })  %}
        <div class="prose max-w-auto mx-auto"><p class="text-center text-sm">Para más información, ir a la <a href="#">Página de ayuda</a></p></div>
    {% endcall %}
  </div>
  <div>
    {{ componentModal({
      "id": "icon-type-A-example",
      "title": {
        "text": "Borrar servicio"
      },
      "description": {
        "html": "Esta acción no se puede deshacer ¿Estás seguro?"
      },
      "itemsPrimary": [
        {
          "text": "Si, borrar servicio",
          "classes": "c-button--alert"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "type": "delete"
      }
    })  }}
  </div>
  <div>
    {{ componentModal({
      "id": "icon-type-B-example",
      "title": {
        "text": "Descartar cambios"
      },
      "description": {
        "html": "Si descartas los cambios, perderás el trabajo realizado en este servicio. ¿Estás seguro?"
      },
      "itemsPrimary": [
        {
          "text": "Si, descartar cambios",
          "classes": "c-button--alert"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "type": "discard"
      }
    })  }}
  </div>
  <div>
    {{ componentModal({
      "id": "icon-type-C-example",
      "title": {
        "text": "Hay cambios sin guardar"
      },
      "description": {
        "html": "Si sales de la pantalla de edición sin guardar, perderás los cambios realizados."
      },
      "itemsPrimary": [
        {
          "text": "Guardar y salir",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Descartar cambios y salir",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "type": "changes"
      }
    })  }}
  </div>
  <div>
    {{ componentModal({
      "id": "icon-type-D-example",
      "title": {
        "text": "Editar servicio publicado"
      },
      "description": {
        "html": '<p class="c-paragraph-base">Actualmente este servicio está publicado. Los cambios realizados no serán visibles hasta que sean validados</p>'
      },
      "itemsPrimary": [
        {
          "text": "Lo sé, quiero editarlo",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "type": "edit"
      }
    })  }}
  </div>
  <div>
    {{ componentModal({
      "id": "icon-type-E-example",
      "title": {
        "text": "Publicar"
      },
      "description": {
        "html": "Se van a publicar todos los elementos de este servicio que están pendientes de publicación."
      },
      "itemsPrimary": [
        {
          "text": "Publicar",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "type": "publish"
      }
    })  }}
  </div>
  <div>
    {{ componentModal({
      "id": "custom-icon-example",
      "title": {
        "text": "¿Cambiar de estado a múltiples archivos?"
      },
      "description": {
        "html": '<p class="c-paragraph-base">Acabas de seleccionar una gran cantidad de archivos. Si ejecutas la acción, el proceso puede tardar varios minutos. Durante el proceso <strong>no cierres la ventana del navegador ni naveges a otra página</strong> en esta pestaña.</p><p class="c-paragraph-base">¿Estás seguro de iniciar el proceso ahora?</p>'
      },
      "itemsPrimary": [
        {
          "text": "Si, comenzar proceso",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"block w-16 h-16 text-primary-light\" aria-label=\"Pregunta\" focusable=\"false\"><g fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><path d=\"M52.5 52.5a17.5 17.5 0 1123.333 16.503A8.75 8.75 0 0070 77.257v5.868M70 100.625a2.188 2.188 0 102.188 2.188A2.188 2.188 0 0070 100.624h0\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"8.749995\"/><path d=\"M4.375 70a65.625 65.625 0 10131.25 0 65.625 65.625 0 10-131.25 0z\" stroke-miterlimit=\"10\" stroke-width=\"8.749995\"/></g></svg>"
      }
    })  }}
  </div>
</div>