{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentErrorSummary({
      "titleText": "Problemas encontrados",
      "errorList": [
        {
          "text": "Campo Nombre de la empresa está vacío",
          "href": "#example-error-1"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#example-error-2"
        }
      ]
    })  }}
  </div>
  <div>
    {% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
    {{ componentErrorSummary({
      "titleText": "Problemas encontrados",
      "descriptionText": "Por favor, corrige los errores siguientes.",
      "errorList": [
        {
          "text": "El nombre de usuario no puede tener menos de 4 caracteres"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#example-error-2"
        }
      ]
    })  }}
  </div>
</div>