<div class="grid grid-cols-6 gap-5 mb-lg">
    <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-base text-black"><div class="self-center text-center w-full"><p>Warning</p></div></div>
    </div>
    <div class="flex col-span-3 lg:col-span-2">
      <div class="self-center text-sm">
        <p>Focus</p>
        <p>Aviso de precaución</p>
        <p>En espera</p>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-light text-black"><div class="self-center text-center w-full"><p class="mb-sm">warning-light</p><p>#fef6b2</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-base text-black"><div class="self-center text-center w-full"><p class="mb-sm">warning-base</p><p>#fdcb33</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-dark text-black"><div class="self-center text-center w-full"><p class="mb-sm">warning-dark</p><p>#b88e12</p></div></div>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-5 mb-lg">
    <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-base text-black"><div class="self-center text-center w-full"><p>Success</p></div></div>
    </div>
    <div class="flex col-span-3 lg:col-span-2">
      <div class="self-center text-sm">
        <p>Confirmación</p>
        <p>Publicado</p>
        <p>Correcto</p>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-light text-black"><div class="self-center text-center w-full"><p class="mb-sm">success-light</p><p>#dcf8e2</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-base text-black"><div class="self-center text-center w-full"><p class="mb-sm">success-base</p><p>#24d14c</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-dark font-semibold text-black"><div class="self-center text-center w-full"><p class="mb-sm">success-dark</p><p>#1aa23a</p></div></div>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-5 mb-lg">
    <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-base text-black"><div class="self-center text-center w-full"><p>Info</p></div></div>
    </div>
    <div class="flex col-span-3 lg:col-span-2">
      <div class="self-center text-sm">
        <p>Aviso informativo</p>
        <p>Información adicional</p>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-light text-black"><div class="self-center text-center w-full"><p class="mb-sm">info-light</p><p>#feebcc</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-base text-black"><div class="self-center text-center w-full"><p class="mb-sm">info-base</p><p>#fa9902</p></div></div>
    </div>
    <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-dark font-semibold text-black"><div class="self-center text-center w-full"><p class="mb-sm">info-dark</p><p>#c97a00</p></div></div>
    </div>
  </div>
<div class="grid grid-cols-6 gap-5 mb-lg">
  <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-base text-white"><div class="self-center text-center w-full"><p>Alert</p></div></div>
  </div>
  <div class="flex col-span-3 lg:col-span-2">
    <div class="self-center text-sm">
      <p>Alerta</p>
      <p>Aviso de acción destructiva</p>
      <p>Peligro</p>
    </div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-light text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-light</p><p>#fbd3ce</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-base</p><p>#d22333</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-dark font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-dark</p><p>#a40014</p></div></div>
  </div>
</div>