<div class="grid grid-cols-6 lg:grid-cols-8 gap-5 mb-sm">
  <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-heading-base text-white"><div class="self-center text-center w-full"><p>Heading</p></div></div>
  </div>
  <div class="flex col-span-3 lg:col-span-2">
    <div class="self-center text-sm">
      <p>Color de fondo de cabecera</p>
    </div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-heading-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">heading-base</p><p>#2d495f</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-heading-dark text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">heading-dark</p><p>#21384b</p></div></div>
  </div>
</div>