
<!--  _ds.section.spacing.njk -->

<div class="container mx-auto">
  
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Espaciado para elementos"
  }) }}
  <div class="prose">
    <p>
      Utiliza en la medida de lo posible estos valores, que se aplicarán automáticamente por Tailwind CSS a height, max-height, margin, padding, gap e inset.
    </p>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Pixels</th>
          <th>Ejemplo de clases</th>
          <th class="hidden sm:table-cell"><span class="sr-only">Previsualización</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xs</td>
          <td>0.25rem</td>
          <td>4px</td>
          <td><code>pr-xs</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-xs h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado xs"><span class="sr-only">|</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-xs h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado xs"><span class="sr-only">|</span></div>
          </td>
        </tr>
        <tr>
          <td>sm</td>
          <td>0.5rem</td>
          <td>8px</td>
          <td><code>pr-sm</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-sm h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado sm"><span class="sr-only">||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-sm h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado sm"><span class="sr-only">||</span></div>
          </td>
        </tr>
        <tr>
          <td>base</td>
          <td>1rem</td>
          <td>16px</td>
          <td><code>pr-base</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-base h-4 bg-primary-base text-transparent overflow-hidden"  role="img" aria-label="espaciado base"><span class="sr-only">||||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-base h-4 bg-primary-base text-transparent overflow-hidden"  role="img" aria-label="espaciado base"><span class="sr-only">||||</span></div>
          </td>
        </tr>
        <tr>
          <td>lg</td>
          <td>1.75rem</td>
          <td>28px</td>
          <td><code>pr-lg</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-lg h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado lg"><span class="sr-only">|||||||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-lg h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado lg"><span class="sr-only">|||||||</span></div>
          </td>
        </tr>
        <tr>
          <td>xl</td>
          <td>2.5rem</td>
          <td>40px</td>
          <td><code>pr-xl</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado xl"><span class="sr-only">||||||||||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado xl"><span class="sr-only">||||||||||</span></div>
          </td>
        </tr>
        <tr>
          <td>2xl</td>
          <td>5rem</td>
          <td>80px</td>
          <td><code>pr-2xl</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-2xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado 2xl"><span class="sr-only">||||||||||||||||||||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-2xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado 2xl"><span class="sr-only">||||||||||||||||||||</span></div>
          </td>
        </tr>
        <tr>
          <td>3xl</td>
          <td>10rem</td>
          <td>160px</td>
          <td><code>pr-3xl</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block pr-3xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado 3xl"><span class="sr-only">||||||||||||||||||||||||||||||||||||||||</span></div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block pr-3xl h-4 bg-primary-base text-transparent overflow-hidden" role="img" aria-label="espaciado 3xl"><span class="sr-only">||||||||||||||||||||||||||||||||||||||||</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pb-xl"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Espaciado para anchuras"
  }) }}
  <div class="prose max-w-none">
    <p>
      Utiliza en la medida de lo posible estos valores para establecer valores de width y max-width.
    </p>
    <div class="max-w-full overflow-x-auto">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tamaño</th>
            <th>Pixels</th>
            <th>Ejemplo de clases</th>
            <th class="hidden sm:table-cell"><span class="sr-only">Previsualización</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xs</td>
            <td>20rem</td>
            <td>320px</td>
            <td><code>w-xs</code></td>
            <td class="hidden sm:table-cell">
              <div class="inline-block w-xs h-4 bg-primary-base"></div>
            </td>
          </tr>
          <tr class="sm:hidden">
            <td colspan="4">
              <div class="inline-block w-xs h-4 bg-primary-base" role="img" aria-label="anchura xs"></div>
            </td>
          </tr>
          <tr>
            <td>sm</td>
            <td>24rem</td>
            <td>384px</td>
            <td><code>w-sm</code></td>
            <td class="hidden sm:table-cell">
              <div class="inline-block w-sm h-4 bg-primary-base"></div>
            </td>
          </tr>
          <tr class="sm:hidden">
            <td colspan="4">
              <div class="inline-block w-sm h-4 bg-primary-base" role="img" aria-label="anchura sm"></div>
            </td>
          </tr>
          <tr>
            <td>md</td>
            <td>28rem</td>
            <td>448px</td>
            <td><code>w-md</code></td>
            <td class="hidden sm:table-cell">
              <div class="inline-block w-md h-4 bg-primary-base"></div>
            </td>
          </tr>
          <tr class="sm:hidden">
            <td colspan="4">
              <div class="inline-block w-md h-4 bg-primary-base" role="img" aria-label="anchura md"></div>
            </td>
          </tr>
          <tr>
            <td>lg</td>
            <td>32rem</td>
            <td>512px</td>
            <td><code>w-lg</code></td>
            <td class="hidden sm:table-cell">
              <div class="inline-block w-lg h-4 bg-primary-base"></div>
            </td>
          </tr>
          <tr class="sm:hidden">
            <td colspan="4">
              <div class="inline-block w-lg h-4 bg-primary-base" role="img" aria-label="anchura lg"></div>
            </td>
          </tr>
          <tr>
            <td>xl</td>
            <td>36rem</td>
            <td>576px</td>
            <td><code>w-xl</code></td>
            <td class="hidden sm:table-cell">
              <div class="inline-block w-xl h-4 bg-primary-base"></div>
            </td>
          </tr>
          <tr class="sm:hidden">
            <td colspan="4">
              <div class="inline-block w-xl h-4 bg-primary-base" role="img" aria-label="anchura xl"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pb-xl"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Espaciado máximo"
  }) }}
  <div class="prose max-w-none">
    <p>
      desy-html usa los valores de Tailwind CSS y adicionalmente estos otros:
    </p>
    <table class="text-left">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Pixels</th>
          <th>Ejemplo de clases</th>
          <th class="hidden sm:table-cell"><span class="sr-only">Previsualización</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>40</td>
          <td>10rem</td>
          <td>160px</td>
          <td><code>max-w-40</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block max-w-40 overflow-hidden">
              <div class="h-4 bg-primary-base text-transparent" role="img" aria-label="anchura 40">
                <span class="sr-only">||||||||||||||||||||||||||||||||||||||||</span>
              </div>
            </div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block max-w-40 overflow-hidden">
              <div class="h-4 bg-primary-base text-transparent" role="img" aria-label="anchura 40">
                <span class="sr-only">||||||||||||||||||||||||||||||||||||||||</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>64</td>
          <td>16rem</td>
          <td>256px</td>
          <td><code>max-w-64</code></td>
          <td class="hidden sm:table-cell">
            <div class="inline-block max-w-64 overflow-hidden">
              <div class="h-4 bg-primary-base text-transparent">
                <span class="sr-only">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</span>
              </div>
            </div>
          </td>
        </tr>
        <tr class="sm:hidden">
          <td colspan="4">
            <div class="inline-block max-w-64 overflow-hidden">
              <div class="h-4 bg-primary-base text-transparent">
                <span class="sr-only">||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Más espaciados"
  }) }}
  <div class="prose">
    <p>Si necesitas más espaciados, usa los <a href="https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale">espaciados por defecto de Tailwind CSS<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path fill="currentcolor" fill-rule="evenodd" d="M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></a>.</p>
  </div>
</div>
