{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

<div class="grid lg:grid-cols-3 gap-xl mb-lg">
  <div>
    Con navs
  </div>
  <div>
    {% call componentDropdown({
      "text": "Dropdown con nav"
    })  %}
        {{ componentNav({
          "items": [
            {
              "href": "#",
              "text": "Opción 1"
            },
            {
              "href": "#",
              "text": "Opción 2"
            },
            {
              "href": "#",
              "text": "Opción 3 con separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 4"
            },
            {
              "href": "#",
              "text": "Opción 5 con texto muy largo para ver cómo salta de línea"
            }
          ],
          "classes": "w-max max-w-64",
          "attributes": {
            "aria-label": "Nav"
          }
        })  }}
    {% endcall %}
  </div>
  <div>
    {% call componentDropdown({
      "text": "Dropdown con scroll y nav",
      "classesTooltip": "max-h-64 overflow-y-auto",
      "classes": "w-full justify-between"
    })  %}
        {{ componentNav({
          "items": [
            {
              "href": "#",
              "text": "Opción 1"
            },
            {
              "href": "#",
              "text": "Opción 2"
            },
            {
              "href": "#",
              "text": "Opción 3 con separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 4"
            },
            {
              "href": "#",
              "text": "Opción 5"
            },
            {
              "href": "#",
              "text": "Opción 6"
            },
            {
              "href": "#",
              "text": "Opción 7"
            },
            {
              "href": "#",
              "text": "Opción 8 con separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 9"
            },
            {
              "href": "#",
              "text": "Opción 10 con texto muy largo para ver cómo salta de línea"
            }
          ],
          "classes": "w-max max-w-64",
          "attributes": {
            "aria-label": "Nav"
          }
        })  }}
    {% endcall %}
  </div>
</div>
