{% from "components/details/_macro.details.njk" import componentDetails %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {% call componentDetails({
      "summary": {
        "html": "Descripción breve"
      }
    })  %}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, lectus ut viverra laoreet, ante nisl rutrum lorem, vitae venenatis risus mi eget nisi.</p>
    {% endcall %}
  </div>
  <div>
    {% call componentDetails({
      "summary": {
        "html": "Descripción breve"
      },
      "open": true
    })  %}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, lectus ut viverra laoreet, ante nisl rutrum lorem, vitae venenatis risus mi eget nisi.</p>
    {% endcall %}
  </div>

</div>