{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {{ componentAccordion({
      "idPrefix": "with-one-item-opened-example",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Título 1",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        },
        {
          "headerText": "Título 2",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "open": true
        },
        {
          "headerText": "Título 3",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        }
      ]
    })  }}
    <div class="pb-xl"></div>
  </div>
  <div>
    {{ componentAccordion({
      "idPrefix": "heading-and-show-controls-example",
      "heading": {
        "text": "Cabecera del acordeón"
      },
      "showControl": true,
      "allowMultiple": true,
      "items": [
        {
          "headerText": "Título 1",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        },
        {
          "headerText": "Título 2",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        },
        {
          "headerText": "Título 3",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        }
      ]
    })  }}
    <div class="pb-xl"></div>
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {{ componentAccordionHistory({
      "idPrefix": "allowmultiple-example",
      "headingLevel": 3,
      "allowMultiple": true,
      "items": [
        {
          "headerText": "Accordion Item 1",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        },
        {
          "headerText": "Accordion Item 2",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "open": true
        },
        {
          "headerText": "Accordion Item 3",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        }
      ]
    })  }}
  </div>
  <div>
    {% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
    {{ componentAccordionHistory({
      "idPrefix": "accordion-status",
      "headingLevel": 3,
      "items": [
        {
          "headerText": "Accordion Item muted",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "status": "muted"
        },
        {
          "headerText": "Accordion Item currentmuted",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "status": "currentmuted"
        },
        {
          "headerText": "Accordion Item past",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "status": "past"
        },
        {
          "headerText": "Accordion Item current",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "status": "current"
        },
        {
          "headerText": "Accordion Item pending",
          "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
          "status": "pending"
        }
      ]
    })  }}
  </div>
</div>