<div class="grid grid-cols-6 lg:grid-cols-8 gap-5 mb-sm">
  <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-black text-white"><div class="self-center text-center w-full"><p>Black</p></div></div>
  </div>
  <div class="flex col-span-3 lg:col-span-2">
    <div class="self-center text-sm">
      <p>Focus</p>
      <p>Aviso de precaución</p>
      <p>En espera</p>
    </div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-lighter text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-lighter</p><p>#f6f6f5</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-light text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-light</p><p>#ededec</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-base text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-base</p><p>#92949B</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-dark text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-dark</p><p>#5e616b</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-black text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">black</p><p>#1f2331</p></div></div>
  </div>
</div>