{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

<div class="container mx-auto">
  {{ DSSectionTitle({
    title: "Dropdowns"
  }) }}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Dropdowns por defecto"
    }) }}
  {% include "ds/_ds.example.dropdowns-default.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Dropdowns variaciones"
    }) }}
  {% include "ds/_ds.example.dropdowns-variaciones.njk" %}
  <div class="pb-lg"></div>
    {{ DSSubsectionTitle({
      title: "Dropdowns en uso"
    }) }}
  {% include "ds/_ds.example.dropdowns-en-uso.njk" %}
</div>
