{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}

<div class="grid lg:grid-cols-3 gap-xl mb-lg">
  <div>
    {{ componentMenuVertical({
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción deshabilitada 3",
          "disabled": true
        },
        {
          "href": "#",
          "text": "Opción activa 4",
          "active": true
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Árbol"
      }
    })  }}
  </div>
  <div>
    {{ componentMenuVertical({
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción 3 separador",
          "divider": true
        },
        {
          "href": "#",
          "text": "Opción 4"
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Árbol"
      }
    })  }}
  </div>
  <div>
    {{ componentMenuVertical({
      "idPrefix": "nav-item",
      "items": [
        {
          "href": "#",
          "text": "Item 1",
          "id": "nav-item-item-1",
          "sub": {
            "items": [
              {
                "href": "#",
                "text": "Subitem 1"
              },
              {
                "href": "#",
                "text": "Subitem 2"
              },
              {
                "href": "#",
                "text": "Subitem 3"
              }
            ],
            "attributes": {
              "aria-labelledby": "nav-item-item-1"
            }
          }
        },
        {
          "href": "#",
          "text": "Item 2",
          "id": "nav-item-item-2",
          "sub": {
            "items": [
              {
                "href": "#",
                "text": "Subitem 1"
              },
              {
                "href": "#",
                "text": "Subitem 2"
              },
              {
                "href": "#",
                "text": "Subitem 3"
              }
            ],
            "attributes": {
              "aria-labelledby": "nav-item-item-2"
            }
          }
        },
        {
          "href": "#",
          "text": "Item 3",
          "sub": {
            "html": "<p><a href=\"#\" class=\"hover:text-primary-base hover:underline focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none truncate \">Enlace externo</a></p>"
          }
        }
      ],
      "attributes": {
        "aria-label": "Árbol"
      }
    })  }}
  </div>
</div>