{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}

<div class="grid lg:grid-cols-4 gap-xl mb-lg">
  <div>
    {{ componentNav({
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción deshabilitada 3",
          "disabled": true
        },
        {
          "href": "#",
          "text": "Opción activa 4",
          "active": true
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Nav"
      }
    })  }}
  </div>
  <div>
    {{ componentNav({
      "items": [
        {
          "href": "#",
          "text": "Opción 1"
        },
        {
          "href": "#",
          "text": "Opción 2"
        },
        {
          "href": "#",
          "text": "Opción 3 separador",
          "divider": true
        },
        {
          "href": "#",
          "text": "Opción 4"
        },
        {
          "href": "#",
          "text": "Opción 5"
        }
      ],
      "attributes": {
        "aria-label": "Nav"
      }
    })  }}
  </div>
  <div>
    {% call componentDropdown({
      "text": "Dropdown con nav"
    })  %}
        {{ componentNav({
          "items": [
            {
              "href": "#",
              "text": "Opción 1"
            },
            {
              "href": "#",
              "text": "Opción 2"
            },
            {
              "href": "#",
              "text": "Opción 3 separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 4"
            },
            {
              "href": "#",
              "text": "Opción 5 con texto muy largo para ver cómo salta de línea"
            }
          ],
          "classes": "w-max max-w-64",
          "attributes": {
            "aria-label": "Nav"
          }
        })  }}
    {% endcall %}
  </div>
  <div>
    {% call componentDropdown({
      "text": "Dropdown scroll nav",
      "classesTooltip": "max-h-64 overflow-y-auto",
      "classes": "w-full justify-between"
    })  %}
        {{ componentNav({
          "items": [
            {
              "href": "#",
              "text": "Opción 1"
            },
            {
              "href": "#",
              "text": "Opción 2"
            },
            {
              "href": "#",
              "text": "Opción 3 separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 4"
            },
            {
              "href": "#",
              "text": "Opción 5"
            },
            {
              "href": "#",
              "text": "Opción 6"
            },
            {
              "href": "#",
              "text": "Opción 7"
            },
            {
              "href": "#",
              "text": "Opción 8 separador",
              "divider": true
            },
            {
              "href": "#",
              "text": "Opción 9"
            },
            {
              "href": "#",
              "text": "Opción 10 con texto muy largo para ver cómo salta de línea"
            }
          ],
          "classes": "w-max max-w-64",
          "attributes": {
            "aria-label": "Nav"
          }
        })  }}
    {% endcall %}
  </div>
</div>