<div class="grid grid-cols-6 gap-5 mb-sm">
  <div class="col-span-3 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p>Primary</p></div></div>
  </div>
  <div class="flex col-span-3 lg:col-span-2">
    <div class="self-center text-sm"><p>Información</p></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-light text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-light</p><p>#d6eaf0</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-base</p><p>#00607a</p></div></div>
  </div>
  <div class="col-span-2 lg:col-span-1 aspect-w-1 aspect-h-1 relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-dark font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-dark</p><p>#00475C</p></div></div>
  </div>
</div>