{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}

<div class="grid lg:grid-cols-1 gap-2xl mb-lg">
  <div>
    {{ componentDescriptionList({
      "classes": "lg:flex w-full",
      "items": [
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición por defecto"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición por defecto"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición por defecto"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición por defecto"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición por defecto"
          },
          "classes": "lg:flex-1 pr-base"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDescriptionList({
      "classes": "lg:flex w-full",
      "items": [
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición grande",
            "classes": "text-lg"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición grande",
            "classes": "text-lg"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición grande",
            "classes": "text-lg"
          },
          "classes": "lg:flex-1 pr-base"
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición grande",
            "classes": "text-lg"
          },
          "classes": "lg:flex-1 pr-base"
        }
      ]
    })  }}
  </div>
</div>
<p class="c-paragraph-base py-xl">
  Ejemplos en caso real:
</p>
<div class="grid lg:grid-cols-1 gap-2xl mb-lg">
  <div>
    {{ componentDescriptionList({
      "classes": "lg:flex lg:flex-wrap w-full",
      "items": [
        {
          "term": {
            "text": "Gestiona"
          },
          "definition": {
            "text": "Innovación, investigación y universidad"
          },
          "classes": "lg:w-1/2 pr-base mb-base"
        },
        {
          "term": {
            "text": "Solicitantes"
          },
          "definition": {
            "text": "Pymes, autónomos, organizaciones"
          },
          "classes": "lg:w-1/2 pr-base mb-base"
        },
        {
          "term": {
            "text": "Resuelve"
          },
          "definition": {
            "text": "Transporte y minas"
          },
          "classes": "lg:w-1/2 pr-base mb-base"
        },
        {
          "term": {
            "text": "Tipo de servicio"
          },
          "definition": {
            "text": "Procedimiento, Común, Interno, Inicio de instancia"
          },
          "classes": "lg:w-1/2 pr-base mb-base"
        }
      ]
    })  }}
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-2xl mb-lg">
  <div>
    {{ componentDescriptionList({
      "classes": "w-full py-sm border-t border-b border-neutral-base",
      "items": [
        {
          "term": {
            "text": "Código de procedimiento",
            "classes": "lg:w-1/3"
          },
          "definition": {
            "text": "G00345-BX",
            "classes": "lg:flex-1 font-semibold"
          },
          "classes": "lg:flex py-sm"
        },
        {
          "term": {
            "text": "Nombre del procedimiento",
            "classes": "lg:w-1/3"
          },
          "definition": {
            "text": "Resolución definitiva",
            "classes": "lg:flex-1 font-semibold"
          },
          "classes": "lg:flex py-sm"
        },
        {
          "term": {
            "text": "CSV",
            "classes": "lg:w-1/3"
          },
          "definition": {
            "text": "CSVK45WT8V5T110CPPC",
            "classes": "lg:flex-1 font-semibold"
          },
          "classes": "lg:flex py-sm"
        },
        {
          "term": {
            "text": "Fecha de captura",
            "classes": "lg:w-1/3"
          },
          "definition": {
            "text": "13 de Diciembre de 2021. A las 11:48:08",
            "classes": "lg:flex-1 font-semibold"
          },
          "classes": "lg:flex py-sm"
        },
        {
          "term": {
            "text": "Categoría",
            "classes": "lg:w-1/3"
          },
          "definition": {
            "text": "Documento simple",
            "classes": "lg:flex-1 font-semibold"
          },
          "classes": "lg:flex py-sm"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDescriptionList({
      "classes": "w-full",
      "items": [
        {
          "term": {
            "text": "Activo no corriente",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "text": "3045,45€",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        },
        {
          "term": {
            "text": "Activo corriente",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "text": "14,32€",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        },
        {
          "term": {
            "text": "Total activo",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "text": "279,67€",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        },
        {
          "term": {
            "text": "Capital",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "text": "100.704,23€",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        },
        {
          "term": {
            "text": "Patrimonio neto",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "text": "2.345,74€",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        },
        {
          "term": {
            "text": "Consolidación de cuentas",
            "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
          },
          "definition": {
            "html": "<strong>Si</strong>",
            "classes": "lg:w-2/3 px-base py-sm lg:text-right"
          },
          "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
        }
      ]
    })  }}
  </div>
</div>

