{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}

<div class="grid lg:grid-cols-1 gap-xl mb-lg">
  <div>
    {{ componentHeader({
      "homepageUrl": "/",
      "expandedLogo": true
    })  }}
  </div>
  <div>
    {% call componentHeader({
      "homepageUrl": "/",
      "subnav": {
        "text": "Carpeta ciudadana",
        "items": [
          {
            "text": "Carpeta del gestor",
            "href": "/"
          },
          {
            "text": "Carpeta ciudadana",
            "href": "/",
            "active": true
          },
          {
            "text": "Trámites online",
            "href": "/"
          }
        ]
      },
      "navigation": {
        "items": [
          {
            "href": "#1",
            "text": "Navigation item 1"
          },
          {
            "href": "#2",
            "text": "Navigation item 2",
            "active": true
          },
          {
            "href": "#3",
            "text": "Navigation item 3"
          }
        ]
      },
      "dropdown": {
        "text": "Marta Pérez",
        "items": [
          {
            "text": "Perfil",
            "href": "/"
          },
          {
            "text": "Configuración",
            "href": "/"
          },
          {
            "text": "Salir",
            "href": "/"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menu"
      }
    })  %}

      <div class=" w-full p-2 ">
        <h3 class=" p-base text-base font-bold ">Páginas</h3>
        <nav class=" text-sm " aria-label=" Mobile menu ">
          <ul>
            <li>
              <a id="nav-item" href="/" class=" flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-warning focus:text-black ">
                Navigation item 1
              </a>
            </li>
            <li>
              <a id="nav-item-2" href="/" class=" flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-warning focus:text-black ">
                Navigation item 2
              </a>
            </li>
            <li>
              <a id="nav-item-3" href="/" class=" flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-warning focus:text-black ">
                Navigation item 3
              </a>
            </li>
            <li>
              <a id="nav-item-4" href="#" class=" flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-warning focus:text-black ">
                Navigation item 4
              </a>
            </li>
          </ul>
      </nav>
    </div>
    {% endcall %}
  </div>
  <div>
    {% set navigationCustom %}
      {{ componentMenuNavigation({
        "idPrefix": "header-custom-nav",
        "classes": "bg-black c-menu-navigation--last-right w-full",
        "items": [
          {
            "text": "Custom Item 1",
            "id": "header-custom-nav-item-1",
            "classes": "c-menu-navigation__button--header -mr-base uppercase",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-1"
              }
            }
          },
          {
            "text": "Custom Active Item 2",
            "id": "header-custom-nav-item-2",
            "classes": "c-menu-navigation__button--header -mr-base uppercase",
            "active": true,
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2",
                  "active": true
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-2"
              }
            }
          },
          {
            "text": "Custom Item 3",
            "id": "header-custom-nav-item-3",
            "classes": "c-menu-navigation__button--header -mr-base uppercase",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-3"
              }
            }
          },
          {
              "text": "Item 4 right",
              "id": "header-custom-nav-item-4",
              "classes": "c-menu-navigation__button--header uppercase",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Subitem 1"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 2"
                  },
                  {
                    "href": "#",
                    "text": "Subitem 3"
                  }
                ],
                "attributes": {
                  "aria-labelledby": "header-custom-nav-item-4"
                }
              }
            }
        ],
        "attributes": {
          "aria-label": "Navegación principal"
        }
      })  }}
    {% endset %}
  </div>
</div>