{% macro DSSubsectionTitle(params) %}
<h3 id="{{ params.title | filterslugify }}" class="c-h3 mb-xl group">{{ params.title }} <a href="#{{ params.title | filterslugify }}" class="hidden font-semibold text-neutral-base underline group-hover:inline-block"><span class="sr-only">Enlace al apartado: {{ params.title }}</span><span aria-hidden="true" title="Enlace al apartado: {{ params.title }}">#</span></a></h3>
{% endmacro %}