{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}

<div class="grid lg:grid-cols-3 gap-xl mb-lg items-end">
  <div>
    {{ componentDateInput({
      "id": "fechnacim-1",
      "namePrefix": "fechnacim-1",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-2",
      "namePrefix": "fechnacim-2",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "disabled": true
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          },
          "disabled": true
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          },
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-3",
      "namePrefix": "fechnacim-3",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-4",
      "namePrefix": "fechnacim-4",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-5",
      "namePrefix": "fechnacim-5",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-month-error",
      "namePrefix": "fechnacim-month-error",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "time",
      "namePrefix": "time",
      "fieldset": {
        "legend": {
          "text": "Hora de publicación"
        }
      },
      "hint": {
        "text": "Por ejemplo, 14:30"
      },
      "items": [
        {
          "name": "hora",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "divider": {
            "text": ":",
            "classes": "flex items-end mb-sm mr-base"
          }
        },
        {
          "name": "minutos",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-small",
      "namePrefix": "fechnacim-small",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento",
          "classes": "text-sm font-bold"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980",
        "classes": "text-sm"
      },
      "items": [
        {
          "name": "día",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Dia",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Mes",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "c-input--sm w-16 mt-xs",
          "label": {
            "text": "Año",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentDateInput({
      "id": "fechnacim-small-time",
      "namePrefix": "fechnacim-small-time",
      "fieldset": {
        "legend": {
          "text": "Hora de publicación",
          "classes": "text-sm font-bold"
        }
      },
      "hint": {
        "text": "Por ejemplo, 14:30",
        "classes": "text-sm"
      },
      "items": [
        {
          "name": "hora",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Hora",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "divider": {
            "text": ":",
            "classes": "flex items-end mb-xs mr-base"
          }
        },
        {
          "name": "minutos",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Minutos",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        }
      ]
    })  }}
  </div>
</div>
