{% from "components/radios/_macro.radios.njk" import componentRadios %}

<div class="grid lg:grid-cols-4 gap-xl mb-lg">
  <div>
    {{ componentRadios({
      "idPrefix": "default-radios",
      "name": "default",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "default-hint-radios",
      "name": "default",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
    </div>
    <div>
    {{ componentRadios({
      "idPrefix": "default-hint-error-radios",
      "name": "default-hint-error",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "errorMessage": {
        "text": "Error: Mensaje de error"
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "value": "opcion-3",
          "text": "Opción 3"
        }
      ]
    })  }}
    </div>
    <div>
    {{ componentRadios({
      "idPrefix": "hints-on-items-radios",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "name": "opcion-radios-1",
          "id": "opcion-radios-1",
          "value": "opcion-radios-1",
          "text": "Opción 1",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-radios-2",
          "id": "opcion-radios-2",
          "value": "opcion-radios-2",
          "text": "Opción 2",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-radios-3",
          "id": "opcion-radios-3",
          "value": "opcion-radios-3",
          "text": "Opción 3",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        }-radio
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-4 lg:gap-xl mb-lg">
  <div>
    {{ componentRadios({
      "idPrefix": "inline",
      "classes": "flex",
      "name": "inline",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes",
          "classes": "mr-sm"
        },
        {
          "value": "no",
          "text": "No",
          "classes": "mr-sm",
          "checked": true
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "example-disabled-radios",
      "name": "example-disabled",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes",
          "disabled": true,
          "checked": true
        },
        {
          "value": "no",
          "text": "No",
          "disabled": true
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "example-divider-radios",
      "name": "example-divider",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1"
        },
        {
          "value": "opcion-2",
          "text": "Opción 2"
        },
        {
          "divider": "o bien"
        },
        {
          "value": "opcion-3",
          "text": "Opción alternativa"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "small-radios",
      "name": "small",
      "classes": "c-radios--sm",
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "opcion-4",
          "text": "Opción 4",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-2 lg:gap-xl mb-lg">
  <div>
    {{ componentRadios({
      "idPrefix": "with-conditional-items-checked-radios",
      "name": "with-conditional-items-checked",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "conditional": {
            "html": "<label class=\" block \" for=\"context-email\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"context-email\" type=\"text\" id=\"context-email-1-radios\">\n"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "checked": true,
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-phone\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-phone\" type=\"text\" id=\"contact-phone-1-radios\">\n"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-text-message\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-text-message\" type=\"text\" id=\"contact-text-message-1-radios\">\n"
          }
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "optional-classes-showing-error-radios",
      "name": "optional-classes-showing-error",
      "formGroup": {
        "classes": "c-form-group--error"
      },
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "items": [
        {
          "value": "opcion-1",
          "text": "Opción 1",
          "conditional": {
            "html": "<label class=\" block \" for=\"context-email\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"context-email\" type=\"text\" id=\"context-email-2-radios\">\n"
          }
        },
        {
          "value": "opcion-2",
          "text": "Opción 2",
          "checked": true,
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-phone\">Label</label>\n<span id=\"contact-phone-error\" class=\" block font-semibold  text-alert-base \">Error: Mensaje de error</span>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base  border-alert-base ring-2 ring-alert-base \" name=\"contact-phone\" type=\"text\" id=\"contact-phone-2-radios\" aria-describedby=\"contact-phone-error\">\n"
          }
        },
        {
          "value": "opcion-3",
          "text": "Opción 3",
          "conditional": {
            "html": "<label class=\" block \" for=\"contact-text-message\">Label</label>\n<input class=\" mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"contact-text-message\" type=\"text\" id=\"contact-text-message-2-radios\">\n"
          }
        }
      ]
    })  }}
  </div>
</div>
<div class="lg:grid lg:grid-cols-2 lg:gap-xl mb-lg">
  <div>
    {{ componentRadios({
      "idPrefix": "has-dividers-radios",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend",
          "classes": "sr-only"
        }
      },
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "hasDividers": true,
      "items": [
        {
          "name": "opcion-radios-1",
          "id": "opcion-radios-1",
          "value": "opcion-radios-1",
          "text": "Opción 1"
        },
        {
          "name": "opcion-radios-2",
          "id": "opcion-radios-2",
          "value": "opcion-radios-2",
          "text": "Opción 2"
        },
        {
          "name": "opcion-radios-3",
          "id": "opcion-radios-3",
          "value": "opcion-radios-3",
          "text": "Opción 3"
        },
        {
          "name": "opcion-radios-4",
          "id": "opcion-radios-4",
          "value": "opcion-radios-4",
          "text": "Opción 4"
        }
      ]
    })  }}
  </div>
  <div>
    {{ componentRadios({
      "idPrefix": "has-dividers-hint-radios",
      "fieldset": {
        "legend": {
          "text": "Fieldset legend"
        }
      },
      "hint": {
        "text": "Hint texto descriptivo"
      },
      "hasDividers": true,
      "items": [
        {
          "name": "opcion-radios-1",
          "id": "opcion-radios-1",
          "value": "opcion-radios-1",
          "text": "Opción 1",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-radios-2",
          "id": "opcion-radios-2",
          "value": "opcion-radios-2",
          "text": "Opción 2",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        },
        {
          "name": "opcion-radios-3",
          "id": "opcion-radios-3",
          "value": "opcion-radios-3",
          "text": "Opción 3",
          "hint": {
            "text": "Hint texto descriptivo"
          }
        }
      ]
    })  }}
  </div>
</div>