{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}

<div class="grid lg:grid-cols-2 gap-xl mb-lg">
  <div>
    {{ componentCollapsible({
      "id": "collapsible-example",
      "headerText": "Título",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, lectus ut viverra laoreet, ante nisl rutrum lorem, vitae venenatis risus mi eget nisi."
    })  }}
  </div>
  <div>
    {{ componentCollapsible({
      "id": "collapsible-example-2",
      "headerText": "Título",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, lectus ut viverra laoreet, ante nisl rutrum lorem, vitae venenatis risus mi eget nisi.",
      "open": true
    })  }}
  </div>
</div>