{% set exampleComponent = "collapsible" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "collapsible-default",
      "headerText": "Cabecera del collapsible",
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    }
  },
  {
    "name": "expandido",
    "description": "Añade <code>open: true</code> a un item para mostrarlo abierto inicialmente.",
    "data": {
      "id": "collapsible-initially-expanded",
      "headerText": "Cabecera del collapsible",
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
      "open": true
    }
  },
  {
    "name": "expandido con JavaScript",
    "description": "También puedes usar con javascript la función global <code>activateItemCollapsible(element, open)</code>,  para mostrar un item abierto o cerrado, usando su id, el parámetro <code>open</code> admite <code>true</code> o <code>false</code>, si le pasamos true se mostrará abierto, y si le pasamos false se mostrará cerrado. Ej: Abre la consola del navegador y escribe <code>activateItemCollapsible('collapsible-expanded-title', true)</code> para mostrar el item actual abierto.",
    "data": {
      "id": "collapsible-expanded",
      "headerText": "Cabecera del collapsible",
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    }
  },
  {
    "name": "con HTML",
    "data": {
      "id": "collapsible-html",
      "headerText": "Cabecera del collapsible",
      "html": "<p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod
      tempor <em>incididunt</em> ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in <strong>reprehenderit</strong> in voluptate velit esse
      cillum dolore eu fugiat nulla <em>pariatur</em>. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    }
  },
  {
    "name": "con clases aplicadas",
    "description": "Puedes añadir clases a todos los elementos para cambiar su apariencia",
    "data": {
      "id": "collapsible-classes",
      "headerText": "Cabecera del collapsible",
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
      "classes": "p-base bg-primary-light flex flex-wrap gap-base",
      "buttonClasses": "c-button self-start",
      "showClasses": "!hidden",
      "hideClasses": "!hidden",
      "contentClasses": "flex-1 border border-neutral-base p-base bg-white rounded"
    }
  }
] %}
