/* ==========================================================================
   _styles.collapsible.css
   ========================================================================== */

@layer components {
  .c-collapsible[data-expanded="true"] {
    .c-collapsible__show {
      @apply hidden;
    }

    .c-collapsible__hide {
      @apply block;
    }

    .c-collapsible__content{
      @apply block;
    }
  }

  .c-collapsible[data-expanded="false"] {
    .c-collapsible__show {
      @apply block;
    }

    .c-collapsible__hide {
      @apply hidden;
    }

    .c-collapsible__content{
      @apply hidden;
    }
  }
}
