/* ==========================================================================
   _styles.pill.css
   ========================================================================== */

@layer components {
  .c-pill {
  	 @apply inline-flex;
  	 @apply align-baseline;
  	 @apply px-sm;
  	 @apply py-0.5;
  	 @apply bg-white;
  	 @apply border;
  	 @apply border-neutral-base;
  	 @apply rounded-full;
  	 @apply text-black;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-none;
  }


  a.c-pill,
  button.c-pill {
    &:hover,
    &:active,
    &.ds-hover {
      @apply bg-neutral-light;
    }

    &.ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      @apply text-black;
      @apply outline-none;
    }
  }

  .c-pill--primary {
  	@apply border-primary-base;
    @apply bg-primary-light;
  }


  .c-pill--warning {
  	@apply border-warning-dark;
    @apply bg-warning-light;
  }


  .c-pill--success {
  	@apply border-success-dark;
    @apply bg-success-light;
  }

  .c-pill--alert {
  	@apply border-alert-dark;
    @apply bg-alert-light;
  }
}
