{% set exampleComponent = "error-summary" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "titleText": "Problemas encontrados",
      "headingLevel": 2,
      "errorList": [
        {
          "text": "El campo de Nombre no puede estar vacío.",
          "href": "#example-error-1"
        },
        {
          "text": "El campo de Teléfono no es correcto. Introduce una cifra de, al menos, 9 dígitos.",
          "href": "#example-error-2"
        }
      ]
    }
  },
  {
    "name": "Con encabezado de nivel 3",
    "data": {
      "titleText": "Título con h3",
      "headingLevel": 3,
      "errorList": [
        {
          "text": "El campo de Nombre no puede estar vacío.",
          "href": "#example-error-1"
        },
        {
          "text": "El campo de Teléfono no es correcto. Introduce una cifra de, al menos, 9 dígitos.",
          "href": "#example-error-2"
        }
      ]
    }
  },
  {
    "name": "sin enlaces",
    "data": {
      "titleText": "Problemas encontrados",
      "headingLevel": 2,
      "errorList": [
        {
          "text": "Nombre de usuario o contraseña incorrectos."
        }
      ]
    }
  },
  {
    "name": "con y sin enlaces",
    "data": {
      "titleText": "Problemas encontrados",
      "headingLevel": 2,
      "errorList": [
        {
          "text": "Nombre de usuario o contraseña incorrectos."
        },
        {
          "text": "Acepta los términos del servicio para acceder.",
          "href": "#example-error-1"
        }
      ]
    }
  },
  {
    "name": "con todo",
    "data": {
      "titleText": "Problemas encontrados",
      "headingLevel": 2,
      "descriptionText": "Por favor, corrige los problemas siguientes.",
      "errorList": [
        {
          "text": "Nombre de usuario o contraseña incorrectos."
        },
        {
          "text": "Acepta los términos del servicio para acceder.",
          "href": "#example-error-1"
        }
      ]
    }
  }
] %}