<!-- error-summary -->
<div class="p-base bg-white border-2 border-alert-base
  {%- if params.classes %} {{ params.classes }}{% endif %}" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %} data-module="c-error-summary">
  {% if params.headingLevel == "1" %}
  <h1 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h1>
  {% elseif params.headingLevel == "2" %}
  <h2 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h2>
  {% elseif params.headingLevel == "3" %}
  <h3 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h3>
  {% elseif params.headingLevel == "4" %}
  <h4 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h4>
  {% elseif params.headingLevel == "5" %}
  <h5 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h5>
  {% else %}
  <h2 class="mb-base font-bold" id="error-summary-title">
    {{ params.titleHtml | safe if params.titleHtml else params.titleText }}
  </h2>
  {% endif %}
  <div>
    {% if params.descriptionHtml or params.descriptionText %}
    <p class="mb-base">
      {{ params.descriptionHtml | safe if params.descriptionHtml else params.descriptionText }}
    </p>
    {% endif %}
    <ul class="font-semibold text-alert-base">
    {% for item in params.errorList %}
      <li>
      {% if item.href %}
        <a href="{{ item.href }}" class="c-link c-link--alert"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ item.html | filterquotes | safe if item.html else item.text }}</a>
      {% else %}
        {{ item.html | filterquotes | safe if item.html else item.text }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<!-- /error-summary -->