/* ==========================================================================
   _styles.datepicker.css
   ========================================================================== */

@layer components {
  .c-datepicker {
    calendar-month {
      --color-accent: theme(colors.primary.base);
      --color-text-on-accent: theme(colors.white);

      &::part(button){
        @apply mx-px;
        @apply rounded;

        &:focus-visible {
          @apply focus:bg-warning-base;
          @apply focus:border-warning-base;
          @apply focus:shadow-outline-black;
          @apply focus:text-black;
          @apply focus:outline-none;
        }
      }

      &::part(today){
        @apply font-bold underline;
      }
    }

    calendar-date,
    calendar-range,
    calendar-multi {
      &::part(header){
        @apply flex;
        @apply flex-wrap;
        @apply gap-base;
      }

      &::part(next),
      &::part(previous)  {
        @apply inline-flex;
        @apply items-baseline;
        @apply px-3;
        @apply py-2;
        @apply bg-white;
        @apply border;
        @apply border-primary-base;
        @apply rounded;
        @apply align-baseline;
        @apply font-semibold;
        @apply text-primary-base;
        @apply transition-all;
        @apply duration-100;
        @apply ease-out;
        @apply whitespace-nowrap;
        @apply cursor-pointer;

        @apply focus:bg-warning-base;
        @apply focus:border-warning-base;
        @apply focus:shadow-outline-black;
        @apply focus:text-black;
        @apply focus:outline-none;

        &:hover:not(disabled),
        &:active:not(disabled) {
          @apply bg-neutral-light;
          @apply border-primary-base;
          @apply text-primary-base;
        }

        &:active:not(disabled) {
          @apply relative;
          @apply top-px;
        }

        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus {
          @apply bg-white;
          @apply opacity-50;
          @apply cursor-not-allowed;
        }

        @apply px-2;
        @apply py-1;
        @apply text-sm;
      }
    }
  }
}
