<!-- footer -->
<footer class="py-base bg-neutral-lighter border-t border-neutral-base text-base lg:text-sm
text-neutral-dark {{ params.classes if params.classes }}"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="container mx-auto px-base {{ params.containerClasses if params.containerClasses }}">
    {% if params.navigation | length %}
      <div class="flex flex-col lg:flex-row flex-wrap gap-base">
        {% for nav in params.navigation %}
        <div class="{%- if nav.classes %} {{ nav.classes }}{% else -%} flex-1{% endif %}">
          <h3 class="c-h4 mb-base text-black">{{ nav.title }}</h3>
          {% if nav.items | length %}
            <ul class="relative space-y-base {%- if nav.columns == 1 %} lg:columns-1 gap-base{% elseif nav.columns == 2 %} lg:columns-2 gap-base{% elseif nav.columns == 3 %} lg:columns-3 gap-base{% elseif nav.columns == 4 %} lg:columns-4 gap-base{% elseif nav.columns == 5 %} lg:columns-5 gap-base{% elseif nav.columns == 6 %} lg:columns-6 gap-base{% elseif nav.columns == 7 %} lg:columns-7 gap-base{% elseif nav.columns == 8 %} lg:columns-8 gap-base{% endif %}">
              {% for item in nav.items %}
              {% if item.text or item.html %}
              <li class="mb-xs">
                <a class="c-link font-semibold" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                  {{ item.html | filterquotes | safe if item.html else item.text }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <hr class="my-base border-t border-neutral-base">
    {% endif %}
    <div class="flex flex-wrap flex-col lg:flex-row justify-between">
      <div class="mb-base">
        {% if params.meta %}
        <h2 class="sr-only">{{ params.meta.visuallyHiddenTitle | default("Enlaces de pie de página") }}</h2>
        {% if params.meta.items | length %}
        <ul class="flex flex-col lg:flex-row lg:flex-wrap mb-base">
          {% for item in params.meta.items %}
            {% if item.text or item.html %}
              <li class="mb-sm mr-base">
                <a class="c-link font-semibold" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                  {{ item.html | filterquotes | safe if item.html else item.text }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        {% if params.meta.text or params.meta.html %}
        <div class="mb-sm">
          <p>{{ params.meta.html | filterquotes | safe if params.meta.html else params.meta.text }}</p>
        </div>
        {% endif %}
        {% endif %}
        {% if params.description %}
        <h2 class="sr-only">{{ params.description.visuallyHiddenTitle | default("Acerca de") }}</h2>
        {% if params.description.text or params.description.html %}
          {{ params.description.html | filterquotes | safe if params.description.html else params.description.text }}
        {% endif %}
        {% else %}
        <div>
          <p>
            Todo el contenido bajo
            <a
              class="c-link c-link--neutral"
              href="https://creativecommons.org/licenses/by/4.0/legalcode.es"
              rel="license"
            >licencia CC BY 4.0</a>
          </p>
        </div>
        <div>
          <p>
            <a
              class="c-link c-link--neutral"
              href="https://www.aragon.es/"
            >Gobierno de Aragón</a>. Edificio Pignatelli. <abbr title="Paseo">Pº</abbr> María Agustín, 36. 50004 - Zaragoza - <abbr title="Teléfono">Tel.</abbr> <a href="tel:+34976714000" class="c-link c-link--neutral">976 714 000</a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="overflow-hidden">
      <div class="flex flex-wrap gap-base lg:gap-x-2xl w-full pt-lg">
        {% if not params.noLogo %}
          <div {%- if params.logo.containerClasses %} class="{{ params.logo.containerClasses }}"{% endif %}>
            {% if params.logo.html %}
              {{ params.logo.html | filterquotes | safe }}
            {% else %}
              <p><a href="{%- if params.urlFeder or params.logo.url %}{%- if params.logo.url %} {{ params.logo.url }} {%- else -%} {{ params.urlFeder }}{% endif %} {%- else -%} https://www.aragon.es/-/fondos-europeos-aragon {% endif %}" class="inline-block text-sm c-link no-underline" title="Más información sobre los Fondos Europeos">
                {% if params.logo.type == 'UE' %}
                  <span class="inline-block c-footer__logo c-footer__logo--ue"><span class="sr-only">Cofinanciado por la Unión Europea.</span></span>
                {% elseif params.logo.type == 'FSE+'  %}
                  <span class="inline-block c-footer__logo c-footer__logo--fse"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Social Europeo Plus (FSE+). Ministerio de Agricultura y Economía Social.</span></span>
                {% elseif params.logo.type == 'FEDER'  %}
                  <span class="inline-block c-footer__logo c-footer__logo--feder"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo de Desarrollo Regional (FEDER). Ministerio de Hacienda.</span></span>
                {% elseif params.logo.type == 'FEADER'  %}
                  <span class="inline-block c-footer__logo c-footer__logo--feader"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo Agrario de Desarrollo Rural (FEADER). Ministerio de Agricultura, Pesca y Alimentación.</span></span>
                {% elseif params.logo.type == 'plurifondo'  %}
                  <span class="inline-block c-footer__logo c-footer__logo--plurifondo"><span class="sr-only">Cofinanciado por la Unión Europea. Plurifondo. Gobierno de España.</span></span>
                {% else %}
                  <span class="inline-block c-footer__logo c-footer__logo--feder"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo de Desarrollo Regional (FEDER). Ministerio de Hacienda.</span></span>
                {% endif %}
              </a></p>
            {% endif %}
          </div>
        {% endif %}
        {% if params.icon %}
          <div class="{% if params.icon.containerClasses %}{{ params.icon.containerClasses }}{% else %}flex-1{% endif %}">
            {% if params.icon.html %}
            {{ params.icon.html | filterquotes | safe }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->