{% set exampleComponent = "table" %}
{% set examples =  [
  {
    "name": "tabla por defecto",
    "data": {
      "caption": "Caption de la tabla",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          }
        ]
      ]
    }
  },
  {
    "name": "tabla con tfoot",
    "data": {
      "caption": "Caption de la tabla",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          }
        ]
      ],
      "foot": [
        {
          "text": "Suma",
          "classes": "uppercase"
        },
        {
          "text": "325€",
          "classes": "lg:text-right"
        },
        {
          "text": "275€",
          "classes": "lg:text-right"
        }
      ]
    }
  },
  {
    "name": "tabla con caption visible",
    "data": {
      "caption": "Caption 1: Meses y pagos",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          }
        ]
      ]
    }
  },
  {
    "name": "tabla con wrapper",
    "description": "Usa el parámetro <code>wrapper</code> para rodear la tabla con un <code>&lt;div&gt;</code> y poder añadir clases, normalmente para hacer scroll horizontal en la tabla en anchuras pequeñas.",
    "data": {
      "caption": "Caption 1: Meses y pagos",
      "captionClasses": "sticky left-0 top-0 w-0 mb-base font-bold text-left text-lg lg:whitespace-nowrap",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes de pago",
          "classes": "lg:whitespace-nowrap"
        },
        {
          "text": "Primer pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for A",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for B",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for C",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for D",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for E",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for F",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for G",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for H",
          "classes": "lg:whitespace-nowrap lg:text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }
  },
  {
    "name": "tabla no responsive",
    "description": "Usa la clase modificadora <code>.c-table--no-responsive</code> junto al parámetro <code>wrapper</code> para tablas que usen rowspan o colspan o tablas que no queremos que muestren sus celdas apiladas en móvil.",
    "data": {
      "classes": "c-table--no-responsive w-full",
      "caption": "Caption 1: Meses y pagos",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes de pago",
          "classes": "lg:whitespace-nowrap"
        },
        {
          "text": "Primer pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-center",
            "rowspan": 2,
            "colspan": 2
          }
        ],
        [
          {
            "text": "Febrero"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }
  },
  {
    "name": "table con columnas sticky",
    "description": "En este ejemplo la primera y última columna se mantienen fijas y el resto hacen scroll horizontal si la anchura es pequeña.",
    "data": {
      "caption": "Caption 1: Meses y pagos",
      "captionClasses": "sticky top-0 left-0 w-0 mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes de pago",
          "classes": "lg:whitespace-nowrap sticky left-0 w-60 bg-white"
        },
        {
          "text": "Primer pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for A",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for B",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for C",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for D",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for E",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for F",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for G",
          "classes": "lg:whitespace-nowrap lg:text-right"
        },
        {
          "text": "Rate for H",
          "classes": "lg:whitespace-nowrap lg:text-right sticky right-0 w-60 bg-white"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero",
            "classes": "sticky left-0 w-60 bg-white"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right sticky right-0 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Febrero",
            "classes": "sticky left-0 w-60 bg-white"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right sticky right-0 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Marzo",
            "classes": "sticky left-0 w-60 bg-white"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right sticky right-0 w-60 bg-white"
          }
        ]
      ],
      "wrapper": {
        "classes": "overflow-x-auto pb-base"
      },
      "classes": "relative lg:whitespace-nowrap"
    }
  },
  {
    "name": "classes",
    "hidden": true,
    "data": {
      "classes": "bg-primary-light"
    }
  },
  {
    "name": "atributos",
    "hidden": true,
    "data": {
      "attributes": {
        "data-foo": "bar"
      }
    }
  },
  {
    "name": "html como texto",
    "hidden": true,
    "data": {
      "head": [
        {
          "text": "Foo <strong>bar</strong>"
        }
      ],
      "rows": [
        [
          {
            "text": "Foo <strong>bar</strong>"
          }
        ]
      ]
    }
  },
  {
    "name": "html",
    "hidden": true,
    "data": {
      "head": [
        {
          "html": "Foo <strong>bar</strong>"
        }
      ],
      "rows": [
        [
          {
            "html": "Foo <strong>bar</strong>"
          }
        ]
      ]
    }
  },
  {
    "name": "head con clases",
    "hidden": true,
    "data": {
      "head": [
        {
          "text": "Foo",
          "classes": "bg-primary-light"
        }
      ]
    }
  },
  {
    "name": "head con rowspan y colspan",
    "hidden": true,
    "data": {
      "head": [
        {
          "text": "Foo",
          "rowspan": 1,
          "colspan": 1
        }
      ]
    }
  },
  {
    "name": "head con atributos",
    "hidden": true,
    "data": {
      "head": [
        {
          "attributes": {
            "data-fizz": "buzz"
          }
        }
      ]
    }
  },
  {
    "name": "con firstCellIsHeader true",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "lg:text-right"
          },
          {
            "text": "95€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "lg:text-right"
          },
          {
            "text": "55€",
            "classes": "lg:text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "lg:text-right"
          },
          {
            "text": "125€",
            "classes": "lg:text-right"
          }
        ]
      ]
    }
  },
  {
    "name": "firstCellIsHeader con clases",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "text": "Foo",
            "classes": "bg-primary-light"
          }
        ]
      ]
    }
  },
  {
    "name": "firstCellIsHeader con html",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "html": "Foo <strong>bar</strong>"
          }
        ]
      ]
    }
  },
  {
    "name": "firstCellIsHeader con html como texto",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "text": "Foo <strong>bar</strong>"
          }
        ]
      ]
    }
  },
  {
    "name": "firstCellIsHeader con rowspan y colspan",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "text": "Foo",
            "rowspan": 1,
            "colspan": 1
          }
        ]
      ]
    }
  },
  {
    "name": "firstCellIsHeader con atributos",
    "hidden": true,
    "data": {
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "text": "Foo",
            "attributes": {
              "data-fizz": "buzz"
            }
          }
        ]
      ]
    }
  },
  {
    "name": "con items falsos",
    "hidden": true,
    "data": {
      "rows": [
        [
          {
            "text": "A"
          },
          {
            "text": 1
          }
        ],
        false,
        null,
        [
          {
            "text": "B"
          },
          {
            "text": 2
          }
        ],
        [
          {
            "text": "C"
          },
          {
            "text": 3
          }
        ]
      ]
    }
  },
  {
    "name": "filas con clases",
    "hidden": true,
    "data": {
      "rows": [
        [
          {
            "text": "Foo",
            "classes": "bg-primary-light"
          }
        ]
      ]
    }
  },
  {
    "name": "filas con rowspan y colspan",
    "hidden": true,
    "data": {
      "rows": [
        [
          {
            "text": "Foo",
            "rowspan": 1,
            "colspan": 1
          }
        ]
      ]
    }
  },
  {
    "name": "filas con atributos",
    "hidden": true,
    "data": {
      "rows": [
        [
          {
            "text": "Foo",
            "attributes": {
              "data-fizz": "buzz"
            }
          }
        ]
      ]
    }
  }
] %}