/* ==========================================================================
   _styles.table.css
   ========================================================================== */

@layer components {
  .c-table--no-responsive {
    tr {
      @apply table-row;
    }

    td {
      @apply table-cell;
      @apply before:content-none;
    }

    th{
      @apply before:content-none;
    }
  }
}
