{% set exampleComponent = "searchbar" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "searchbar-1",
      "label": {
        "text": "Buscar",
        "classes": "not-sr-only mb-sm"
      }
    }
  },
  {
    "name": "con placeholder",
    "data": {
      "id": "searchbar-2",
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Buscar en este sitio"
    }
  },
  {
    "name": "deshabilitado",
    "data": {
      "id": "searchbar-3",
      "label": {
        "text": "Buscar"
      },
      "disabled": true
    }
  },
  {
    "name": "Con mensaje de error",
    "data": {
      "id": "searchbar-4",
      "label": {
        "text": "Buscar"
      },
      "errorMessage": {
        "text": "Error: Esto es un mensaje de error",
        "classes": "mt-xs"
      }
    }
  },
  {
    "name": "Con label visible",
    "data": {
      "id": "searchbar-label-visible",
      "label": {
        "text": "Buscar items recientes",
        "classes": "not-sr-only mb-sm"
      }
    }
  },
  {
    "name": "peque",
    "data": {
      "id": "searchbar-5",
      "label": {
        "text": "Buscar"
      },
      "classes": "c-input--sm",
      "buttonClasses": "m-xs p-0.5 text-xs"
    }
  },
  {
    "name": "Botón personalizado",
    "description": "Añade parámetros del componente Botón para sustituir el icono de la lupa con un botón junto al input.",
    "data": {
      "id": "searchbar-6",
      "label": {
        "text": "Buscar en esta página"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary"
      },
      "classes": "flex-1"
    }
  },
  {
    "name": "Botón personalizado pequeño",
    "description": "Usamos los parámetros del componente Botón para personalizarlo, en este ejemplo botón peque.",
    "data": {
      "id": "searchbar-7",
      "label": {
        "text": "Buscar en esta página"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--sm"
      },
      "classes": "flex-1 c-input--sm"
    }
  }
] %}