{% from "../error-message/_macro.error-message.njk" import componentErrorMessage -%}
{% from "../label/_macro.label.njk" import componentLabel %}
{% from "../button/_macro.button.njk" import componentButton %}

{% set describedBy = params.describedBy if params.describedBy else "" %}
{% if params.errorMessage %}
  {% set errorId = params.id + '-error' %}
  {% set describedBy = describedBy + " " + errorId if describedBy else errorId %}
{% endif %}

<!-- searchbar -->
{{ componentLabel({
  html: params.label.html,
  text: params.label.text,
  classes: "sr-only " + params.label.classes,
  isPageHeading: false,
  attributes: params.label.attributes,
  for: params.id
}) }}
<div class="relative {%- if params.button %} flex flex-wrap items-end gap-sm{% endif %}">
  <input class="c-input block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base {%- if not params.button %} pr-12 w-full{% endif %} {%- if params.classes %} {{ params.classes }}{% endif %} {%- if params.errorMessage %} border-alert-base ring-2 ring-alert-base {% endif %}" id="{{ params.id }}" name="{{ params.id }}" type="search"
  {%- if params.value %} value="{{ params.value}}"{% endif %}
  {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %}
  {%- if params.errorMessage %} aria-errormessage="{{ errorId }}" aria-invalid="true"{% endif %}
  {%- if params.placeholder %} placeholder="{{ params.placeholder }}"{% endif %}
  {{-" disabled" if params.disabled }}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
  {% if params.button %}
    {{ componentButton(params.button) | indent(2) }}
  {% else %}
  <button type="submit" class="absolute top-0 right-0 m-sm p-0.5 text-primary-base hover:text-primary-dark focus:bg-warning-base focus:outline-none focus:shadow-outline-focus {%- if params.buttonClasses %} {{ params.buttonClasses }}{% endif %}" {%- if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}>
    <span class="sr-only">Buscar</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.375em" height="1.375em" aria-hidden="true"><path d="M23.498 23.487a1.713 1.713 0 000-2.421l-4.572-4.575a.43.43 0 01-.062-.539 10.283 10.283 0 10-2.911 2.911.43.43 0 01.539.055l4.574 4.574a1.712 1.712 0 002.433-.005zM3.451 10.289a6.85 6.85 0 116.85 6.85 6.85 6.85 0 01-6.85-6.85z" fill="currentColor"/></svg>
  </button>
  {% endif %}
  {% if params.errorMessage %}
  {{ componentErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | indent(2) | trim }}
  {% endif %}
</div>
<!-- /searchbar -->