{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{% set idPrefix = params.idPrefix if params.idPrefix else params.id + "menubar-item" %}

{% set iconHtml %}
  {#- The SVG needs `focusable="false"` so that Internet Explorer does not
  treat it as an interactive element - without this it will be
  'focusable' when using the keyboard to navigate. #}
  <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
{% endset %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
  <ul data-module="c-menubar" id="{{ params.id }}-menubar" class="lg:flex lg:flex-wrap" role="menubar" aria-label="{{ params.ariaLabel }}" {%- if params.label %} aria-describedby="{{ params.id }}-label"{% endif %}>
    {% for item in params.items %}
    {% if item %}
      {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
      {%- if item.id -%}
        {%- set id = item.id -%}
      {%- else -%}
        {%- set id = idPrefix + "-" + loop.index -%}
      {%- endif -%}
      {% set subId = "sub-" + id %}
    <li class="relative" role="none">
      {% if item.sub %}
      <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="c-menubar__button {%- if item.classes %} {{ item.classes }}{% endif %} {%- if item.disabled %} c-menubar__button--disabled{% endif %} {%- if item.active %} c-menubar__button--has-selection{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %} {% if item.disabled %} aria-disabled="true" tabindex="-1"{% endif %}  id="{{ id }}"
        {%- if item.sub.html %} data-aria-controls="{{ subId }}"{% endif %}
        {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        <span class="inline-flex self-center max-w-xs align-middle truncate">{{ item.html | filterquotes | safe if item.html else item.text }}</span>
        {# Indentation is intentional to output HTML nicely #}
        {{- iconHtml | safe | trim if iconHtml -}}
      </a>
      {% endif %}
      {% if item.href and not item.sub %}
      <a role="menuitem" {%- if id %} id="{{ id }}"{% endif %} {%- if item.href %} href="{{ item.href }}"{% endif %} class="c-menubar__button {%- if item.classes %} {{ item.classes }}{% endif %} {%- if item.disabled %} c-menubar__button--disabled{% endif %} {%- if item.active %} c-menubar__button--has-selection{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %} {% if item.disabled %} disabled="disabled" aria-disabled="true" tabindex="-1"{% endif %} {% if item.target %} target="{{ item.target }}"{% endif %}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        {{ item.html | filterquotes | safe if item.html else item.text }}
      </a>
      {% endif %}
      {% if item.sub.items %}
      <ul role="menu" class="c-menubar__tooltip w-max max-w-64 hidden border border-neutral-base shadow-md bg-white text-sm {%- if item.sub.classes %} {{ item.sub.classes }}{% endif %}" aria-label="{{ item.ariaLabel }}" {%- for attribute, value in item.sub.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        {% for subitem in item.sub.items %}
          {% if subitem %}
            {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
            {%- if subitem.id -%}
              {%- set subId = subitem.id -%}
              {%- else -%}
                {%- set subId = "sub-" + id + "-" + loop.index -%}
              {%- endif %}
        {% if subitem.role == 'none' %}
        <li role="none" id="{{ subId }}" data-option="{{ subId }}">
          {{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}
        </li>
        {% elseif subitem.role == 'group' %}
        <li role="none">
          <ul role="group" id="{{ subId }}" data-option="{{ subId }}" {%- if subitem.ariaLabel %} aria-label="{{ subitem.ariaLabel }}"{% endif %}>
            {% for subsubitem in subitem.items %}
              {% if subsubitem %}
                {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
                {%- if subsubitem.id -%}
                  {%- set subsubId = subsubitem.id -%}
                  {%- else -%}
                    {%- set subsubId = "sub-" + subId + "-" + loop.index -%}
                {%- endif %}
            <li {%- if subsubitem.role %} role="{{ subsubitem.role}}"{% endif %}{% if subsubitem.role == 'menuitemcheckbox' or subsubitem.role == 'menuitemradio' %} aria-checked="{% if subsubitem.checked %}{{ subsubitem.checked }}{% else %}false{% endif %}"{% endif %} class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="{{ subsubId }}" data-option="{{ subsubId }}">
              {{ subsubitem.html | filterquotes | safe if subsubitem.html else subsubitem.text }}
            </li>
              {% endif %}
           {% endfor %}
          </ul>
        </li>
        {% elseif subitem.role == 'menuitem' %}
        <li role="menuitem" id="{{ subId }}" data-option="{{ subId }}" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white focus:bg-primary-base focus:text-white focus:outline-none" >
          {{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}
        </li>
        {% elseif subitem.role == 'menuitemcheckbox' %}
        <li role="menuitemcheckbox" aria-checked="{% if subitem.checked %}{{ subitem.checked }}{% else %}false{% endif %}" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="{{ subId }}" data-option="{{ subId }}">
          {{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}
        </li>
        {% elseif subitem.role == 'separator' %}
        <li role="separator" id="{{ subId }}" class="my-sm border-b border-neutral-base">
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
{% endset -%}

<!-- menubar -->
<div id="{{ params.id }}" class="c-menubar {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
  {% if params.label  %}
  <div id="{{ params.id }}-label" class="mb-sm {%- if params.label.classes %} {{ params.label.classes }}{% endif %}">
    {% if params.label.html %}
    {{ params.label.html | filterquotes | safe}}
    {% else %}
    <p>{{ params.label.text }}</p>
    {% endif %}
  </div>
  {% endif %}
  {{ innerHtml | trim | safe }}
</div>
<!-- /menubar -->