{% from "components/notification/_macro.notification.njk" import componentNotification %}

{% set defaultExample %}
  {{ componentNotification({
    "title": {
      "text": "El documento se ha cargado correctamente",
      "classes": "outline-none"
    },
    "type": "success",
    "isDismissible": true,
    "id": "default-id"
  })  }}
{% endset %}

{% set secondaryExample %}
  {{ componentNotification({
    "title": {
      "text": "Problemas encontrados",
      "classes": "mr-lg"
    },
    "items": [
      {
        "text": "Campo Nombre de la empresa está vacío",
        "href": "#empresa"
      },
      {
        "text": "Campo Fecha de inicio de la actividad está vacío",
        "href": "#actividad"
      },
      {
        "text": "El formato de correo electrónico es incorrecto",
        "href": "#email"
      }
    ],
    "type": "alert",
    "isDismissible": true,
    "id": "secondary-id"
  })  }}
{% endset %}


{% set exampleComponent = "alert" %}
{% set examples =  [
  {
    "name": "alert mostrando una notificación de éxito",
    "description": "Utilizamos los atributos <code>'role': 'alert'</code> y  <code>'aria-live': 'assertive'</code>, para que lo lea el lector de pantalla. La función <code>openAlert</code> toma como primer argumento el <code>id</code> del elemento emergente a mostrar y como segundo argumento el nodo HTML que debe tomar foco al cerrar el elemento emergente.",
    "data": {
      "button": {
        "text": "Abrir éxito",
        "attributes": {
          "onclick": "openAlert('success-id', this)"
        }
      },
      "id": "success-id",
      "attributes": {
        "role": "alert",
        "aria-live": "assertive"
      },
      "caller": defaultExample
    }
  },
  {
    "name": "alert mostrando una notificación de alerta",
    "description": "Utilizamos los atributos <code>'role': 'alert'</code> y  <code>'aria-live': 'assertive'</code>, para que lo lea el lector de pantalla.  La función <code>openAlert</code> toma como primer argumento el <code>id</code> del elemento emergente a mostrar y como segundo argumento el nodo HTML que debe tomar foco al cerrar el elemento emergente. El tercer argumento es el <code>id</code> del elemento al que queremos que vaya el foco al abrir el elemento emergente, que suele ser el título de una notificación.",
    "data": {
      "button": {
        "text": "Abrir alerta",
        "attributes": {
          "onclick": "openAlert('alert-id', this, 'secondary-id-title')"
        }
      },
      "id": "alert-id",
      "attributes": {
        "role": "alert",
        "aria-live": "assertive"
      },
      "caller": secondaryExample
    }
  }
] %}