{% from "components/button/_macro.button.njk" import componentButton %}

<!-- alert -->
<div>
  {{ componentButton(params.button) | indent(2)  }}
  <div id="{{ params.id }}" {%- if params.classes %} class="{{ params.classes }}"{% endif %} {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  </div>
  <div class="hidden" id="{{ 'template-' + params.id }}">
  {% if caller %}
  {{ caller() | indent(6) }} {#- if statement allows usage of `call` to be optional -#}
  {% elseif params.caller %}
  {{ params.caller | safe | indent(6) }}
  {% endif %}
  </div>
</div>
<!-- /alert -->
