{% set exampleComponent = "label" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "text": "Esto es un label"
    }
  },
  {
    "name": "con clases de css aplicadas",
    "data": {
      "classes": "inline-block p-base bg-primary-light",
      "text": "Esto es un label"
    }
  },
  {
    "name": "con label como encabezado",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>. Si no se establece un <code>'headingLevel'</code>, el label no estará rodeado de un encabezado.",
    "data": {
      "text": "Esto es un label",
      "classes": "c-h1",
      "isPageHeading": true
    }
  },
  {
    "name": "con label como encabezado con h3",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>.",
    "data": {
      "text": "Esto es un label",
      "classes": "c-h3",
      "isPageHeading": true,
      "headingLevel": "3"
    }
  }
] %}