{% set exampleComponent = "table-advanced" %}
{% set examples =  [
  {
    "name": "tabla por defecto",
    "data": {
      "idPrefix": "table-default",
      "caption": "Caption de la tabla",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con tfoot",
    "data": {
      "idPrefix": "table-tfoot",
      "caption": "Caption de la tabla",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "foot": [
        [
          {
            "text": "Suma",
            "classes": "uppercase"
          },
          {
            "text": "325€",
            "classes": "text-right"
          },
          {
            "text": "275€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con caption visible",
    "description": "También con <code>'firstCellIsHeader': true</code>",
    "data": {
      "idPrefix": "table-with-caption",
      "caption": "Caption 1: Meses y pagos",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con orderBy en columnas",
    "description": "Con <code>'orderBy': none</code>, <code>asc</code>, <code>desc</code>",
    "data": {
      "idPrefix": "table-with-orderby",
      "head": [
        {
          "text": "Mes de pago",
          "orderBy": "none"
        },
        {
          "text": "Primer pago",
          "orderBy": "none",
          "classes": "text-right"
        },
        {
          "text": "Segundo pago",
          "orderBy": "none",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "foot": [
        [
          {
            "text": "Suma",
            "classes": "uppercase"
          },
          {
            "text": "325€",
            "classes": "text-right"
          },
          {
            "text": "275€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con head y filtros",
    "description": "Con <code>'hasFilter': true</code> y clases <code>text-right</code> en columnas numéricas.",
    "data": {
      "idPrefix": "table-with-head-and-filters",
      "head": [
        {
          "text": "Mes de pago",
          "hasFilter": true
        },
        {
          "text": "Primer pago",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Segundo pago",
          "classes": "text-right",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con head y filtros con texto personalizado",
    "description": "Con <code>'hasFilter': true</code>, con parámetro <code>'filterText'</code> personalizado y clases <code>text-right</code> en columnas numéricas.",
    "data": {
      "idPrefix": "table-with-head-and-filters-personalized",
      "head": [
        {
          "text": "Mes de pago",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Selecciona mes...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Enero"
              },
              {
                "value": 2,
                "text": "Febrero"
              },
              {
                "value": 3,
                "text": "Marzo"
              }
            ]
          },
          "filterText": "Filtrar por mes"
        },
        {
          "text": "Primer pago",
          "classes": "text-right",
          "hasFilter": true,
          "filterText": "Filtrar por pago en esta columna"
        },
        {
          "text": "Segundo pago",
          "classes": "text-right",
          "hasFilter": true,
          "filterText": "Filtrar por pago en esta columna"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con head y selectores",
    "description": "Selectores y clases de <code>text-right</code> en columnas numéricas.",
    "data": {
      "idPrefix": "table-with-head-and-selects",
      "head": [
        {
          "text": "Mes de pago",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "text": "Primer pago",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "text": "Segundo pago",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con checkboxes",
    "data": {
      "idPrefix": "table-with-checkboxes",
      "hasCheckboxes": true,
      "head": [
        {
          "text": "Mes de pago"
        },
        {
          "text": "Primer pago",
          "classes": "text-right"
        },
        {
          "text": "Segundo pago",
          "classes": "text-right"
        }
      ],
      "rows": [
        [
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con todo",
    "description": "Con <code>orderBy</code>, <code>hasCheckboxes</code>, <code>hasFilter</code>, selectores y <code>firstCellIsHeader</code>",
    "data": {
      "idPrefix": "table-with-all",
      "hasCheckboxes": true,
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Número de fila"
        },
        {
          "text": "Mes de pago",
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "text": "Primer pago",
          "orderBy": "none",
          "classes": "text-right",
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        },
        {
          "text": "Segundo pago",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true,
          "select": {
            "items": [
              {
                "value": "",
                "text": "Filtrar por...",
                "disabled": true,
                "selected": true,
                "hidden": true
              },
              {
                "value": 1,
                "text": "Opción 1"
              },
              {
                "value": 2,
                "text": "Opción 2"
              },
              {
                "value": 3,
                "text": "Opción 3"
              }
            ]
          }
        }
      ],
      "rows": [
        [
          {
            "text": "Primera fila"
          },
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Segunda fila"
          },
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          }
        ],
        [
          {
            "text": "Tercera fila"
          },
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          }
        ]
      ],
      "foot": [
        [
          {
            "text": "Suma",
            "classes": "uppercase"
          },
          {
            "text": ""
          },
          {
            "text": "325€",
            "classes": "text-right"
          },
          {
            "text": "275€",
            "classes": "text-right"
          }
        ]
      ],
      "classes": "min-w-full"
    }
  },
  {
    "name": "tabla con columnas sticky",
    "description": "Con <code>orderBy</code>, <code>hasCheckboxes</code>, <code>hasFilter</code> y <code>firstCellIsHeader</code>",
    "data": {
      "idPrefix": "table-with-sticky-columns",
      "hasCheckboxes": true,
      "checkboxesClasses": "sticky left-0 z-10 w-0 bg-white",
      "firstCellIsHeader": true,
      "head": [
        {
          "text": "Número de fila",
          "classes": "sticky left-16 z-10 w-60 bg-white"
        },
        {
          "text": "Mes de pago",
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "text": "Primer pago",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Segundo pago",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column A",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column B",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column C",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column D",
          "orderBy": "none",
          "classes": "text-right",
          "hasFilter": true
        },
        {
          "text": "Rate for column E",
          "orderBy": "none",
          "classes": "text-right sticky right-0 z-10 w-60 bg-white",
          "hasFilter": true
        }
      ],
      "rows": [
        [
          {
            "text": "First row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "Enero"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky z-10 right-0 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Second row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "Febrero"
          },
          {
            "text": "75€",
            "classes": "text-right"
          },
          {
            "text": "55€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky right-0 z-10 w-60 bg-white"
          }
        ],
        [
          {
            "text": "Third row",
            "classes": "sticky left-16 z-10 w-60 bg-white"
          },
          {
            "text": "Marzo"
          },
          {
            "text": "165€",
            "classes": "text-right"
          },
          {
            "text": "125€",
            "classes": "text-right"
          },
          {
            "text": "85€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right"
          },
          {
            "text": "95€",
            "classes": "text-right sticky z-10 right-0 w-60 bg-white"
          }
        ]
      ],
      "wrapper": {
        "classes": "overflow-x-auto pb-base"
      },
      "classes": "relative whitespace-nowrap min-w-full"
    }
  }
] %}
