/* ==========================================================================
   _styles.table-advanced.css
   ========================================================================== */

@layer components {
  .c-table-advanced {
    [role="button"] {
      cursor: pointer;
    }


    [aria-sort="ascending"],
    [aria-sort="descending"],
    [aria-sort="none"] {
      .c-table-advanced__order {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="ascending"] {
      @apply font-bold text-black;

      .c-table-advanced__ascending {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="descending"] {
      @apply font-bold text-black;

      .c-table-advanced__descending {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="none"] {
      @apply font-normal text-neutral-dark;

      .c-table-advanced__none {
        @apply inline-block;
      }
    }


    [role="gridcell"]:focus,
    [role="gridcell"] *:focus,
    & [tabindex="0"]:focus {
      @apply bg-warning-base;
      @apply outline-none;
      @apply shadow-outline-black;
      @apply text-black;
    }
  }


  .c-table-advanced__order,
  .c-table-advanced__ascending,
  .c-table-advanced__descending,
  .c-table-advanced__none {
    @apply hidden;
  }
}
