{% set exampleComponent = "file-upload" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "file-upload-1",
      "name": "file-upload-1",
      "label": {
        "text": "Sube un archivo"
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none"
    }
  },
  {
    "name": "con pista",
    "data": {
      "id": "file-upload-2",
      "name": "file-upload-2",
      "label": {
        "text": "Sube una foto"
      },
      "hint": {
        "text": "Tu foto puede estar en tus Imágenes, Fotos, Descargas o el Escritorio. O en una aplicación como Fotos."
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none"
    }
  },
  {
    "name": "con mensaje de error",
    "data": {
      "id": "file-upload-3",
      "name": "file-upload-3",
      "label": {
        "text": "Sube un archivo"
      },
      "hint": {
        "text": "Tu foto puede estar en tus Imágenes, Fotos, Descargas o el Escritorio. O en una aplicación como Fotos."
      },
      "errorMessage": {
        "text": "Error: esto es un mensaje de error"
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none"
    }
  },
  {
    "name": "con atributos",
    "data": {
      "id": "file-upload-4",
      "name": "file-upload-4",
      "label": {
        "text": "Sube una foto"
      },
      "attributes": {
        "accept": ".jpg, .jpeg, .png"
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none"
    }
  },
  {
    "name": "con label como encabezado",
    "data": {
      "id": "file-upload-5",
      "name": "file-upload-5",
      "label": {
        "text": "Sube un archivo",
        "isPageHeading": true
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none"
    }
  },
  {
    "name": "con clases de form-group opcionales",
    "data": {
      "id": "file-upload-6",
      "name": "file-upload-6",
      "label": {
        "text": "Sube un archivo"
      },
      "classes": "overflow-x-auto max-w-64 lg:max-w-none",
      "formGroup": {
        "classes": "p-base bg-warning-light"
      }
    }
  }
] %}