{% from "components/input/_macro.input.njk" import componentInput %}

{% macro callerExample(id='id') %}
{{ componentInput({
  "label": {
    "text": "Número de teléfono"
  },
  "id": "tel-id-" + id,
  "name": "tel-name-" + id
})  }}
{% endmacro %}

{% macro callerErrorExample(id='id') %}
{{ componentInput({
  "label": {
    "text": "Número de teléfono"
  },
  "id": "tel-error-id-" + id,
  "name": "tel-error-name-" + id,
  "errorMessage": {
    "text": "Error: Mensaje de error aqui"
  }
})  }}
{% endmacro %}


{% set exampleComponent = "fieldset" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "legend": {
        "text": "¿Cuál es tu número de teléfono?",
        "classes": "mb-sm"
      },
      "caller": callerExample('1').val
    }
  },
  {
    "name": "con error",
    "description": "Mostrar código para visualizar el <code>aria-describedby</code>, el <code>aria-errormessage</code> y <code>aria-invalid='true'</code> aplicado en el HTML.",
    "data": {
      "legend": {
        "text": "¿Cuál es tu número de teléfono?",
        "classes": "mb-sm"
      },
      "errorId": "error-id",
      "caller": callerErrorExample('1').val
    }
  },
  {
    "name": "con label como encabezado",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>. Si no se establece un <code>'headingLevel'</code>, por defecto usará un <code>&lt;h1&gt;</code>.",
    "data": {
      "legend": {
        "text": "¿Cuál es tu número de teléfono?",
        "classes": "c-h1 mb-sm",
        "isPageHeading": true
      },
      "caller": callerExample('2').val

    }
  },
  {
    "name": "con label como encabezado con h3",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>.",
    "data": {
      "legend": {
        "text": "¿Cuál es tu número de teléfono?",
        "classes": "c-h3 mb-sm",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "caller": callerExample('3').val

    }
  },
  {
    "name": "con clases de css aplicadas",
    "data": {
      "legend": {
        "text": "¿Cuál es tu número de teléfono?",
        "classes": "mb-sm -ml-base px-base bg-white"
      },
      "classes": "p-lg border border-neutral-base",
      "caller": callerExample('4').val
    }
  }
] %}