{#- If an id 'prefix' is not passed, fall back to using a default one
   instead -#}
{% set idPrefix = params.idPrefix if params.idPrefix else params.id + "-listbox-item" %}
{% set conditionalId = false %}
{% set conditionalValue = false %}
{% for item in params.items %}
  {% if item %}
    {%- if item.id -%}
      {%- set id = item.id -%}
    {%- else -%}
      {#- The first id should not have a number suffix so it's easy to link to from the error summary component -#}
      {%- if loop.first -%}
        {%- set id = idPrefix %}
      {%- else -%}
        {%- set id = idPrefix + "-" + loop.index -%}
      {%- endif -%}
    {%- endif -%}
    {%- if item.active -%}
      {%- set conditionalId = id -%}
      {%- set conditionalValue = item.html if item.html else item.text -%}
    {%- endif -%}
  {% endif %}
{% endfor %}

{% set commonTooltipAttributes %} data-module="c-listbox-list" role="listbox" tabindex="-1" class="text-sm outline-none" {%- if params.label  %} aria-labelledby="{{ params.id }}-label"{% endif %}
{% if params.isMultiselectable %} aria-multiselectable="true"{% endif %}
{% endset %}

{%- set classNames = "c-listbox" -%}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{% set iconHtml %}
{#- The SVG needs `focusable="false"` so that Internet Explorer does not
treat it as an interactive element - without this it will be
'focusable' when using the keyboard to navigate. #}
<svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
{% endset %}


{%- set commonAttributes %} id="{{ params.id }}-button" class="{{ classNames }}" data-module="c-listbox-button" aria-haspopup="listbox" {%- if params.doesChangeButtonText %} data-change="change"{% endif %} aria-labelledby="{% if params.label  %}{{ params.id }}-label {% endif -%} {{ params.id }}-button" {% if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}{% endset %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
  {% for item in params.items %}
  {% if item %}
  {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
  {% if item.id %}
  {% set id = item.id %}
  {% else %}
  {#- The first id should not have a number suffix so it's easy to link to from the error summary component -#}
  {% if loop.first %}
  {% set id = idPrefix %}
  {% else %}
  {% set id = idPrefix + "-" + loop.index %}
  {% endif %}
  {% endif %}
  {% set commonItemAttributes %}{% if id %} id="{{ id }}"{% endif %} {%- if item.title %} title="{{ item.title }}"{% endif %} {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}{% endset %}
      <li role="option" class="flex items-center pr-base pl-lg py-sm hover:bg-primary-base hover:text-white  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black {%- if item.classes %} {{ item.classes }}{% endif -%}"  {%- if item.active %} aria-selected="true"{% endif -%} {{- commonItemAttributes | safe }}>
        {{ item.html | filterquotes | safe if item.html else item.text }}
      </li>
  {% endif %}
  {% endfor %}
{% endset -%}

<!-- listbox -->
<div data-module="c-listbox" class="{% if params.classesContainer %}{{ params.classesContainer }}{% else %} relative{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {% if params.label  %}
  <div id="{{ params.id }}-label" class="mb-sm {%- if params.label.classes %} {{ params.label.classes }}{% endif %}">
    {% if params.label.html %}
    {{ params.label.html | filterquotes | safe}}
    {% else %}
    <p>{{ params.label.text }}</p>
    {% endif %}
  </div>
  {% endif %}
  <button {{- commonAttributes | safe }} >
    <span class="inline-flex self-center max-w-xs align-middle truncate">{%- if conditionalValue %} {{ conditionalValue }}{% else %}{{ params.html | filterquotes | safe if params.html else params.text }}{% endif %}</span>
    {# Indentation is intentional to output HTML nicely #}
    {{- iconHtml | safe | trim | indent(2, true) if iconHtml -}}
  </button>
  <div class="c-listbox__tooltip -ml-sm mt-2 border border-neutral-base shadow-md bg-white {%- if params.classesTooltip %} {{ params.classesTooltip }}{% endif %}" data-module="c-listbox-tooltip" >
    <ul id="{{ params.id }}" {{- commonTooltipAttributes | safe }} {%- if conditionalId %} aria-activedescendant="{{ conditionalId }}"{% endif %}>
      {{ innerHtml | safe | trim }}
    </ul>
  </div>
</div>
<!-- /listbox -->
