{% set exampleComponent = "hint" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "text": "Esto es una pista o hint."
    }
  },
  {
    "name": "con HTML",
    "data": {
      "html": "Esto es una <strong>pista</strong> o <em>hint</em>."
    }
  }
] %}