<!-- hint -->
<p {%- if params.id %} id="{{ params.id }}"{% endif %} class="block text-neutral-dark {%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ params.html | filterquotes | safe if params.html else params.text }}</p>
<!-- /hint -->