{% set exampleComponent = "date-input" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "fechnacim",
      "namePrefix": "fechnacim",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con errores solo",
    "data": {
      "id": "fechnacim-errors-a",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "hasErrors": true,
          "classes": "w-20  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con errores y pista",
    "data": {
      "id": "fechnacim-errors-b",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "hasErrors": true,
          "classes": "w-20  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con error en el input del día",
    "data": {
      "id": "fechnacim-day-error",
      "namePrefix": "fechnacim-day-error",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con error en el input del mes",
    "data": {
      "id": "fechnacim-month-error",
      "namePrefix": "fechnacim-month-error",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "hasErrors": true,
          "classes": "w-14  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con error en el input del año",
    "data": {
      "id": "fechnacim-year-error",
      "namePrefix": "fechnacim-year-error",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "errorMessage": {
        "text": "Error: Aqui va un mensaje de error"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "hasErrors": true,
          "classes": "w-20  border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con items por defecto",
    "data": {
      "id": "fechnacim-default-items",
      "namePrefix": "fechnacim-default-items",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      }
    }
  },
  {
    "name": "input de tiempo",
    "data": {
      "id": "time",
      "namePrefix": "time",
      "fieldset": {
        "legend": {
          "text": "Hora de publicación"
        }
      },
      "hint": {
        "text": "Por ejemplo, 14:30"
      },
      "items": [
        {
          "name": "hora",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "divider": {
            "text": ":",
            "classes": "flex items-end mb-sm mr-base"
          }
        },
        {
          "name": "minutos",
          "classes": "w-14",
          "attributes": {
            "maxlength": "2"
          }
        }
      ]
    }
  },
  {
    "name": "con clases de form-group opcionales",
    "data": {
      "id": "fechnacim-formgroup-classes",
      "namePrefix": "fechnacim-formgroup-classes",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "formGroup": {
        "classes": "p-base bg-primary-light"
      }
    }
  },
  {
    "name": "con valores de autocompletado",
    "data": {
      "id": "fechnacim-with-autocomplete-attribute",
      "namePrefix": "fechnacim-with-autocomplete",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "autocomplete": "bday-day",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "autocomplete": "bday-month",
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "autocomplete": "bday-year",
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "con atributos de input",
    "data": {
      "id": "fechnacim-with-input-attributes",
      "namePrefix": "fechnacim-with-input-attributes",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980"
      },
      "items": [
        {
          "name": "día",
          "classes": "w-14",
          "attributes": {
            "data-example-day": "día",
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "w-14",
          "attributes": {
            "data-example-month": "mes",
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "w-20",
          "attributes": {
            "data-example-year": "año",
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "peque",
    "data": {
      "id": "fechnacim-small",
      "namePrefix": "fechnacim-small",
      "fieldset": {
        "legend": {
          "text": "Fecha de nacimiento",
          "classes": "text-sm font-bold"
        }
      },
      "hint": {
        "text": "Por ejemplo, 31 3 1980",
        "classes": "text-sm"
      },
      "items": [
        {
          "name": "día",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Dia",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "mes",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Mes",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "name": "año",
          "classes": "c-input--sm w-16 mt-xs",
          "label": {
            "text": "Año",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "4"
          }
        }
      ]
    }
  },
  {
    "name": "input de tiempo peque",
    "data": {
      "id": "fechnacim-small-time",
      "namePrefix": "fechnacim-small-time",
      "fieldset": {
        "legend": {
          "text": "Hora de publicación",
          "classes": "text-sm font-bold"
        }
      },
      "hint": {
        "text": "Por ejemplo, 14:30",
        "classes": "text-sm"
      },
      "items": [
        {
          "name": "hora",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Hora",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        },
        {
          "divider": {
            "text": ":",
            "classes": "flex items-end mb-xs mr-base"
          }
        },
        {
          "name": "minutos",
          "classes": "c-input--sm w-10 mt-xs",
          "label": {
            "text": "Minutos",
            "classes": "text-sm"
          },
          "attributes": {
            "maxlength": "2"
          }
        }
      ]
    }
  }
] %}