{% from "../error-message/_macro.error-message.njk" import componentErrorMessage -%}
{% from "../fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "../hint/_macro.hint.njk" import componentHint %}
{% from "../input/_macro.input.njk" import componentInput %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.fieldset.describedBy if params.fieldset.describedBy else "" %}

{% if params.items | length %}
  {% set dateInputItems = params.items %}
{% else %}
  {% set dateInputItems = [
    {
      name: "día",
      classes: "w-14",
      attributes: {
        maxlength: "2"
      }
    },
    {
      name: "mes",
      classes: "w-14",
      attributes: {
        maxlength: "2"
      }
    },
    {
      name: "año",
      classes: "w-20",
      attributes: {
        maxlength: "4"
      }
    }
  ] %}
{% endif %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
{% if params.hint %}
  {% set hintId = params.id + "-hint" %}
  {% set describedBy = describedBy + " " + hintId if describedBy else hintId %}

  {{ componentHint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | indent(2) | trim }}
{% endif %}
{% if params.errorMessage %}
  {% set errorId = params.id + "-error" %}
  {% set describedBy = describedBy + " " + errorId if describedBy else errorId %}
  {{ componentErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | indent(2) | trim }}
{% endif %}
  <div class="flex {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}
    {%- if params.id %} id="{{ params.id }}"{% endif %}>
    {% for item in dateInputItems %}
      {% if item.divider %}
    <div {%- if item.divider.classes %} class="{{ item.divider.classes }}{% endif %}" role="separator">
          {% if item.divider.html %}
            {{ item.divider.html | filterquotes | safe }}
          {% else %}
      <p>
        {{ item.divider.text }}
      </p>
          {% endif %}
    </div>
      {% else %}
    <div class="mr-base">
      {{ componentInput({
        label: item.label if item.label else { "text" : item.name | capitalize },
        id: item.id if item.id else (params.id + "-" + item.name),
        classes: "mb-0 " + (item.classes if item.classes),
        errorId: errorId if item.hasErrors,
        name: (params.namePrefix + "-" + item.name) if params.namePrefix else item.name,
        value: item.value,
        type: "text",
        inputmode: "numeric",
        autocomplete: item.autocomplete,
        pattern: item.pattern if item.pattern else "[0-9]*",
        disabled: item.disabled,
        attributes: item.attributes
      }) | indent(6) | trim }}
    </div>
      {% endif %}
  {% endfor %}
  </div>
{% endset %}

{% set formGroupContent %}
  {% if params.fieldset %}
  {#- We override the fieldset's role to 'group' because otherwise JAWS does not
      announce the description for a fieldset comprised of text inputs, but
      adding the role to the fieldset always makes the output overly verbose for
      radio buttons or checkboxes. -#}
    {% call componentFieldset({
      describedBy: describedBy,
      errorId: errorId,
      classes: params.fieldset.classes,
      role: 'group',
      attributes: params.fieldset.attributes,
      legend: params.fieldset.legend,
      headingLevel: params.fieldset.headingLevel
    }) %}
    {{ innerHtml | safe }}
    {% endcall %}

  {% else %}
    {{ innerHtml | safe }}
  {% endif %}
{% endset %}

<!-- date-input -->
<div class="c-form-group {%- if params.errorMessage %} c-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
  {{ formGroupContent | safe | indent(2) }}
</div>
<!-- /date-input -->