{% set exampleComponent = "dropdown" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "text": "Por defecto",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "con estado activo",
    "description": "Simula activar la pseudo-clase de CSS <code>:active</code>. En realidad sólo se usa para documentar estos ejemplos.",
    "data": {
      "text": "Activo",
      "classes": "ds-active",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "con estado hover",
    "description": "Simula activar la pseudo-clase de CSS <code>:hover</code>. En realidad sólo se usa para documentar estos ejemplos.",
    "data": {
      "text": "Hover",
      "classes": "ds-hover",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "con estado focus",
    "description": "Simula activar la pseudo-clase de CSS <code>:focus</code>. En realidad sólo se usa para documentar estos ejemplos.",
    "data": {
      "text": "Focus",
      "classes": "ds-focus",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "primario",
    "description": "Para acciones primarias.",
    "data": {
      "text": "Primario",
      "classes": "c-dropdown--primary",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "transparente",
    "data": {
      "text": "Transparente",
      "classes": "c-dropdown--transparent",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "Con estilos de cabecera",
    "data": {
      "text": "Header",
      "classes": "c-dropdown--header",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "grande",
    "data": {
      "text": "Grande",
      "classes": "c-dropdown--lg",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "peque",
    "data": {
      "text": "Botón pequeño con texto muy largo",
      "classes": "c-dropdown--sm",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "peque tiene selección",
    "description": "Un botón con una selección aplicada se muestra con color.",
    "data": {
      "text": "Botón pequeño con texto muy largo",
      "classes": "c-dropdown--has-selection c-dropdown--sm",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "deshabilitado",
    "data": {
      "text": "Deshabilitado",
      "disabled": true,
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "Con clases de css aplicadas al container",
    "description": "Tanto el botón como los elementos del tooltip están rodeados de un div contenedor al que se le pueden aplicar estilos de CSS.",
    "data": {
      "text": "Clases en container",
      "classesContainer": "inline-block p-base bg-primary-light",
      "caller": "<div class=' w-48 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-40 '></div></div>"
    }
  },
  {
    "name": "clases aplicadas al contenido del tooltip",
    "description": "El contenido del tooltip puede tener clases adicionales aplicadas. En este ejemplo se le ha aplicado una altura máxima y scroll vertical si el contenido se desborda.",
    "data": {
      "text": "Clases al contenido del tooltip",
      "classesTooltip": "max-h-64 overflow-y-auto",
      "caller": "<div class=' w-64 p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-64 '></div></div>"
    }
  },
  {
    "name": "Clases aplicadas a varios elementos",
    "description": "En este ejemplo, usando clases de CSS, la anchura del contenido establece la anchura del tooltip.",
    "data": {
      "text": "Dropdown anchura completa",
      "classes": "w-full justify-between",
      "classesTooltip": "w-max max-h-64 overflow-y-auto",
      "caller": "<div class=' p-2 '><div class=' border-4 border-dashed border-gray-200 rounded-lg h-64 '><div style=' width:900px '></div></div></div>"
    }
  },
  {
    "name": "Con role dialog",
    "description": 'Usa los atributos <code>data-aria-haspopup="dialog" data-role="dialog" data-aria-modal="false" data-aria-label="Información adicional"</code> para abrir un desplegable que no contenga un menú, por ejemplo un panel informativo.',
    "data": {
      "text": "Marta Pérez",
      "caller": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
      "attributes": {
        "data-aria-haspopup": "dialog",
        "data-role": "dialog",
        "data-aria-modal": "false",
        "data-aria-label": "Información adicional"
      }
    }
  }
] %}