/* ==========================================================================
   _styles.dropdown.css
   ========================================================================== */

@layer components {
  .c-dropdown {
    @apply inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    @apply bg-white;
    @apply border;
    @apply border-primary-base;
    @apply rounded;
    @apply align-baseline;
    @apply font-semibold;
    @apply text-primary-base;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    @apply whitespace-nowrap;
    @apply cursor-pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-none;

    &:hover:not(disabled),
    &:active:not(disabled),
    &.ds-hover:not(disabled) {
      @apply bg-neutral-light;
      @apply border-primary-base;
      @apply text-primary-base;
    }

    &:active:not(disabled),
    &.ds-active:not(disabled) {
      @apply relative;
      @apply top-px;
    }

    &.ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      @apply text-black;
      @apply outline-none;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-white;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
  }


  .c-dropdown--base {
    @apply px-3;
    @apply py-2;
    @apply text-base;
  }


  .c-dropdown--lg {
    @apply px-4;
    @apply py-3;
    @apply text-lg;
  }


  .c-dropdown--sm {
    @apply px-2;
    @apply py-1;
    @apply text-sm;
  }


  .c-dropdown--primary {
    @apply bg-primary-base;
    @apply text-white;
    @apply shadow-solid-primary-dark;

    &:hover:not(disabled),
    &:active:not(disabled),
    &.ds-hover:not(disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      @apply text-white;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-primary-base;
    }
  }


  .c-dropdown--has-selection {
    @apply bg-primary-light;
    @apply text-primary-dark;
    @apply border-primary-base;
    @apply shadow-none;
    @apply font-bold;

    &:hover:not(disabled),
    &:active:not(disabled),
    &.ds-hover:not(disabled) {
      @apply bg-primary-light;
      @apply text-black;
      @apply bg-opacity-50;
    }

    &:active:not(disabled),
    &.ds-active:not(disabled) {
      @apply shadow-none;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-primary-light;
    }
  }


  .c-dropdown--transparent {
    @apply bg-transparent;
    @apply border-transparent;
    @apply shadow-none;
    @apply underline;

    &:hover:not(disabled),
    &.ds-hover:not(disabled) {
      @apply text-primary-dark;
      @apply border-neutral-base;
      @apply shadow-none;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-transparent;
      @apply border-transparent;
      @apply no-underline;
    }
  }


  .c-dropdown--header {
    @apply bg-transparent;
    @apply border-none;
    @apply rounded-none;
    @apply shadow-none;
    @apply font-normal;
    @apply text-sm;
    @apply text-black;

    &:hover:not(disabled),
    &:active:not(disabled),
    &.ds-hover:not(disabled) {
      @apply bg-transparent;
      @apply border-none;
      @apply shadow-none;
      @apply text-black;
      @apply underline;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-transparent;
    }
  }


  .c-dropdown__tooltip {
    @apply hidden;

    .tippy-content & {
      @apply block;
    }
  }
}