{%- set classNames = "c-dropdown" -%}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{% set iconHtml %}
{#- The SVG needs `focusable="false"` so that Internet Explorer does not
treat it as an interactive element - without this it will be
'focusable' when using the keyboard to navigate. #}
<svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
{% endset %}


{%- set commonAttributes %} class="{{ classNames }}" data-module="c-dropdown-button" aria-haspopup="true" {% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}{% if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}{% endset %}

<!-- dropdown -->
<div data-module="c-dropdown" class="{% if params.classesContainer %}{{ params.classesContainer }}{% else %} relative{% endif %}">
  <button {{- commonAttributes | safe }}>
    <span class="inline-flex self-center max-w-xs align-middle truncate">{{ params.html | filterquotes | safe if params.html else params.text }}</span>
    {# Indentation is intentional to output HTML nicely #}
    {{- iconHtml | safe | trim | indent(2, true) if iconHtml -}}
  </button>
  {% if params.hiddenText  %}
  <span class="sr-only">{{ params.hiddenText }}</span>
  {% endif  %}
  <div class="c-dropdown__tooltip -ml-sm mt-2 border border-neutral-base shadow-md bg-white {%- if params.classesTooltip %} {{ params.classesTooltip }}{% endif %}" data-module="c-dropdown-tooltip" >
    {% if caller %}
    {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
    {% elseif params.caller %}
    {{ params.caller | safe }}
    {% endif %}
  </div>
</div>
<!-- /dropdown -->