{% set exampleComponent = "input-group" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "doc-identidad-1",
      "namePrefix": "doc-identidad",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad"
        }
      },
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "label": {
            "text": "Tipo"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ]
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número"
          },
          "placeholder": "Ej: 28999876V"
        }
      ]
    }
  },
  {
    "name": "con pista",
    "data": {
      "id": "doc-identidad-2",
      "namePrefix": "doc-identidad",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad"
        }
      },
      "hint": {
        "text": "Selecciona tu tipo de documento e introduce el número de documento sin espacios"
      },
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "label": {
            "text": "Tipo"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ]
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número"
          },
          "placeholder": "Ej: 28999876V"
        }
      ]
    }
  },
  {
    "name": "con divisor",
    "data": {
      "id": "with-divider",
      "namePrefix": "with-divider",
      "fieldset": {
        "legend": {
          "text": "Introduce cantidad"
        }
      },
      "items": [
        {
          "divider": {
            "text": "Desde:",
            "classes": "self-end mb-xl mr-base"
          }
        },
        {
          "name": "num-doc-A",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Cantidad inicio",
            "classes": "sr-only"
          },
          "placeholder": "Ej: 0"
        },
        {
          "divider": {
            "text": "hasta:",
            "classes": "self-end mb-xl mx-base"
          }
        },
        {
          "name": "num-doc-B",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Cantidad final",
            "classes": "sr-only"
          },
          "placeholder": "Ej: 600"
        }
      ]
    }
  },
  {
    "name": "con errores",
    "data": {
      "id": "datos-errors",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "hint": {
        "text": "Necesitamos tus datos para identificarte posteriormente."
      },
      "errorMessage": {
        "text": "Error: Estos campos no pueden estar vacíos"
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-40 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "aria-describedby": "datos-errors-hint datos-errors-error",
            "aria-errormessage": "datos-errors-error",
            "aria-invalid": "true"
          }
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-40 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "aria-describedby": "datos-errors-hint datos-errors-error",
            "aria-errormessage": "datos-errors-error",
            "aria-invalid": "true"
          }
        }
      ]
    }
  },
  {
    "name": "con error en el nombre",
    "data": {
      "id": "datos-error-nombre-a",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "hint": {
        "text": "Necesitamos tus datos para identificarte posteriormente."
      },
      "errorMessage": {
        "text": "Error: Estos campos no pueden estar vacíos"
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-40 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "aria-describedby": "datos-error-nombre-a-hint datos-error-nombre-a-error",
            "aria-errormessage": "datos-error-nombre-a-error",
            "aria-invalid": "true"
          }
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-auto"
        }
      ]
    }
  },
  {
    "name": "con error en los apellidos",
    "data": {
      "id": "datos-error-nombre-b",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "hint": {
        "text": "Necesitamos tus datos para identificarte posteriormente."
      },
      "errorMessage": {
        "text": "Error: Estos campos no pueden estar vacíos"
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto"
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-40 border-alert-base ring-2 ring-alert-base",
          "attributes": {
            "aria-describedby": "datos-error-nombre-b-hint datos-error-nombre-b-error",
            "aria-errormessage": "datos-error-nombre-b-error",
            "aria-invalid": "true"
          }
        }
      ]
    }
  },
  {
    "name": "Con clases de form-group opcionales y más clases",
    "data": {
      "id": "doc-identidad-classes",
      "namePrefix": "doc-identidad-classes",
      "fieldset": {
        "legend": {
          "text": "Documento de identidad",
          "classes": "c-h2"
        }
      },
      "formGroup": {
        "classes": "p-base bg-primary-light"
      },
      "classes": "grid grid-cols-2 gap-lg",
      "items": [
        {
          "name": "tipo-doc",
          "formGroup": {
            "classes": "lg:border-r lg:border-neutral-base mb-0"
          },
          "classes": "w-full lg:w-40",
          "label": {
            "text": "Tipo",
            "classes": "text-sm"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "NIF",
              "selected": true
            },
            {
              "value": 2,
              "text": "Pasaporte"
            }
          ]
        },
        {
          "name": "num-doc",
          "classes": "w-full lg:w-64",
          "label": {
            "text": "Número",
            "classes": "text-sm"
          },
          "placeholder": "Ej: 28999876V"
        }
      ]
    }
  },
  {
    "name": "con autocompletado",
    "description": "Usa el parámetro <code>autocomplete</code>",
    "data": {
      "id": "datos-autocomplete",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "autocomplete": "given-name"
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-auto",
          "autocomplete": "family-name"
        }
      ]
    }
  },
  {
    "name": "con atributos de input",
    "data": {
      "id": "datos-attributes",
      "fieldset": {
        "legend": {
          "text": "Datos del solicitante"
        }
      },
      "items": [
        {
          "isSelect": true,
          "name": "titulo",
          "label": {
            "text": "Titulo"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-20",
          "attributes": {
            "data-title": "titulo"
          },
          "isSelect": true,
          "selectItems": [
            {
              "value": 1,
              "text": "Sr.",
              "selected": true
            },
            {
              "value": 2,
              "text": "Sra."
            }
          ]
        },
        {
          "name": "nombre",
          "label": {
            "text": "Nombre"
          },
          "formGroup": {
            "classes": "mr-base"
          },
          "classes": "w-full lg:w-auto",
          "attributes": {
            "data-name": "nombre"
          }
        },
        {
          "name": "apellidos",
          "label": {
            "text": "Apellidos"
          },
          "classes": "w-full lg:w-auto",
          "attributes": {
            "data-surname": "apellidos"
          }
        }
      ]
    }
  }
] %}