{% set exampleComponent = "details" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "summary": {
        "html": "Más información"
      },
      "caller": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid distinctio mollitia itaque placeat voluptatibus, veritatis recusandae odio facere corporis laboriosam quam quia sequi, possimus consequatur enim veniam eius soluta esse.</p>"
    }
  },
  {
    "name": "expandido",
    "description": "Usa el parámetro <code>'open': true</code> para mostrar inicialmente abierto un item.",
    "data": {
      "id": "mas-informacion",
      "summary": {
        "text": "Más información"
      },
      "caller": "<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates eum cupiditate quod minima consequuntur, eveniet aspernatur eius, consectetur ad, a enim atque dicta, repellat voluptatum iusto hic perspiciatis laboriosam unde.</p>",
      "open": true
    }
  },
  {
    "name": "con HTML",
    "data": {
      "summary": {
        "html": "Más información <em>actualizada</em>"
      },
      "caller": "<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Quae omnis ipsa eius dolorum, maiores! Labore quaerat nam pariatur minima consectetur, tempora magnam. At sequi quidem exercitationem velit id, pariatur, animi.</p>"
    }
  },
  {
    "name": "con clases",
    "data": {
      "summary": {
        "html": "Más información <em>actualizada</em>",
        "classes": "hover:underline"
      },
      "classes": "p-base bg-primary-light text-primary-base",
      "containerClasses": "p-base",
      "caller": "<p>Lorem ipsum dolor, sit amet <strong>consectetur</strong>, adipisicing elit. Quae omnis ipsa eius dolorum, maiores! Labore quaerat nam pariatur minima consectetur, tempora magnam. At sequi quidem exercitationem velit id, pariatur, animi.</p>"
    }
  }
] %}