<!-- details -->
<details {%- if params.id %} id="{{params.id}}"{% endif %} class="{%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} {{- " open" if params.open }}>
  <summary class="py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span class="{% if params.summary.classes %}{{ params.summary.classes }}{% else %}c-link{% endif %}">
      {{ params.summary.html | filterquotes | safe if params.summary.html else params.summary.text }}
    </span>
  </summary>
  <div class="py-sm">
    <div {%- if params.containerClasses %} class="{{ params.containerClasses }}"{% endif %}>
      {% if caller %}
      {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
      {% elseif params.caller %}
      {{ params.caller | safe }}
      {% endif %}
    </div>
  </div>
</details>
<!-- /details -->