{% set exampleComponent = "notification" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "title": {
        "text": "El documento se ha cargado correctamente"
      },
      "id": "default"
    }
  },
  {
    "name": "por defecto con html",
    "data": {
      "title":{
        "html": "Las <a href=' # ' class=' c-link '>entidades beneficiarias</a> deberán tener su sede y actividad principal en Aragón."
      },
      "id": "default-with-html"
    }
  },
  {
    "name": "con description",
    "data": {
      "title":{
        "html": "El documento se ha cargado correctamente"
      },
      "description":{
        "html": "<p>Documento acreditativo de <em class=\" italic \">registro de alta de la asociación</em> puede verse publicado ya.</p>"
      },
      "id": "with-description"
    }
  },
  {
    "name": "con content",
    "data": {
      "title":{
        "html": "El documento se ha cargado correctamente"
      },
      "content":{
        "html": "<p>Documento acreditativo de <em class=\" italic \">registro de alta de la asociación</em> puede verse publicado ya.</p>"
      },
      "id": "with-content"
    }
  },
  {
    "name": "con items",
    "data": {
      "title":{
        "text": "Problemas encontrados"
      },
      "items": [
        {
          "text": "Campo Nombre de la empresa está vacío",
          "href": "#empresa"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#actividad"
        },
        {
          "text": "El formato de correo electrónico es incorrecto",
          "href": "#email"
        }
      ],
      "id": "with-items"
    }
  },
  {
    "name": "con tipo: éxito",
    "data": {
      "title": {
        "text": "El documento se ha cargado correctamente"
      },
      "type": "success",
      "id": "type-success"
    }
  },
  {
    "name": "con tipo: alerta",
    "data": {
      "title":{
        "text": "Problemas encontrados"
      },
      "items": [
        {
          "text": "Campo Nombre de la empresa está vacío",
          "href": "#empresa"
        },
        {
          "text": "Campo Fecha de inicio de la actividad está vacío",
          "href": "#actividad"
        },
        {
          "text": "El formato de correo electrónico es incorrecto",
          "href": "#email"
        }
      ],
      "type": "alert",
      "id": "type-alert"
    }
  },
  {
    "name": "con tipo: info",
    "data": {
      "title": {
        "text": "ATENCIÓN: Debido a la situación por Covid-19, pide cita previa para acudir a una de nuestras oficinas."
      },
      "description":{
        "html": "<a class=' c-link text-sm ' href=' # '>Pedir cita previa</a> "
      },
      "type": "info",
      "id": "type-info"
    }
  },
  {
    "name": "con botón de cerrar",
    "description": "Usa el parámetro <code>'isDismissible': true</code>",
    "data": {
      "title": {
        "text": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut distinctio error non, reiciendis repudiandae reprehenderit minima quia laboriosam voluptate, quo veniam expedita possimus ex nam consequuntur autem eveniet, saepe ea."
      },
      "isDismissible": true,
      "id": "with-close-button"
    }
  },
  {
    "name": "Cerrar la notificación con JavaScript",
    "description": "Puedes usar con javascript la función global <code>closeItemNotification(element)</code>, para cerrar la notificación. Ej: Abre la consola del navegador y escribe <code>closeItemNotification('with-close-button-js')</code> para cerrar la notificación. Es necesario usar el parámetro <code>'isDismissible': true</code>",
    "data": {
      "title": {
        "text": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut distinctio error non, reiciendis repudiandae reprehenderit minima quia laboriosam voluptate, quo veniam expedita possimus ex nam consequuntur autem eveniet, saepe ea."
      },
      "isDismissible": true,
      "id": "with-close-button-js"
    }
  },
  {
    "name": "con icono personalizado y clases",
    "data": {
      "title": {
        "text": "Acaba de publicarse la lista de admitidos y excluidos de la convocatoria publicado en el BOA"
      },
      "description":{
        "html": "<a class=' c-link break-all ' href=' # '>http://www.boa.aragon.es/cgi-bin/EBOA/BRSCGI?CMD=VEROBJ&MLKOB=1119520063030&type=pdf</a> "
      },
      "icon": {
        "html": "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='1em' height='1em' class='w-8 h-8' aria-label='Atención' focusable='false'><path d='M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z' fill='currentColor'/></svg>"
      },
      "id": "with-custom-icon",
      "classes": "border-neutral-dark bg-neutral-lighter"
    }
  },
   {
    "name": "Con encabezado",
    "description": "Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. En este ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>.",
    "data": {
      "headingLevel": 3,
      "title": {
        "text": "Esto es un título con h3"
      },
      "id": "headinglevel"
    }
  },
  {
    "name": "con parámetros mixtos",
    "data": {
      "title":{
        "text": "No olvide adjuntar el registro de alta de la asociación",
        "classes": "font-bold"
      },
      "description":{
        "text": "Necesitará el documento acreditativo de registro de alta de la asociación"
      },
      "items": [
        {
          "text": "Desde modelo",
          "href": "#"
        },
        {
          "text": "Obligatorio previo a resolución",
          "href": "#"
        },
        {
          "text": "Condicionado",
          "href": "#"
        }
      ],
      "type": "info",
      "isDismissible": true,
      "id": "with-mixed-params"
    }
  }
] %}
