/* ==========================================================================
   _styles.notification.css
   ========================================================================== */

@layer components {
  .c-notification {
     @apply flex flex-wrap relative overflow-hidden p-base bg-white border-4;
  }


  .c-notification--primary {
    @apply border-primary-base;
  }


  .c-notification--warning {
    @apply border-warning-dark;
  }


  .c-notification--success {
    @apply border-success-dark;
  }

  .c-notification--alert {
    @apply border-alert-dark;
  }
}
