{% set exampleComponent = "spinner" %}
{% set examples =  [
  {
    "name": "default"
  },
  {
    "name": "con texto para lector de pantalla",
    "description": "Usa un texto personalizado para lectores de pantalla en vez del texto por defecto.",
    "data": {
      "text": "Espere por favor",
      "classes": "text-neutral-base"
    }
  },
  {
    "name": "Tamaño xs",
    "description": "Usa las clases de tamaño de texto para dar tamaño al Spinner.",
    "data": {
      "classes": "text-xs"
    }
  },
  {
    "name": "Tamaño lg",
    "data": {
      "classes": "text-lg"
    }
  },
  {
    "name": "Tamaño 6xl",
    "data": {
      "classes": "text-6xl"
    }
  },
  {
    "name": "color neutral color base",
    "description": "Usa las clases de color de texto para dar color al Spinner.",
    "data": {
      "classes": "text-neutral-base"
    }
  },
  {
    "name": "color primario",
    "data": {
      "classes": "text-primary-base"
    }
  },
  {
    "name": "Establecida la anchura y altura del contenedor con clases",
    "description": "Usa las clases de tamaño para cambiar las dimensiones del contenedor.",
    "data": {
      "classes": "border border-neutral-light w-60 h-60"
    }
  }
] %}