/* ==========================================================================
   _styles.spinner.css
   ========================================================================== */

@layer components {
  .c-spinner {
    @apply relative;
    @apply block;
    @apply pointer-events-none;

    &::after {
      content: '';
      @apply absolute !important;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));
      @apply block;
      width: 1em;
      height: 1em;
      @apply border-0.125em border-solid border-current;
      @apply rounded-full;
      border-right-color: theme('colors.transparent');
      border-top-color: theme('colors.transparent');
      animation: spinAround 500ms infinite linear;
    }
  }


  @keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}
