<!-- spinner -->
<span class="c-spinner {% if params.classes %}{{ params.classes }}{% endif %}" data-module="c-spinner"{% if params.attributes %}{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}{% endif %} >
  {% if params.text %}
  <span class="sr-only" role="alert" aria-live="assertive">
    {{ params.text }}
  </span>
  {% endif %}
</span>
<!-- /spinner -->