{% set exampleComponent = "tree" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "name": "por-defecto",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "default-example",
      "items": [
        {
          "text": "Item 1",
          "id": "default-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "default-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "default-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "default-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "default-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "default-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "tipo checkbox",
    "data": {
      "name": "type-checkbox",
      "classes": "mt-base",
      "type": "checkbox",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "type-checkbox",
      "items": [
        {
          "text": "Item 1",
          "id": "type-checkbox-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "type-checkbox-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "type-checkbox-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "type-checkbox-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "type-checkbox-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "type-checkbox-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "tree navigation",
    "data": {
      "name": "tree-nav",
      "classes": "mt-base",
      "type": "navigation",
      "idPrefix": "navigation-example",
      "ariaLabel": "Apartados de esta página",
      "items": [
        {
          "text": "Item 1",
          "id": "navigation-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                 "sub": {
                    "items": [
                      {
                        "text": "Subitem 1",
                        "href": "#"
                      },
                      {
                        "text": "Subitem 2",
                        "href": "#"
                      },
                      {
                        "text": "Subitem 3",
                        "href": "#",
                        "active": true
                      }
                    ],
                    "attributes": {
                      "aria-labelledby": "navigation-example-item-3"
                    }
                  }
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "navigation-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "navigation-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "tree navigation con hasUnderline",
    "description": "Usa <code>'hasUnderline': true</code> cuando tienes mezclados, items deshabilitados o sin href e items normales.",
    "data": {
      "name": "tree-nav-hasunderline",
      "classes": "mt-base",
      "type": "navigation",
      "idPrefix": "navigation-hasunderline-example",
      "ariaLabel": "Apartados de esta página",
      "hasUnderline": "true",
      "items": [
        {
          "text": "Item 1",
          "id": "navigation-hasunderline-example-item-1",
          "href": "#",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2 deshabilitado o sin href",
                "href": "#",
                "disabled": true
              },
              {
                "text": "Subitem 3",
                "href": "#",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 2",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 3",
                      "href": "#",
                      "active": true
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "navigation-hasunderline-example-item-3"
                  }
                }
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-hasunderline-example-item-1"
            }
          }
        },
        {
          "text": "Item 2 deshabilitado o sin href",
          "id": "navigation-hasunderline-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2 deshabilitado o sin href",
                "href": "#",
                "disabled": true
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-hasunderline-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "navigation-hasunderline-example-item-3",
          "href": "#",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-hasunderline-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "tree navigation link",
    "description": "Usa el parámetro <code>'classes': 'c-link'</code> en cada item para dar apariencia más visible de links.",
    "data": {
      "name": "tree-nav-link",
      "classes": "mt-base",
      "type": "navigation",
      "idPrefix": "navigation-link-example",
      "ariaLabel": "Apartados de esta página",
      "items": [
        {
          "text": "Item 1",
          "id": "navigation-link-example-item-1",
          "classes": "c-link",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 2",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 3",
                "classes": "c-link",
                 "sub": {
                    "items": [
                      {
                        "text": "Subitem 1",
                        "href": "#",
                        "classes": "c-link"
                      },
                      {
                        "text": "Subitem 2",
                        "href": "#",
                        "classes": "c-link"
                      },
                      {
                        "text": "Subitem 3",
                        "href": "#",
                        "active": true,
                        "classes": "c-link"
                      }
                    ],
                    "attributes": {
                      "aria-labelledby": "navigation-link-example-item-3"
                    }
                  }
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-link-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "classes": "c-link",
          "id": "navigation-link-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 2",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 3",
                "href": "#",
                "classes": "c-link"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-link-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "classes": "c-link",
          "id": "navigation-link-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 2",
                "href": "#",
                "classes": "c-link"
              },
              {
                "text": "Subitem 3",
                "href": "#",
                "classes": "c-link"
              }
            ],
            "attributes": {
              "aria-labelledby": "navigation-link-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "Tree Nav: Mostrar activo un item del tree con JavaScript",
    "description": "Puedes usar con javascript la función global <code>activateItemsTree(tree, element,  true)</code>, para mostrar un item activo del tree nav. Ej: Abre la consola del navegador y escribe <code>activateItemsTree('tree-nav-js', 'sub-sub-tree-nav-js-item-1-2-1', true)</code> para mostrar un item del menú activo.",
    "data": {
      "name": "tree-navigation-js",
      "classes": "mt-base",
      "id": "tree-nav-js",
      "type": "navigation",
      "idPrefix": "tree-nav-js-example",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-nav-js-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "index.html"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#",
                 "sub": {
                    "items": [
                      {
                        "text": "Subitem 1",
                        "href": "#"
                      },
                      {
                        "text": "Subitem 2",
                        "href": "#"
                      },
                      {
                        "text": "Subitem 3",
                        "href": "#"
                      }
                    ],
                    "attributes": {
                      "aria-labelledby": "tree-nav-js-item-3"
                    }
                  }
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-nav-js-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-nav-js-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-nav-js-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-nav-js-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "href": "#"
              },
              {
                "text": "Subitem 2",
                "href": "#"
              },
              {
                "text": "Subitem 3",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-nav-js-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con pista y error",
    "data": {
      "name": "with-hint-and-error",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "errorMessage": {
        "text": "Error: No tienes permiso para seleccionar ese organismo."
      },
      "idPrefix": "with-hint-and-error",
      "items": [
        {
          "text": "Item 1",
          "id": "with-hint-and-error-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hint-and-error-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-hint-and-error-example-item-2",
          "checked": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hint-and-error-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-hint-and-error-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hint-and-error-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con item deshabilitado",
    "data": {
      "name": "with-disabled-item",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "with-disabled-item",
      "items": [
        {
          "text": "Item 1",
          "id": "with-disabled-item-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-disabled-item-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-disabled-item-example-item-2",
          "disabled": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "disabled": true
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-disabled-item-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-disabled-item-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-disabled-item-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con item activo",
    "data": {
      "name": "with-active-item",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "with-active-item",
      "items": [
        {
          "text": "Item 1",
          "id": "with-active-item-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-active-item-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-active-item-example-item-2",
          "active": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-active-item-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-active-item-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-active-item-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con pistas en items",
    "data": {
      "name": "with-hints-on-items",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "with-hints-on-items",
      "items": [
        {
          "text": "Item 1",
          "hint": {
            "text": "Pista en item"
          },
          "id": "with-hints-on-items-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3",
                "hint": {
                  "text": "Pista en item"
                }
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hints-on-items-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "hint": {
            "text": "Pista en item"
          },
          "id": "with-hints-on-items-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3",
                "hint": {
                  "text": "Pista en item"
                }
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hints-on-items-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-hints-on-items-example-item-3",
          "hint": {
            "text": "Pista en item"
          },
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "hint": {
                  "text": "Pista en item"
                }
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3",
                "hint": {
                  "text": "Pista en item"
                }
              }
            ],
            "attributes": {
              "aria-labelledby": "with-hints-on-items-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con un texto de item muy largo",
    "data": {
      "name": "with-very-long-option-text",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "with-very-long-option-text",
      "items": [
        {
          "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.",
          "id": "with-very-long-option-text-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.",
                "value": "subitem-1"
              },
              {
                "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.",
                "value": "subitem-2"
              },
              {
                "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Sed posuere consectetur est at lobortis.",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-very-long-option-text-example-item-1"
            }
          }
        },
        {
          "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.",
          "id": "with-very-long-option-text-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.",
                "value": "subitem-1"
              },
              {
                "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.",
                "value": "subitem-2"
              },
              {
                "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Sed posuere consectetur est at lobortis.",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-very-long-option-text-example-item-2"
            }
          }
        },
        {
          "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Sed posuere consectetur est at lobortis.",
          "id": "with-very-long-option-text-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.",
                "value": "subitem-1"
              },
              {
                "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.",
                "value": "subitem-2"
              },
              {
                "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Sed posuere consectetur est at lobortis.",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-very-long-option-text-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con un legend como encabezado",
    "data": {
      "name": "with-legend-as-page-heading",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo",
          "classes": "c-h2",
          "isPageHeading": true
        },
        "headingLevel": 2
      },
      "idPrefix": "with-legend-as-page-heading",
      "items": [
        {
          "text": "Item 1",
          "id": "with-legend-as-page-heading-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-legend-as-page-heading-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-legend-as-page-heading-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-legend-as-page-heading-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-legend-as-page-heading-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-legend-as-page-heading-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "sin fieldset",
    "data": {
      "name": "without-fieldset",
      "idPrefix": "without-fieldset",
      "items": [
        {
          "text": "Item 1",
          "id": "without-fieldset-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "without-fieldset-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "without-fieldset-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "without-fieldset-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "without-fieldset-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "without-fieldset-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con todo items padres",
    "data": {
      "name": "with-all-parent-items",
      "classes": "mt-base",
      "type": "checkbox",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "parent-example",
      "items": [
        {
          "text": "Item 1",
          "id": "parent-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "parent-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "parent-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "parent-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "parent-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "parent-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con un item padre abierto",
    "description": "Usa <code>'expanded': true</code>",
    "data": {
      "name": "with-a-parent-item-opened",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "with-a-parent-item-opened",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-item-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-item-item-2",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-item-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con muchos niveles de profundidad",
    "data": {
      "name": "with-many-depth-levels",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "tree-item-nodes-with-many-depth-levels",
      "items": [
        {
          "text": "Item 1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 3",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 2",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 3",
                "expanded": true,
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "expanded": true,
                      "sub": {
                        "items": [
                          {
                            "text": "Subitem 1",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 2",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 3",
                            "expanded": true,
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      ]
    }
  },
  {
    "name": "indeterminado",
    "description": "Usando el parámetro <code>'isIndeterminate': true</code> podemos crear un item del checkbox que tenga 3 estados: marcado, desmarcado o indeterminado. El estado indeterminado expresa que hay sólo algún item seleccionado pero no todos. Útil para selecciones múltiples.",
    "data": {
      "name": "indeterminate",
      "classes": "mt-base",
      "type": "checkbox",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "indeterminate-example",
      "items": [
        {
          "text": "Item 1",
          "id": "indeterminate-example-item-1",
          "isIndeterminate": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "indeterminate-example-item-2",
          "isIndeterminate": true,
          "indeterminateChecked": true,
          "checked": false,
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2",
                "checked": true
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "indeterminate-example-item-3",
          "isIndeterminate": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "indeterminate-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con searchbar",
    "data": {
      "name": "with-searchbar",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "searchbar": {
        "id": "with-searchbar-searchbar",
        "label": {
          "text": "Buscar"
        },
        "placeholder": "Buscar organismo"
      },
      "items": [
        {
          "text": "Item 1",
          "id": "with-searchbar-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-searchbar-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-searchbar-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con error en searchbar",
    "data": {
      "name": "with-searchbar-error",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "searchbar": {
        "id": "with-searchbar-error-searchbar",
        "label": {
          "text": "Buscar"
        },
        "placeholder": "Buscar organismo",
        "errorMessage": {
          "text": "Error: Introduce al menos un carácter",
          "classes": "mt-xs"
        }
      },
      "items": [
        {
          "text": "Item 1",
          "id": "with-searchbar-error-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-error-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-searchbar-error-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-error-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-searchbar-error-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-error-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "con searchbar y scroll en el contenedor de árbol",
    "description": "Puedes usar las clases de CSS: <code>max-h-64</code> o <code>max-h-40</code> junto a <code>overflow-y-auto</code>, para poner barras de scroll al árbol en caso de que su altura sea muy grande o bien cuando la altura crezca debido a que los items sean expandidos por el usuario.",
    "data": {
      "name": "with-searchbar-scroll",
      "classes": "mt-base max-h-64 overflow-y-auto",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "searchbar": {
        "id": "with-searchbar-scroll-searchbar",
        "label": {
          "text": "Buscar"
        },
        "placeholder": "Buscar organismo"
      },
      "items": [
        {
          "text": "Item 1",
          "id": "with-searchbar-scroll-item-1",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-scroll-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "with-searchbar-scroll-item-2",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-scroll-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "with-searchbar-scroll-item-3",
          "expanded": true,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "with-searchbar-scroll-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "peque",
    "description": "Con clases aplicadas.",
    "data": {
      "name": "with-classes-applied",
      "classes": "c-tree--sm mt-sm",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "items": [
        {
          "text": "Opción 1",
          "value": "option-1",
          "classes": "-mt-xs pt-1",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "text": "Opción 2",
          "value": "option-2",
          "classes": "-mt-xs pt-1",
          "label": {
            "classes": "text-sm -mt-1"
          },
          "expanded": true,
          "id": "classes-1",
          "sub": {
            "items": [
              {
                "text": "Item",
                "value": "item",
                "classes": "-mt-xs pt-1",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              },
              {
                "text": "Item",
                "value": "item",
                "classes": "-mt-xs pt-1",
                "label": {
                  "classes": "text-sm -mt-1"
                },
                "active": true
              },
              {
                "text": "Item",
                "value": "item",
                "classes": "-mt-xs pt-1",
                "label": {
                  "classes": "text-sm -mt-1"
                }
              }
            ],
            "attributes": {
              "aria-labelledby": "classes-1"
            }
          }
        },
        {
          "text": "Opción 3",
          "value": "option-3",
          "classes": "-mt-xs pt-1",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "text": "Opción 4",
          "value": "option-4",
          "classes": "-mt-xs pt-1",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "text": "Opción 5",
          "value": "option-5",
          "classes": "-mt-xs pt-1",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    }
  },
  {
    "name": "con idPrefix",
    "description": "Mostrar código para ver el <code>idPrefix</code> aplicado",
    "data": {
      "name": "with-idprefix",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "with-idprefix",
      "items": [
        {
          "text": "Opción 1",
          "value": "option-1"
        },
        {
          "text": "Opción 2",
          "value": "option-2"
        },
        {
          "text": "Opción 3",
          "value": "option-3"
        },
        {
          "text": "Opción 4",
          "value": "option-4"
        },
        {
          "text": "Opción 5",
          "value": "option-5"
        }
      ]
    }
  },
  {
    "name": "con ids individuales",
    "description": "Mostrar código para ver los <code>id</code> aplicados",
    "data": {
      "name": "with-individual-ids",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "items": [
        {
          "text": "Opción 1",
          "value": "option-1",
          "id": "option-A"
        },
        {
          "text": "Opción 2",
          "value": "option-2",
          "id": "option-B"
        },
        {
          "text": "Opción 3",
          "value": "option-3",
          "id": "option-C"
        },
        {
          "text": "Opción 4",
          "value": "option-4",
          "id": "option-D"
        },
        {
          "text": "Opción 5",
          "value": "option-5",
          "id": "option-E"
        }
      ]
    }
  },
  {
    "name": "con atributos",
    "description": "Muestra el código para ver cómo se aplican los atributos",
    "data": {
      "name": "with-attributes",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "attributes": {
        "data-attribute-1": "tree-id-example-attribute"
      },
      "items": [
        {
          "text": "Opción 1",
          "value": "option-1",
          "attributes": {
            "data-attribute-1": "value-A",
            "data-attribute-2": "value-B",
            "data-attribute-3": "value-C"
          }
        },
        {
          "text": "Opción 2",
          "value": "option-2",
          "attributes": {
            "data-attribute-1": "value-A",
            "data-attribute-2": "value-B",
            "data-attribute-3": "value-C"
          }
        },
        {
          "text": "Opción 3",
          "value": "option-3",
          "attributes": {
            "data-attribute-1": "value-A",
            "data-attribute-2": "value-B",
            "data-attribute-3": "value-C"
          },
          "expanded": true,
          "sub": {
            "attributes": {
              "data-sub-attribute-1": "sub-value-A",
              "data-sub-attribute-2": "sub-value-B",
              "data-sub-attribute-3": "sub-value-C"
            },
            "items": [
              {
                "text": "Item",
                "value": "item",
                "attributes": {
                  "data-item-attribute-1": "item-value-A",
                  "data-item-attribute-2": "item-value-B",
                  "data-item-attribute-3": "item-value-C"
                }
              },
              {
                "text": "Item",
                "value": "item"
              },
              {
                "text": "Item",
                "value": "item"
              }
            ]
          }
        },
        {
          "text": "Opción 4",
          "value": "option-4",
          "attributes": {
            "data-attribute-1": "value-A",
            "data-attribute-2": "value-B",
            "data-attribute-3": "value-C"
          }
        },
        {
          "text": "Opción 5",
          "value": "option-5",
          "attributes": {
            "data-attribute-1": "value-A",
            "data-attribute-2": "value-B",
            "data-attribute-3": "value-C"
          }
        }
      ]
    }
  },
  {
    "name": "Mostrar u ocultar un item con JavaScript",
    "description": "Puedes usar con javascript la función global <code>activateItemsTree(tree, element, show)</code>, para mostrar u ocultar todos los items, usando el id del elemento, el parámetro <code>show</code> admite <code>true</code> o <code>false</code>, si le pasamos true se se mostrará el item expandido, y si le pasamos false se mostrará cerrado. Ej: Abre la consola del navegador y escribe <code>activateItemsTree('tree-item-js', 'tree-item-js-example-item-1', true)</code> para mostrar todos los items expandidos.",
    "data": {
      "name": "tree-item-js",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "tree-item-js",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-item-js-example-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-js-example-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-item-js-example-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-js-example-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-item-js-example-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-item-js-example-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "Mostrar u ocultar todos los items con JavaScript",
    "description": "Puedes usar con javascript la función global <code>activateItemsTree(tree, elements, show)</code>, para mostrar u ocultar todos los items, usando los id de los elementos, el parámetro <code>show</code> admite <code>true</code> o <code>false</code>, si le pasamos true se se mostrarán todos los items expandidos, y si le pasamos false se mostrarán cerrados. Ej: Abre la consola del navegador y escribe <code>activateItemsTree('tree-multiple-items-js', ['tree-multiple-items-js-1', 'tree-multiple-items-js-2'], true)</code> para mostrar todos los items expandidos.",
    "data": {
      "name": "tree-multiple-items-js",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "tree-multiple-items-js",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-multiple-items-js-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-js-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-multiple-items-js-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-js-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-multiple-items-js-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-js-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "Mostrar u ocultar todos los items con JavaScript con diferentes estados",
    "description": "Puedes usar con javascript la función global <code>activateItemsTree(tree, elements)</code>, para mostrar u ocultar todos los items, usando los id de los elementos, el parámetro <code>show</code> admite <code>true</code> o <code>false</code>, si le pasamos true se se mostrarán todos los items expandidos, y si le pasamos false se mostrarán cerrados. Ej: Abre la consola del navegador y escribe <code>activateItemsTree('tree-multiple-items-states-js', [['tree-multiple-items-states-item-1', true], ['tree-multiple-items-states-item-3', false]])</code> para mostrar todos los items expandidos.",
    "data": {
      "name": "tree-multiple-items-states-js",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "idPrefix": "tree-multiple-items-states-js",
      "items": [
        {
          "text": "Item 1",
          "id": "tree-multiple-items-states-item-1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-states-item-1"
            }
          }
        },
        {
          "text": "Item 2",
          "id": "tree-multiple-items-states-item-2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-states-item-2"
            }
          }
        },
        {
          "text": "Item 3",
          "id": "tree-multiple-items-states-item-3",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ],
            "attributes": {
              "aria-labelledby": "tree-multiple-items-states-item-3"
            }
          }
        }
      ]
    }
  },
  {
    "name": "Mostrar u ocultar un item con muchos niveles de profundidad con JavaScript ",
    "description": "Puedes usar con javascript la función global <code>activateItemsTree(tree, element, show)</code>, para mostrar u ocultar un item, usando el id del elemento, el parámetro <code>show</code> admite <code>true</code> o <code>false</code>, si le pasamos true se se mostrará el item expandido, y si le pasamos false se mostrará cerrado. Ej: Abre la consola del navegador y escribe <code>activateItemsTree('tree-item-deep-js', 'sub-sub-sub-tree-item-deep-js-2-2-2-0', true)</code> se abrirá el último elemento del arbol, y el resto de elementos superiores.",
    "data": {
      "name": "tree-item-deep-js",
      "classes": "mt-base",
      "fieldset": {
        "legend": {
          "text": "Selecciona organismo"
        }
      },
      "hint": {
        "text": "Selecciona el organismo al que perteneces."
      },
      "idPrefix": "tree-item-deep-js",
      "items": [
        {
          "text": "Item 1",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 2",
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "value": "subitem-1"
              },
              {
                "text": "Subitem 2",
                "value": "subitem-2"
              },
              {
                "text": "Subitem 3",
                "value": "subitem-3"
              }
            ]
          }
        },
        {
          "text": "Item 3",
          "expanded": false,
          "sub": {
            "items": [
              {
                "text": "Subitem 1",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 2",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3"
                    }
                  ]
                }
              },
              {
                "text": "Subitem 3",
                "expanded": true,
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "expanded": true,
                      "sub": {
                        "items": [
                          {
                            "text": "Subitem 1",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 2",
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          },
                          {
                            "text": "Subitem 3",
                            "expanded": true,
                            "sub": {
                              "items": [
                                {
                                  "text": "Subitem 1",
                                  "value": "subitem-1"
                                },
                                {
                                  "text": "Subitem 2",
                                  "value": "subitem-2"
                                },
                                {
                                  "text": "Subitem 3",
                                  "value": "subitem-3"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      ]
    }
  }
] %}
