/* ==========================================================================
   _styles.tree.css
   ========================================================================== */

@layer components {
  .c-tree--base {
    input[type="checkbox"],
    input[type="radio"] {
      @apply w-6;
      @apply h-6;
    }
  }

  .c-tree--sm {
    input[type="checkbox"],
    input[type="radio"] {
      @apply w-base !important;
      @apply h-base !important;
    }
  }

  .c-tree__item {
    &[aria-expanded="true"] {
      & > ul {
        @apply block;
      }
      .c-tree__plus {
        @apply hidden;
      }
      .c-tree__minus {
        @apply block;
      }
    }

    &[aria-expanded="false"] {
      & > ul {
        @apply hidden;
      }
      .c-tree__plus {
        @apply block;
      }
      .c-tree__minus {
        @apply hidden;
      }
    }
  }

  .c-tree__item--focus {
    @apply bg-warning-base outline-none shadow-outline-focus text-black;
  }
}


