/* ==========================================================================
   _styles.dialog.css
   ========================================================================== */

@layer components {
  body {
    &.has-dialog {
      @apply overflow-hidden;
    }
  }

  .dialog-backdrop {
    @apply hidden fixed overflow-y-auto inset-0 bg-black bg-opacity-50 z-50;

    &.active {
      @apply grid h-screen place-items-center;
    }
  }
}
