{% from "components/button/_macro.button.njk" import componentButton %}

<!-- dialog -->
{{ componentButton(params.button)  }}

<div id="{{ params.id }}" {%- if params.classes %} class="{{ params.classes }}"{% endif %} {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {% if caller %}
  {{ caller() | indent(2) }} {#- if statement allows usage of `call` to be optional -#}
  {% elseif params.caller %}
  {{ params.caller | safe | indent(2) }}
  {% endif %}
</div>
<!-- /dialog -->