{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. -#}
{% set idPrefix = params.idPrefix if params.idPrefix else "links-list-item" %}

{% set arrow %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
{% endset %}

{% set chevron %}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><g><path fill="currentColor" fill-rule="evenodd" d="M3.4685 0.427C3.8512 0.0443 4.4717 0.0443 4.8545 0.427L10.388 5.9606C10.962 6.5346 10.962 7.4654 10.388 8.0395L4.8545 13.573C4.4717 13.9557 3.8512 13.9557 3.4685 13.573C3.0858 13.1903 3.0858 12.5698 3.4685 12.1871L8.6556 7L3.4685 1.813C3.0858 1.4303 3.0858 0.8098 3.4685 0.427Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
{% endset %}


{% set innerHtml %}
  <ul class="{% if params.listClasses %}{{ params.listClasses }}{% else %}divide-y divide-neutral-base{% endif %}">
    {% for item in params.items %}
      {% if item %}
        {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
        {%- if item.id -%}
          {%- set id = item.id -%}
        {%- else -%}
          {%- set id = idPrefix + "-" + loop.index -%}
        {%- endif -%}
        {% set subId = "sub-" + id %}
    <li class="{% if item.containerClasses %}{{ item.containerClasses }}{% else %}relative px-base{% endif %}">
      {% if item.href %}
      <a {%- if id %} id="{{ id }}"{% endif %} href="{{ item.href }}" class="c-link {%- if item.classes %} {{ item.classes }}{% else %} flex justify-between items-center gap-base flex-1 py-base{% endif %} {%- if item.disabled %} text-neutral-base no-underline pointer-events-none{% endif %} {%- if item.active %} font-bold{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %}{%- if item.active %} aria-current="page"{% endif %} {% if item.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {% if item.target %} target="{{ item.target }}"{% endif %}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        <div class="flex gap-base justify-between items-center flex-1">
          {% if item.icon %}
          <div class="{% if item.icon.containerClasses %}{{ item.icon.containerClasses }}{% else %}self-center h-full{% endif %}">
            {% if item.icon.html %}
            {{ item.icon.html | filterquotes | safe }}
            {% endif %}
          </div>
          {% endif %}
          <div data-element="c-links-list__text" class="flex-1">
            {% if item.active %}
            <strong class="font-bold">{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
            {% else %}
            {{ item.html | filterquotes | safe if item.html else item.text }}
            {% endif %}
          </div>
        </div>
        {% if item.iconRight %}
          {% if item.iconRight.type != 'none' %}
            {% if item.iconRight.type == 'arrow' %}
              <div class="{% if item.iconRight.containerClasses %}{{ item.iconRight.containerClasses }}{% else %}self-center h-full{% endif %}">
                {% if item.iconRight.html %}
                  {{ item.iconRight.html | filterquotes | safe }}
                {% else %}
                  {{ arrow | safe | trim }}
                {% endif %}
              </div>
            {% elseif item.iconRight.type == 'chevron' %}
              <div class="{% if item.iconRight.containerClasses %}{{ item.iconRight.containerClasses }}{% else %}self-center h-full{% endif %}">
                {% if item.iconRight.html %}
                  {{ item.iconRight.html | filterquotes | safe }}
                {% else %}
                  {{ chevron | safe | trim }}
                {% endif %}
              </div>
            {% else %}
              <div class="{% if item.iconRight.containerClasses %}{{ item.iconRight.containerClasses }}{% else %}self-center h-full{% endif %}">
                {% if item.iconRight.html %}
                  {{ item.iconRight.html | filterquotes | safe }}
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          <div class="self-center h-full">
            {{ arrow | safe | trim }}
          </div>
        {% endif %}
      </a>
      {% else %}
      <div {%- if id %} id="{{ id }}"{% endif %} class="{%- if item.classes %} {{ item.classes }}{% else %} flex justify-between items-center gap-base flex-1 py-base{% endif %} {%- if item.disabled %} text-neutral-base no-underline pointer-events-none{% endif %} {%- if item.active %} font-bold{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %}{%- if item.active %} aria-current="page"{% endif %} {% if item.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {% if item.target %} target="{{ item.target }}"{% endif %}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        <div class="flex gap-base justify-between items-center flex-1">
          {% if item.icon %}
          <div class="{% if item.icon.containerClasses %}{{ item.icon.containerClasses }}{% else %}self-center h-full{% endif %}">
            {% if item.icon.html %}
            {{ item.icon.html | filterquotes | safe }}
            {% endif %}
          </div>
          {% endif %}
          <div class="flex-1">
            {% if item.active %}
            <strong class="font-bold">{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
            {% else %}
            {{ item.html | filterquotes | safe if item.html else item.text }}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if item.sub.html %}
      <div class="{%- if item.sub.classes %} {{ item.sub.classes }}{% else %} c-paragraph-base text-neutral-dark -mt-base mr-lg bg-white{% endif %}" id="{{ subId }}">
        {{ item.sub.html | filterquotes | safe }}
      </div>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
{% endset -%}

<!-- links-list -->
{% if params.hasNav == false %}
<div data-module="c-links-list" {%- if params.classes %} class="{{ params.classes }}"{% endif %}
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
  {{ innerHtml | trim | safe }}
</div>
{% else %}
<nav data-module="c-links-list" {%- if params.classes %} class="{{ params.classes }}"{% endif %}
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
  {{ innerHtml | trim | safe }}
</nav>
{% endif %}
<!-- /links-list -->
