{% set exampleComponent = "error-message" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "text": "Error: esto es un mensaje de error"
    }
  },
  {
    "name": "con HTML",
    "data": {
      "html": "Error: esto es un <em>mensaje de error con HTML</em>"
    }
  }
] %}