{% set visuallyHiddenText = params.visuallyHiddenText | default("Error") -%}

<!-- error-message -->
<p {%- if params.id %} id="{{ params.id }}"{% endif %} class="block font-semibold text-alert-base {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
  {% if visuallyHiddenText %}
  <span class="sr-only">{{ visuallyHiddenText }}:</span>{% endif -%}{{ params.html | filterquotes | safe if params.html else params.text }}
</p>
<!-- /error-message -->
