/* ==========================================================================
   base.css
   ========================================================================== */

@layer base {
  html{
    @apply bg-neutral-lighter;
  }

  body {
    @apply bg-white;
    @apply text-black;
    @apply text-base;
    @apply leading-normal;

    &.dev {
      @apply bg-repeat;
      @apply bg-fixed;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3CclipPath id='b'%3E%3Crect width='100' height='100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='a' clip-path='url(%23b)'%3E%3Crect width='100' height='100' fill='%23fff'/%3E%3Ctext transform='translate(48.134 48.134) rotate(-45)' fill='%23f0f0f0' font-size='12' font-family='OpenSans, Open Sans' letter-spacing='-0.057em'%3E%3Ctspan x='-26.586' y='0'%3EENTORNO%3C/tspan%3E%3Ctspan x='-32.075' y='12'%3EDE PRUEBAS%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
    }
  }

  code:not([class*="language-"]) {
    /* the code inline, not in the snippets */
    @apply relative;
    @apply px-1.5;
    @apply py-1;
    @apply bg-neutral-lighter;
    @apply rounded-sm;
    @apply text-red-700;
    font-size: .875em;
    @apply whitespace-normal;
  }

  input, textarea {
    &::placeholder {
      @apply font-normal;
    }
  }

  strong {
    @apply font-semibold;
  }
}
