/* ==========================================================================
   text.css
   ========================================================================== */

   @layer components {
    .c-h0 {
      @apply mb-8;
      font-size: 2.5rem;
      @apply font-bold;
      @apply leading-tight;
    }

    .c-h1 {
      @apply mb-lg;
      @apply text-3xl;
      @apply font-bold;
      @apply leading-tight;
    }

    .c-h2 {
      @apply mb-base;
      @apply text-2xl;
      @apply font-bold;
      @apply leading-tight;
    }

    .c-h3 {
      @apply mb-sm;
      @apply text-lg;
      @apply font-bold;
      @apply leading-tight;
    }

    .c-h4 {
      @apply mb-sm;
      @apply text-base;
      @apply font-bold;
      @apply leading-tight;
    }

    .c-link {
      @apply text-primary-base;
      @apply underline;

      &:hover {
        @apply text-primary-dark;
      }

      &:focus {
        @apply bg-warning-base;
        @apply shadow-outline-focus;
        @apply outline-none;
        @apply text-black;
      }
    }

    .c-link--alert {
      @apply text-alert-base;
      @apply underline;
      @apply font-semibold;

      &:hover {
        @apply text-alert-dark;
      }
    }

    .c-link--neutral {
      @apply text-neutral-dark;
      @apply underline;

      &:hover {
        @apply text-black;
      }
    }

    .c-link--full {
      &::after {
        content:"";
        @apply absolute;
        @apply inset-0;
      }
    }

    .c-link--no-underline {
      @apply no-underline;

      &:hover {
        @apply underline;
      }
    }

    .c-paragraph-lg {
      @apply mb-lg;
      @apply text-lg;
    }

    .c-paragraph-base {
      @apply mb-base;
      @apply text-base;
    }

    .c-paragraph-sm {
      @apply mb-sm;
      @apply text-sm;
    }

    .c-ul {
      @apply mb-base;
      @apply list-none;

      li {
        @apply relative;
        @apply mb-base;
        @apply pl-8;

        &::before {
          content: "";
          @apply absolute;
          top: .625rem;
          left: .25rem;
          @apply w-1.5;
          @apply h-1.5;
          @apply bg-black;
          @apply rounded-full;
        }

        &:last-of-type {
          @apply mb-0;
        }
      }
    }

    .c-ul--no-bullets {
      li {
        @apply pl-0;

        &::before {
          @apply hidden;
        }
      }
    }

    .c-ol {
      @apply mb-base;
      counter-reset: list-counter;

      li {
        @apply relative;
        @apply mb-base;
        @apply pl-8;

        &::before {
          counter-increment: list-counter;
          content: counter(list-counter) ".";
          @apply absolute;
          left: .25rem;
          @apply text-black;
        }

        &:last-of-type {
          @apply mb-0;
        }
      }
    }
  }
