/* ==========================================================================
   component.form-group.css
   ========================================================================== */


.c-form-group {
  @apply block;
  @apply mb-8;

  .c-form-group:last-of-type {
    /* Remove margin from last item in nested groups */
    @apply mb-0;
  }
}

.c-form-group--error {
  input[type="checkbox"],
  input[type="radio"] {
    @apply border-alert-base;
    @apply ring-2;
    @apply ring-alert-base;
  }
}
