{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% macro telefonoContent(id='id') %}
  {{ componentInput({
    "label": {
      "text": "Número de teléfono"
    },
    "id": "telefono-" + id,
    "name": "telefono-name-" + id
  })  }}
{% endmacro %}

{% macro mobileContent(id='id') %}
  {{ componentInput({
    "label": {
      "text": "Número de teléfono móvil"
    },
    "id": "mobile-" + id,
    "name": "mobile-name-" + id
  })  }}
{% endmacro %}

{% macro mobileErrorContent(id='id') %}
  {{ componentInput({
    "label": {
      "text": "Número de teléfono móvil"
    },
    "id": "input-with-error-message-" + id,
    "name": "test-name-" + id,
    "errorMessage": {
      "text": "Error: Este campo no puede estar vacío"
    }
  })  }}
{% endmacro %}

{% macro grandchildContent(id='id') %}
  {{ componentRadios({
    "idPrefix": "grandchild-" + id,
    "name": "grandchild-" + id,
    "items": [
      {
        "name": "oficina-principal-" + id,
        "id": "oficina-principal-id-" + id,
        "value": "oficina-principal-" + id,
        "checked": true,
        "html": "Oficina principal"
      },
      {
        "name": "oficina-secundaria-" + id,
        "id": "oficina-secundaria-id-" + id,
        "value": "oficina-secundaria-" + id,
        "html": "Oficina secundaria"
      }
    ]
  }) }}
{% endmacro %}

{% macro nestedContent(id='id') %}
  {{ componentRadios({
    "idPrefix": "with-conditional-items-checked-nested-" + id,
    "name": "with-conditional-items-checked-nested-" + id,
    "items": [
      {
        "value": "oficinas-de-registro",
        "text": "Oficinas de registro",
        "checked": true,
        "conditional": {
          "html": grandchildContent('oficinas-de-registro-' + id).val
        }
      },
      {
        "value": "oficinas-locales",
        "text": "Oficinas locales",
        "conditional": {
          "html": grandchildContent('oficinas-locales-' + id).val
        }
      }
    ]
  }) }}
{% endmacro %}

{% set exampleComponent = "radios" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "idPrefix": "default",
      "name": "por defecto",
      "fieldset": {
        "legend": {
          "text": "¿Quieres que te contactemos por correo electrónico?"
        }
      },
      "hint": {
        "text": "Sólo puedes seleccionar un elemento."
      },
      "items": [
        {
          "value": "si",
          "text": "Si"
        },
        {
          "value": "no",
          "text": "No",
          "checked": true
        }
      ]
    }
  },
  {
    "name": "En línea",
    "data": {
      "idPrefix": "inline",
      "classes": "flex",
      "name": "inline",
      "fieldset": {
        "legend": {
          "text": "¿Quieres que te contactemos por correo electrónico?"
        }
      },
      "hint": {
        "text": "Sólo puedes seleccionar un elemento."
      },
      "items": [
        {
          "value": "si",
          "text": "Si",
          "classes": "mr-sm"
        },
        {
          "value": "no",
          "text": "No",
          "classes": "mr-sm",
          "checked": true
        }
      ]
    }
  },
  {
    "name": "Con deshabilitado",
    "data": {
      "idPrefix": "example-disabled",
      "name": "example-disabled",
      "fieldset": {
        "legend": {
          "text": "¿Quieres que te contactemos por correo electrónico?"
        }
      },
      "hint": {
        "text": "Sólo puedes seleccionar un elemento."
      },
      "items": [
        {
          "value": "si",
          "text": "Si",
          "disabled": true,
          "checked": true
        },
        {
          "value": "no",
          "text": "No",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "con un legend como encabezado",
    "description": "Usa el parámetro <code>'heading'</code> para añadir un encabezado asociado al componente. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>.",
    "data": {
      "idPrefix": "legend-as-page-heading",
      "name": "legend-as-page-heading",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?",
          "classes": "c-h2",
          "isPageHeading": true
        },
        "headingLevel": 2
      },
      "hint": {
        "text": "Selecciona una de las opciones."
      },
      "items": [
        {
          "value": "part-2",
          "text": "Por correo electrónico",
          "hint": {
            "text": "Asegúrate de que nuestros correos no lleguen a la bandeja de spam."
          }
        },
        {
          "value": "part-3",
          "text": "Por correo postal",
          "hint": {
            "text": "Asegúrate de haber introducido correctamente tu dirección."
          }
        }
      ]
    }
  },
  {
    "name": "con un legend del tamaño de un encabezado h2",
    "data": {
      "idPrefix": "medium-legend",
      "name": "medium-legend",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?",
          "classes": "c-h2"
        }
      },
      "hint": {
        "text": "Selecciona una de las opciones."
      },
      "items": [
        {
          "value": "part-2",
          "text": "Por correo electrónico",
          "hint": {
            "text": "Asegúrate de que nuestros correos no lleguen a la bandeja de spam."
          }
        },
        {
          "value": "part-3",
          "text": "Por correo postal",
          "hint": {
            "text": "Asegúrate de haber introducido correctamente tu dirección."
          }
        }
      ]
    }
  },
  {
    "name": "con un divisor",
    "data": {
      "idPrefix": "example-divider",
      "name": "example-divider",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico"
        },
        {
          "value": "correo-postal",
          "text": "Correo postal"
        },
        {
          "divider": "o bien"
        },
        {
          "value": "telefono",
          "text": "Teléfono"
        }
      ]
    }
  },
  {
    "name": "Con pistas en los items",
    "data": {
      "idPrefix": "hints-on-items",
      "name": "hints-on-items",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "hint": {
            "text": "Asegúrate de que el correo no llega a la bandeja de spam."
          }
        },
        {
          "value": "correo-postal",
          "text": "Correo postal",
          "hint": {
            "text": "Asegúrate de haber introducido la dirección postal correctamente."
          }
        }
      ]
    }
  },
  {
    "name": "con líneas divisorias",
    "data": {
      "idPrefix": "has-dividers",
      "name": "has-dividers",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?"
        }
      },
      "hint": {
        "text": "Sólo puedes elegir un elemento."
      },
      "hasDividers": true,
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "classes": "font-normal",
          "hint": {
            "text": "Asegúrate de que el correo no llega a la bandeja de spam."
          }
        },
        {
          "value": "correo-postal",
          "text": "Correo postal",
          "hint": {
            "text": "Asegúrate de haber introducido la dirección postal correctamente."
          }
        }
      ]
    }
  },
  {
    "name": "Con clases de CSS aplicadas",
    "description": "Los parámetros <code>classes</code> nos permiten aplicar clases de Tailwind CSS a nuestro componente.",
    "data": {
      "idPrefix": "classes",
      "name": "classes",
      "fieldset": {
        "legend": {
          "text": "¿Cómo prefieres que te contactemos?",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "hint": {
            "text": "Asegúrate de que el correo no llega a la bandeja de spam."
          },
          "classes": "bg-primary-light"
        },
        {
          "value": "correo-postal",
          "text": "Correo postal",
          "hint": {
            "text": "Asegúrate de haber introducido la dirección postal correctamente."
          },
          "classes": "bg-neutral-lighter"
        }
      ]
    }
  },
  {
    "name": "sin fieldset",
    "data": {
      "idPrefix": "without-fieldset",
      "name": "without-fieldset",
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico"
        },
        {
          "value": "correp-postal",
          "text": "Correo postal"
        },
        {
          "value": "telefono",
          "text": "Teléfono"
        }
      ]
    }
  },
  {
    "name": "con fieldset y mensaje de error",
    "data": {
      "idPrefix": "fieldset-and-error",
      "name": "fieldset-and-error",
      "errorMessage": {
        "text": "Error: Tienes que seleccionar al menos una opción"
      },
      "fieldset": {
        "legend": {
          "text": "¿Quieres que te contactemos por correo electrónico?"
        }
      },
      "items": [
        {
          "value": "si",
          "text": "Si"
        },
        {
          "value": "no",
          "text": "No",
          "checked": true
        }
      ]
    }
  },
  {
    "name": "con un texto de item muy largo",
    "data": {
      "idPrefix": "very-long",
      "name": "very-long",
      "hint": {
        "text": "Nullam id dolor id nibh ultricies vehicula ut id elit."
      },
      "errorMessage": {
        "text": "Error: Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      "fieldset": {
        "legend": {
          "text": "Maecenas faucibus mollis interdum?"
        }
      },
      "items": [
        {
          "value": "nullam",
          "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus."
        },
        {
          "value": "aenean",
          "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum."
        },
        {
          "value": "fusce",
          "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Sed posuere consectetur est at lobortis."
        }
      ]
    }
  },
  {
    "name": "con items condicionales",
    "data": {
      "idPrefix": "conditional-items",
      "name": "conditional-items",
      "fieldset": {
        "legend": {
          "text": "¿Cómo quieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "conditional": {
            "html": mobileContent('1').val
          }
        },
        {
          "value": "telefono",
          "text": "Teléfono",
          "checked": true,
          "conditional": {
            "html": telefonoContent('2').val
          }
        },
        {
          "value": "mensaje-SMS",
          "text": "Sin conditional"
        }
      ]
    }
  },
  {
    "name": "con items condicionales anidados",
    "data": {
      "idPrefix": "with-conditional-nested-items",
      "name": "with-conditional-nested-items",
      "fieldset": {
        "legend": {
          "text": "¿Cómo quieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "presencial",
          "text": "Presencial",
          "checked": true,
          "conditional": {
            "html": nestedContent('1').val
          }
        },
        {
          "value": "telefono",
          "text": "Por teléfono"
        }
      ]
    }
  },
  {
    "name": "en línea con items condicionales",
    "data": {
      "classes": "flex",
      "idPrefix": "inline-with-conditional",
      "name": "inline-with-conditional",
      "fieldset": {
        "legend": {
          "text": "¿Cómo quieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "classes": "mr-sm",
          "conditional": {
            "html": telefonoContent('3').val
          }
        },
        {
          "value": "telefono",
          "text": "Teléfono",
          "classes": "mr-sm",
          "checked": true,
          "conditional": {
            "html": mobileContent('3').val
          }
        },
        {
          "value": "mensaje-SMS",
          "text": "Mensaje SMS",
          "classes": "mr-sm",
          "conditional": {
            "html": mobileContent('4').val
          }
        }
      ]
    }
  },
  {
    "name": "con item condicional seleccionado",
    "data": {
      "idPrefix": "conditional-item-checked",
      "name": "conditional-item-checked",
      "fieldset": {
        "legend": {
          "text": "¿Cómo quieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "conditional": {
            "html": telefonoContent('4').val
          }
        },
        {
          "value": "telefono",
          "text": "Teléfono",
          "checked": true,
          "conditional": {
            "html": mobileContent('5').val
          }
        },
        {
          "value": "mensaje-SMS",
          "text": "Mensaje SMS",
          "conditional": {
            "html": mobileContent('6').val
          }
        }
      ]
    }
  },
  {
    "name": "con clases opcionales del form-group mostrando un error del grupo",
    "data": {
      "idPrefix": "classes-group-error",
      "name": "classes-group-error",
      "formGroup": {
        "classes": "c-form-group--error"
      },
      "fieldset": {
        "legend": {
          "text": "¿Cómo quieres que te contactemos?"
        }
      },
      "items": [
        {
          "value": "correo-electronico",
          "text": "Correo electrónico",
          "conditional": {
            "html": telefonoContent('5').val
          }
        },
        {
          "value": "telefono",
          "text": "Teléfono",
          "checked": true,
          "conditional": {
            "html": mobileErrorContent('1').val
          }
        },
        {
          "value": "mensaje-SMS",
          "text": "Mensaje SMS",
          "conditional": {
            "html": mobileContent('7').val
          }
        }
      ]
    }
  },
  {
    "name": "peque",
    "data": {
      "idPrefix": "small",
      "name": "peque",
      "classes": "c-radios--sm",
      "items": [
        {
          "value": "si",
          "text": "Si",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        },
        {
          "value": "no",
          "text": "No",
          "classes": "-mt-base",
          "label": {
            "classes": "text-sm -mt-1"
          }
        }
      ]
    }
  }
] %}
