/* ==========================================================================
   _styles.radios.css
   ========================================================================== */

@layer components {
  .c-radios--base {
    input[type="radio"] {
      @apply w-6;
      @apply h-6;
    }
  }

  .c-radios--sm {
    input[type="radio"] {
      @apply w-base !important;
      @apply h-base !important;
    }
  }

  .c-radios__conditional-active {
    .c-radios__conditional-item {
      @apply block;
    }
  }

  .c-radios__conditional-hidden {
    .c-radios__conditional-item {
      @apply hidden;
    }
  }
}
