{% from "../error-message/_macro.error-message.njk" import componentErrorMessage -%}
{% from "../fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "../hint/_macro.hint.njk" import componentHint %}
{% from "../label/_macro.label.njk" import componentLabel %}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{% set idPrefix = params.idPrefix if params.idPrefix else params.name %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.fieldset.describedBy if params.fieldset.describedBy else "" %}

{% set conditionalValue = false %}
{% for item in params.items %}
  {% if item.checked %}
    {% set conditionalValue = item.value %}
  {% endif %}
{% endfor %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
{% if params.hint %}
{% set hintId = idPrefix + '-hint' %}
{% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
{{ componentHint({
  id: hintId,
  classes: params.hint.classes,
  attributes: params.hint.attributes,
  html: params.hint.html,
  text: params.hint.text
}) | trim | indent(2) }}
{% endif %}
{% if params.errorMessage %}
{% set errorId = idPrefix + '-error' %}
{% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
{{ componentErrorMessage({
  id: errorId,
  classes: params.errorMessage.classes,
  attributes: params.errorMessage.attributes,
  html: params.errorMessage.html,
  text: params.errorMessage.text,
  visuallyHiddenText: params.errorMessage.visuallyHiddenText
}) | trim | indent(2) }}
{% endif %}
<div class="c-radios {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="c-radios"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% for item in params.items %}
    {% if item %}
  <div class="{%- if params.hasDividers %} border-t border-b border-neutral-base -mb-px{% endif %} {%- if item.classes %} {{ item.classes }}{% endif %}{%- if item.conditional.html %} c-radios__conditional{% endif %} {%- if item.checked %} c-radios__conditional-active {% else %} c-radios__conditional-hidden {% endif %}">

    {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
    {% if item.id %}
      {% set id = item.id %}
    {% else %}
      {#- The first id should not have a number suffix so it's easy to link to from the error summary component -#}
      {% if loop.first %}
        {% set id = idPrefix %}
      {% else %}
        {% set id = idPrefix + "-" + loop.index %}
      {% endif %}
    {% endif %}
    {% set conditionalId = "conditional-" + id %}
    {% if item.divider %}
    <div><p>{{ item.divider }}</p></div>
    {% else %}
    {% set hasHint = true if item.hint.text or item.hint.html %}
    {% set itemHintId = id + '-item-hint' %}

    <div>
      <div class="relative flex items-start py-base">
        <div class="flex items-center mx-sm">
          <input class="w-6 h-6 text-primary-base transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="{{ id }}" name="{{ params.name }}" type="radio" value="{{ item.value }}"
          {{-" checked" if item.checked }}
          {{-" disabled" if item.disabled }}
          {%- if item.conditional.html %} data-aria-controls="{{ conditionalId }}"{% endif -%}
          {%- if hasHint %} aria-describedby="{{ itemHintId }}"{% endif -%}
          {%- if params.errorMessage %} aria-invalid="true"{% endif -%}
          {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        </div>
        <div class="pt-0.5 leading-5">
          {{ componentLabel({
            html: item.html,
            text: item.text,
            classes: (item.label.classes if item.label.classes),
            attributes: item.label.attributes,
            for: id
          }) | indent(10) | trim }}
          {% if hasHint %}
          {{ componentHint({
            id: itemHintId,
            classes: (item.hint.classes if item.hint.classes),
            attributes: item.hint.attributes,
            html: item.hint.html,
            text: item.hint.text
          }) | indent(10) | trim }}
          {% endif %}
        </div>
      </div>
    </div>
        {% if item.conditional.html %}
    <div class="mb-lg ml-5 pt-sm pb-base pl-6 origin-top-left border-l-2 border-primary-base c-radios__conditional-item" id="{{ conditionalId }}">
      {{ item.conditional.html | filterquotes | safe | indent(6) }}
    </div>
        {% endif %}
        {% endif %}
  </div>
    {% endif %}
  {% endfor %}
</div>
{% endset -%}

{% set radiosContent %}
  {% if params.fieldset %}
  {% call componentFieldset({
    describedBy: describedBy,
    errorId: errorId,
    classes: params.fieldset.classes,
    attributes: params.fieldset.attributes,
    legend: params.fieldset.legend,
    headingLevel: params.fieldset.headingLevel
  }) %}
  {{ innerHtml | trim | safe }}
  {% endcall %}
  {% else %}
  {{ innerHtml | trim | safe }}
  {% endif %}
{% endset %}

<!-- radios -->
<div class="c-form-group {%- if params.errorMessage %} c-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
  {{ radiosContent | safe | indent(2) }}
</div>
<!-- /radios -->
