/* ==========================================================================
   _styles.header.css
   ========================================================================== */

@layer components {
  body {
    &.has-offcanvas-open {
      @apply h-full;
      @apply overflow-y-hidden;
    }
  }
}
