{#- If an id 'prefix' is not passed, fall back to using a default one
   instead -#}
{% set idPrefix = params.idPrefix if params.idPrefix else "header-nav-item" %}
<!-- header__navigation -->
<nav id="{{ idPrefix }}" data-module="c-header-navigation" class="{{ params.classes if params.classes else 'hidden lg:block' }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <ul class="ml-sm flex flex-wrap items-baseline">
  {% for item in params.items %}
    {% if item %}
    <li>
      {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
      {% if item.id %}
      {% set id = item.id %}
      {% else %}
      {% set id = idPrefix + "-" + loop.index %}
      {% endif %}
      {% if item.active %}

      <a {%- if id %} id="{{ id }}"{% endif %} href="{{ item.href }}" class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base" aria-current="page" {%- if item.target %} target="{{ item.target }}"{% endif %}><strong class="font-bold">{{ item.html | filterquotes | safe if item.html else item.text }}</strong></a>
      {% else %}

      <a {%- if id %} id="{{ id }}"{% endif %} href="{{ item.href }}" class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base {%- if item.disabled %} opacity-50 pointer-events-none{% endif -%}" {%- if item.disabled %} disabled="disabled" aria-disabled="true" tabindex="-1"{% endif -%}  {%- if item.target %} target="{{ item.target }}"{% endif %}>{{ item.html | filterquotes | safe if item.html else item.text }}</a>
      {% endif %}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
<!-- /header__navigation -->