<!-- header__offcanvasButton -->
<div class="{{ params.classes if params.classes else '-mr-2 flex lg:hidden' }}">
	<button id="header-offcanvas-button"
				type="button"
				onclick="openDialog('header-offcanvas', this)"
        tabindex="0"
        class="inline-flex items-center px-3 py-4 text-sm text-black focus:outline-none focus:shadow-outline-black focus:bg-warning-base" aria-haspopup="true">
	  <span id="header-offcanvas-button-text" class="inline-block align-middle text-right">{{ params.html | filterquotes | safe if params.html else params.text }}</span> <svg role="img" aria-label="Cerrado" class="inline-block align-middle" viewBox="0 0 96 96" fill="currentColor" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
	</button>
</div>
<!-- /header__offcanvasButton -->