{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. -#}
{% set idPrefix = params.idPrefix if params.idPrefix else "nav-item" %}

{% set innerHtml %}
  <ul class="text-base">
    {% for item in params.items %}
      {% if item %}
        {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
        {%- if item.id -%}
          {%- set id = item.id -%}
        {%- else -%}
          {%- set id = idPrefix + "-" + loop.index -%}
        {%- endif -%}
        {% set subId = "sub-" + id %}
    <li class="my-base break-inside-avoid-column">
      {% if item.href %}
      <a {%- if id %} id="{{ id }}"{% endif %} href="{{ item.href }}" class="block px-xs  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black {%- if params.hasUnderline %} underline{% endif %} {%- if item.classes %} {{ item.classes }}{% endif %} {%- if not item.disabled %} hover:text-primary-base hover:underline{% endif %} {%- if item.disabled %} no-underline pointer-events-none{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %}{%- if item.active %} aria-current="page"{% endif %} {% if item.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {% if item.target %} target="{{ item.target }}"{% endif %}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        {% if item.active %}
        <strong class="font-bold">{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
        {% else %}
        {{ item.html | filterquotes | safe if item.html else item.text }}
        {% endif %}
      </a>
      {% else %}
      <span {%- if id %} id="{{ id }}"{% endif %} class="block px-xs {%- if item.classes %} {{ item.classes }}{% endif %}" {%- if item.title %} title="{{ item.title }}"{% endif %}{%- if item.active %} aria-current="page"{% endif %} {% if item.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
        {% if item.active %}
        <strong class="font-bold">{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
        {% else %}
        {{ item.html | filterquotes | safe if item.html else item.text }}
        {% endif %}
      </span>
      {% endif %}
      {% if item.sub.items %}
      <ul {%- if item.sub.classes %} class="{{ item.sub.classes }}"{% endif %} {%- for attribute, value in item.sub.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
      {% for subitem in item.sub.items %}
        {% if subitem %}
          {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
          {%- if subitem.id -%}
            {%- set subId = subitem.id -%}
          {%- else -%}
            {%- set subId = "sub-" + id + "-" + loop.index -%}
          {%- endif %}
        <li class="m-base origin-top-left text-sm">
            {% if subitem.href %}
          <a {%- if subId %} id="{{ subId }}"{% endif %} href="{{ subitem.href }}" class="block px-xs hover:text-primary-base hover:underline focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black {%- if params.hasUnderline %} underline{% endif %} {%- if subitem.classes %} {{ subitem.classes }}{% endif %} {%- if subitem.disabled %} no-underline pointer-events-none{% endif %}" {%- if subitem.title %} title="{{ subitem.title }}"{% endif %}{%- if subitem.active %} aria-current="page"{% endif %} {% if subitem.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {% if subitem.target %} target="{{ subitem.target }}"{% endif %}{%- for attribute, value in subitem.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
            {% if subitem.active %}
            <strong class="font-bold">{{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}</strong>
            {% else %}
            {{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}
            {% endif %}
          </a>
            {% else %}
          <span {%- if subId %} id="{{ subId }}"{% endif %} class="block px-xs {%- if subitem.classes %} {{ subitem.classes }}{% endif %}" {%- if subitem.title %} title="{{ subitem.title }}"{% endif %} {%- if subitem.active %} aria-current="page"{% endif %} {%- if subitem.disabled %} aria-disabled="true" tabindex="-1"{% endif %} {%- for attribute, value in subitem.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
            {% if subitem.active %}
            <strong class="font-bold">{{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}</strong>
            {% else %}
            {{ subitem.html | filterquotes | safe if subitem.html else subitem.text }}
            {% endif %}
          </span>
            {% endif %}
        </li>
            {% if subitem.divider %}
        <li class="my-sm border-b border-neutral-base" aria-hidden="true">
          <div class="sr-only">Separador</div>
        </li>
            {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
      {% elseif item.sub.html %}
        <div class="mb-base px-xs origin-top-left text-sm text-neutral-dark {%- if item.sub.classes %} {{ item.sub.classes }}{% endif %}" id="{{ subId }}">
          {{ item.sub.html | filterquotes | safe }}
        </div>
      {% endif %}
    </li>
    {% if item.divider %}
    <li class="my-sm border-b border-neutral-base" aria-hidden="true">
      <div class="sr-only">Separador</div>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
{% endset -%}

<!-- menu-vertical -->
<nav data-module="c-menu-vertical" {%- if params.classes %} class="{{ params.classes }}"{% endif %}
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%} {%- if params.active %} {% endif %}>
  {{ innerHtml | trim | safe }}
</nav>
<!-- /menu-vertical -->
