{% set exampleComponent = "select" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "select-1",
      "name": "select-1",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "deshabilitado",
    "data": {
      "id": "select-2",
      "name": "select-2",
      "disabled": true,
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "placeholder",
    "description": "Usa una combinación de los parámetros <code>'disabled': true</code>, <code>'selected': true</code> y <code>'hidden': true</code> para la primera opción y  actúará como si fuera un placeholder visual.",
    "data": {
      "id": "select-placeholder",
      "name": "select-placeholder",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": "",
          "text": "Choose an option",
          "disabled": true,
          "selected": true,
          "hidden": true
        },
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }
  },
  {
    "name": "con optgroup",
    "data": {
      "id": "select-optgroup",
      "name": "select-optgroup",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "optgroup": {
            "label": "Optgroup label A",
            "items": [
              {
                "value": 1,
                "text": "Optgroup subopción A1"
              },
              {
                "value": 2,
                "text": "Optgroup subopción A2",
                "selected": true
              },
              {
                "value": 3,
                "text": "Optgroup subopción A3"
              }
            ]
          }
        },
        {
          "value": 3,
          "text": "Opción 3"
        },
        {
          "value": 4,
          "text": "Opción 4"
        },
        {
          "optgroup": {
            "label": "Optgroup label B",
            "items": [
              {
                "value": 1,
                "text": "Optgroup subopción B1"
              },
              {
                "value": 2,
                "text": "Optgroup subopción B2"
              },
              {
                "value": 3,
                "text": "Optgroup subopción B3"
              }
            ]
          }
        },
        {
          "value": 5,
          "text": "Opción 5"
        },
        {
          "value": 6,
          "text": "Opción 6"
        }
      ]
    }
  },
  {
    "name": "con pista y mensaje de error",
    "data": {
      "id": "select-3",
      "name": "select-3",
      "label": {
        "text": "Esto es un label"
      },
      "hint": {
        "text": "Esto es una pista."
      },
      "errorMessage": {
        "text": "Error: esto es un mensaje de error"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2"
        },
        {
          "value": 3,
          "text": "Opción 3"
        }
      ]
    }
  },
  {
    "name": "con label como encabezado",
    "data": {
      "id": "select-4",
      "name": "select-4",
      "label": {
        "text": "Esto es un label",
        "isPageHeading": true
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "con anchura completa",
    "data": {
      "id": "select-5",
      "name": "select-5",
      "classes": "w-full",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "con clases de form-group opcionales",
    "description": "Label en línea + Select flexible y mensaje de error",
    "data": {
      "id": "select-6",
      "name": "select-6",
      "classes": "lg:flex-1",
      "label": {
        "text": "Label en línea:",
        "classes": "lg:py-sm lg:mt-sm"
      },
      "formGroup": {
        "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
      },
      "errorMessage": {
        "text": "Error: Esto es un mensaje de error",
        "classes": "order-1 w-full pt-sm"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "transparente",
    "data": {
      "id": "select-7",
      "name": "select-7",
      "classes": "c-select--transparent",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  },
  {
    "name": "peque",
    "data": {
      "id": "select-8",
      "name": "select-8",
      "classes": "c-select--sm",
      "label": {
        "text": "Esto es un label"
      },
      "items": [
        {
          "value": 1,
          "text": "Opción 1"
        },
        {
          "value": 2,
          "text": "Opción 2",
          "selected": true
        },
        {
          "value": 3,
          "text": "Opción 3",
          "disabled": true
        }
      ]
    }
  }
] %}