/* ==========================================================================
   _styles.select.css
   ========================================================================== */

@layer components {
  .c-select--transparent {
    @apply bg-transparent;
    @apply border-transparent !important;
    @apply shadow-none;
    @apply text-primary-base;
    @apply underline;
    @apply cursor-pointer;

    &:hover:not(disabled),
    &.ds-hover:not(disabled) {
      @apply bg-neutral-light;
      @apply border-neutral-base !important;
      @apply text-primary-base;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &.c-button--disabled,
    &.c-button--disabled:hover,
    &.c-button--disabled:focus {
      @apply bg-transparent;
      @apply border-transparent !important;
      @apply no-underline;
    }
  }


  .c-select--base {
    @apply pr-10;
    @apply pl-3;
    @apply py-2;
    @apply text-base;
  }


  .c-select--sm {
    @apply pl-2;
    @apply py-1;
    @apply text-sm;
  }
}
