{% from "../error-message/_macro.error-message.njk" import componentErrorMessage -%}
{% from "../hint/_macro.hint.njk" import componentHint %}
{% from "../label/_macro.label.njk" import componentLabel %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.describedBy if params.describedBy else "" %}
{% set errorId = params.id + '-error' %}
<!-- select -->
<div class="c-form-group {%- if params.errorMessage %} c-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
  {{ componentLabel({
    html: params.label.html,
    text: params.label.text,
    classes: params.label.classes,
    isPageHeading: params.label.isPageHeading,
    attributes: params.label.attributes,
    for: params.id
  }) | indent(2) | trim }}
{% if params.hint %}
  {% set hintId = params.id + '-hint' %}
  {% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
  {{ componentHint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | indent(2) | trim }}
{% endif %}
{% if params.errorMessage %}
  {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
{% endif %}
{% if params.errorMessage %}
  {{ componentErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | indent(2) | trim }}
{% endif %}
  <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base {%- if params.classes %} {{ params.classes }}{% endif %} {%- if params.errorMessage %} c-select--error border-alert-base ring-2 ring-alert-base {% endif %}" id="{{ params.id }}" name="{{ params.name }}" {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %} {%- if params.errorMessage %} aria-errorMessage="{{ errorId }}" aria-invalid="true"{% endif %} {{-" disabled" if params.disabled }} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% for item in params.items %}
    {% if item %}
      {% if item.optgroup %}
    <optgroup {%- if item.optgroup.label %} label="{{ item.optgroup.label }}"{% endif %} {%- if item.optgroup.disabled %} disabled{% endif %}>
          {% if item.optgroup.items %}
            {% for sub in item.optgroup.items %}
      <option value="{{ sub.value }}"
      {{-" selected" if sub.selected }}
      {{-" disabled" if sub.disabled }}
      {{-" hidden" if sub.hidden }}
      {%- for attribute, value in sub.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>{{ sub.text }}</option>
            {% endfor %}
          {% endif %}
    </optgroup>
        {% for sub in item.optgroup.items %}
        {% endfor %}
      {% else %}
    <option value="{{ item.value }}"
      {{-" selected" if item.selected }}
      {{-" disabled" if item.disabled }}
      {{-" hidden" if item.hidden }}
      {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>{{ item.text }}</option>
      {% endif %}
    {% endif %}
  {% endfor %}
  </select>
</div>
<!-- /select -->