{% set exampleComponent = "textarea" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "name": "more-detail-a",
      "id": "more-detail-a",
      "label": {
        "text": "Esto es un label"
      },
      "hint": {
        "text": "Esto es una pista o texto descriptivo."
      }
    }
  },
  {
    "name": "deshabilitado",
    "data": {
      "name": "more-detail-b",
      "id": "more-detail-b",
      "disabled": true,
      "label": {
        "text": "Esto es un label"
      },
      "hint": {
        "text": "Esto es una pista o texto descriptivo."
      }
    }
  },
  {
    "name": "con mensaje de error",
    "data": {
      "name": "no-ni-reason",
      "id": "no-ni-reason",
      "label": {
        "text": "Esto es un label"
      },
      "errorMessage": {
        "text": "Error: esto es un mensaje de error"
      }
    }
  },
  {
    "name": "con valor por defecto",
    "data": {
      "id": "full-address-a",
      "name": "address-a",
      "value": "Calle Rosales 25. 2 izda",
      "label": {
        "text": "Dirección completa"
      }
    }
  },
  {
    "name": "con número de filas (rows) personalizada",
    "data": {
      "id": "full-address-b",
      "name": "address-b",
      "label": {
        "text": "Dirección completa"
      },
      "rows": 8
    }
  },
  {
    "name": "con label como encabezado",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>.",
    "data": {
      "id": "textarea-with-page-heading-a",
      "name": "address",
      "label": {
        "text": "Esto es un label dentro de un encabezado <h1>",
        "isPageHeading": true
      }
    }
  },
  {
    "name": "con clases de form-group opcionales",
    "data": {
      "id": "textarea-with-page-heading-b",
      "name": "address",
      "label": {
        "text": "Dirección completa"
      },
      "formGroup": {
        "classes": "p-base bg-primary-light"
      }
    }
  },
  {
    "name": "con valores de autocompletado",
    "data": {
      "id": "textarea-with-autocomplete-attribute",
      "name": "address",
      "label": {
        "text": "Dirección completa"
      },
      "autocomplete": "street-address"
    }
  },
  {
    "name": "placeholder",
    "data": {
      "id": "con-placeholder",
      "name": "placeholder",
      "label": {
        "text": "Valor"
      },
      "placeholder": "Esto es un placeholder"
    }
  },
  {
    "name": "Con clases de css aplicadas",
    "description": "Label inline + Textarea flexible y Mensaje de error",
    "data": {
      "formGroup": {
        "classes": "lg:flex lg:flex-wrap lg:items-start lg:gap-x-base"
      },
      "label": {
        "text": "Label inline:",
        "classes": "lg:py-sm lg:mt-sm"
      },
      "id": "classes-applied-b",
      "name": "classes-applied-b",
      "errorMessage": {
        "text": "Error: Esto es un mensaje de error",
        "classes": "order-1 w-full pt-sm"
      },
      "classes": "lg:flex-1"
    }
  }
] %}