/* ==========================================================================
   _styles.breadcrumbs.css
   ========================================================================== */

@layer components {
  .c-breadcrumbs {
    li ~ li::before {
      @apply inline-block;
      content: ">";
      @apply px-sm;
      @apply text-neutral-dark;
    }
  }


  .c-breadcrumbs--truncated {
    li:not(.c-breadcrumbs__backbutton) {
      @apply lg:max-w-xs;

      &:last-child {
        @apply max-w-full;
      }
    }
  }


  .c-breadcrumbs--collapse-on-mobile {
    li {
      @apply hidden;
      @apply lg:inline-flex;

      &:first-child,
      &:last-child {
        @apply inline-flex;
      }
    }

    .c-breadcrumbs__backbutton + li {
      @apply inline-flex;
    }
  }


  .c-breadcrumbs--inline-on-mobile {
    li {
      @apply inline;
      @apply lg:inline-flex;
      @apply leading-loose;
      @apply lg:leading-tight;

      a, span {
        @apply whitespace-normal;
        @apply lg:truncate;
      }
    }
  }


  .c-breadcrumbs--inline-on-desktop {
    li {
      @apply lg:inline;
      @apply lg:leading-loose;

      a, span {
        @apply lg:whitespace-normal;
      }
    }
  }


  .c-breadcrumbs__backbutton {
    @apply mr-sm;

    & + li::before {
      @apply hidden !important;
    }
  }
}
