/* ==========================================================================
   _styles.input.css
   ========================================================================== */

@layer components {
  .c-input--base {
    @apply px-3;
    @apply py-2;
    @apply text-base;
  }


  .c-input--sm {
    @apply pl-2;
    @apply py-1;
    @apply text-sm;
  }
}
