{% from "components/test-component/_macro.test-component.njk" import componentTestComponent %}
{% from "components/test-component-caller/_macro.test-component-caller.njk" import componentTestComponentCaller %}

<div class="p-base border border-neutral-base">
  <p>Este es un include de prueba</p>
  {{ componentTestComponent({
    "html": "Este es <strong class='font-bold'>un componente de prueba</strong>"
  })  }}
  {% call componentTestComponentCaller({
    "html": "Este es un componente <strong class='font-bold '>con caller</strong>"
  })  %}
      <div class="w-48 p-2"><div class=" border-4 border-dashed border-gray-200 rounded-lg h-40 "></div></div>
  {% endcall %}
</div>