<!-- card -->
<div {%- if params.classes %} class="{{ params.classes }}"{% endif %} {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div {%- if params.containerClasses %} class="{{ params.containerClasses }}"{% endif %}>
    {% if params.super %}
    <div class="{% if params.super.classes %}{{ params.super.classes }}{% else-%} h-32 bg-cover bg-center bg-no-repeat overflow-hidden{% endif %}" style="background-color: {{ params.super.backgroundFullColor }}; {% if params.super.backgroundFullUrl %} background-image: url('{{ params.super.backgroundFullUrl }}'){% endif %}"  {%- for attribute, value in params.super.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ params.super.html | filterquotes | safe if params.super.html}}
    </div>
    {% endif %}
    <div class="flex">
      {% if params.left %}
      <div class="{% if params.left.classes %}{{ params.left.classes }}{% else-%} w-1/2 bg-cover bg-center bg-no-repeat overflow-hidden{% endif %}" style="background-color: {{ params.left.backgroundFullColor }}; {% if params.left.backgroundFullUrl %} background-image: url('{{ params.left.backgroundFullUrl }}'){% endif %}"  {%- for attribute, value in params.left.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {{ params.left.html | filterquotes | safe if params.left.html}}
      </div>
      {% endif %}
      <div {%- if params.left or params.right %} class="flex-1"{% endif %}>
        {% if caller %}
        {{ caller() | indent(4) }} {#- if statement allows usage of `call` to be optional -#}
        {% elseif params.caller %}
        {{ params.caller | safe | indent(4) }}
        {% endif %}
      </div>
      {% if params.right %}
      <div class="{% if params.right.classes %}{{ params.right.classes }}{% else-%} w-1/2 bg-cover bg-center bg-no-repeat overflow-hidden{% endif %}" style="background-color: {{ params.right.backgroundFullColor }}; {% if params.right.backgroundFullUrl %} background-image: url('{{ params.right.backgroundFullUrl }}'){% endif %}"  {%- for attribute, value in params.right.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {{ params.right.html | filterquotes | safe if params.right.html}}
      </div>
      {% endif %}
    </div>
    {% if params.sub %}
    <div class="{% if params.sub.classes %}{{ params.sub.classes }}{% else-%} h-32 bg-cover bg-center bg-no-repeat overflow-hidden{% endif %}" style="background-color: {{ params.sub.backgroundFullColor }}; {% if params.sub.backgroundFullUrl %} background-image: url('{{ params.sub.backgroundFullUrl }}'){% endif %}"  {%- for attribute, value in params.sub.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ params.sub.html | filterquotes | safe if params.sub.html}}
    </div>
    {% endif %}
  </div>
</div>
<!-- /card -->