{% macro componentExample() %}
  <div class="my-base p-base border border-neutral-base">
    {% if caller %}
      {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
    {% endif %}
  </div>
{% endmacro %}