{% from "components/button/_macro.button.njk"
import componentButton %}
{% from "components/details/_macro.details.njk"
import componentDetails %}
{% from "components/tabs/_macro.tabs.njk"
import componentTabs %}

{% macro showCodeFromFile(filePath) %}
  {% set nunjucksContent %}
    {{ componentButton({
      "html": 'Copiar código<span class="sr-only">Nunjucks del ejemplo: ' + filePath + '</span>',
      "classes": "c-button--sm c-button--transparent mb-sm",
      "attributes": {
        "data-module": "c-button-copy"
      }
    }) }}
    <pre class="hljs"><code class="language-js hljs text-sm">{{- getNunjucksCodeFromFile(filePath) | highlight("twig") | safe -}}</code></pre>
  {% endset %}
  {% set htmlContent %}
    {{ componentButton({
      "html": 'Copiar código<span class="sr-only">HTML del ejemplo: ' + filePath + '</span>',
      "classes": "c-button--sm c-button--transparent mb-sm",
      "attributes": {
        "data-module": "c-button-copy"
      }
    }) }}
    <pre class="hljs"><code class="language-html hljs text-sm">
    {{- getHTMLCodeFromFile(filePath) | highlight("html") | safe -}}
    </code></pre>
  {% endset %}
  {% call componentDetails({
    "summary": {
      "html": 'Mostrar código<span class="sr-only"> del ejemplo: ' + filePath + '</span>',
      "classes": "c-link text-sm"
    }
  })  %}
      {{ componentTabs({
        "tablistAriaLabel": "Ejemplo de código de: " + filePath,
        "idPrefix": "tab-" + filePath | replace("/", "-") | replace("_", "") | replace(".", "-"),
        "classes": "c-tabs--scroll",
        "items": [
          {
            "html": 'Nunjucks macro<span class="sr-only"> del ejemplo: '+ filePath +'</span>',
            "panel": {
              "html": nunjucksContent | trim
            }
          },
          {
            "html": 'HTML<span class="sr-only"> del ejemplo: '+ filePath +'</span>',
            "panel": {
              "html": htmlContent | trim
            }
          }
        ]
      })  }}
  {% endcall %}
{% endmacro %}
