{% include "_global.head.njk" %}
<body>
  {% include "_include.template-header.njk" %}
  <main id="content" class="container mx-auto px-base">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "_global.foot.njk" %}
