{% include "_global.head.njk" %}
<body>
  {% include "_include.template-header.njk" %}
  <main id="content" class="container mx-auto px-base">
    <div class="pb-xl"></div>
    {% block contentBlock %}
    {% endblock %}
    {% from "_macro.example-render.njk" import exampleRender %}
    {{ exampleRender({
      data: exampleData
    }) }}
  </main>
{% include "_global.foot.njk" %}
