{% set title = "Catálogo visual de componentes. Documentación de desy-html. Gobierno de Aragón" %}
{% set activePage = "page-catalogo" %}
{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
	<div class="c-h1">Catálogo de componentes</div>
  <p class="c-paragraph-base">Recopilación de la mayor parte de los componentes y sus usos más típicos.</p>
  <div class="pb-xl"></div>
  {% include "ds/_ds.section.botones.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.forms.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.navigation.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.dropdowns.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.menubar.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.mostrar-ocultar.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.datos.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.avisos.njk" %}
  <div class="pb-2xl"></div>
  {% include "ds/_ds.section.informacion.njk" %}
  <div class="pb-2xl"></div>
{% endblock %}