{% set title = "Lista de componentes. Documentación de desy-html. Gobierno de Aragón" %}
{% set activePage = "page-componentes" %}
{% extends "_template.default.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Componentes</div>
  <p class="c-paragraph-base mb-xl">
    Ver todos los componentes compilados en una sóla página en el <a href="catalogo.html" class="c-link">Catálogo</a>.
  </p>
  <div class="lg:grid lg:grid-flow-col lg:auto-cols-auto lg:grid-rows-10 lg:gap-x-base">
    <div>
      <p class="c-paragraph-base"><a href="examples-accordion.html" class="c-link">Accordion</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-accordion-history.html" class="c-link">Accordion history</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-alert.html" class="c-link">Alert</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-breadcrumbs.html" class="c-link">Breadcrumbs</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-button.html" class="c-link">Button</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-button-loader.html" class="c-link">Button loader</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-card.html" class="c-link">Card</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-character-count.html" class="c-link">Character count</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-checkboxes.html" class="c-link">Checkboxes</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-collapsible.html" class="c-link">Collapsible</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-dialog.html" class="c-link">Dialog</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-date-input.html" class="c-link">Date input</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-datepicker.html" class="c-link">Datepicker</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-description-list.html" class="c-link">Description list</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-details.html" class="c-link">Details</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-dropdown.html" class="c-link">Dropdown</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-error-message.html" class="c-link">Error message</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-error-summary.html" class="c-link">Error summary</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-fieldset.html" class="c-link">Fieldset</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-file-upload.html" class="c-link">File upload</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-footer.html" class="c-link">Footer</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-header.html" class="c-link">Header</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-header-mini.html" class="c-link">Header mini</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-header-advanced.html" class="c-link">Header advanced</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-hint.html" class="c-link">Hint</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-input.html" class="c-link">Input</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-input-group.html" class="c-link">Input group</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-item.html" class="c-link">Item</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-label.html" class="c-link">Label</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-links-list.html" class="c-link">Links list</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-listbox.html" class="c-link">Listbox</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-media-object.html" class="c-link">Media object</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-menu-horizontal.html" class="c-link">Menu horizontal</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-menu-navigation.html" class="c-link">Menu navigation</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-menu-vertical.html" class="c-link">Menu vertical</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-menubar.html" class="c-link">Menubar</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-modal.html" class="c-link">Modal</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-nav.html" class="c-link">Nav</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-notification.html" class="c-link">Notification</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-pagination.html" class="c-link">Pagination</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-pill.html" class="c-link">Pill</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-radios.html" class="c-link">Radios</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-searchbar.html" class="c-link">Searchbar</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-select.html" class="c-link">Select</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-skip-link.html" class="c-link">Skip link</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-spinner.html" class="c-link">Spinner</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-status.html" class="c-link">Status</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-status-item.html" class="c-link">Status item</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-table.html" class="c-link">Table</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-table-advanced.html" class="c-link">Table advanced</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-tabs.html" class="c-link">Tabs</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-textarea.html" class="c-link">Textarea</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-toggle.html" class="c-link">Toggle</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-tooltip.html" class="c-link">Tooltip</a></p>
    </div>
    <div>
      <p class="c-paragraph-base"><a href="examples-tree.html" class="c-link">Tree</a></p>
    </div>
  </div>
  <div class="pb-2xl"></div>
{% endblock %}