{% set title = "Estilos: colores, espaciado, retícula y tipografía. Documentación de desy-html. Gobierno de Aragón" %}
{% set activePage = "page-estilos" %}
{% extends "_template.default.njk" %}

{% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}


{% block contentBlock %}
<div class="pb-lg"></div>
<div class="c-h1">Estilos</div>
<div class="pb-lg"></div>
{{ DSSectionTitle({
  title: "Color"
}) }}
{% include "ds/_ds.section.color.njk" %}
<div class="pb-2xl"></div>
{{ DSSectionTitle({
  title: "Espaciado"
}) }}
{% include "ds/_ds.section.espaciado.njk" %}
<div class="pb-2xl"></div>
{{ DSSectionTitle({
  title: "Breakpoints y retícula"
}) }}
{% include "ds/_ds.section.layout.njk" %}
<div class="pb-2xl"></div>
{{ DSSectionTitle({
  title: "Textos"
}) }}
{% include "ds/_ds.section.textos.njk" %}
<div class="pb-2xl"></div>
{{ DSSectionTitle({
  title: "Tipografía en texto renderizado"
}) }}
{% include "ds/_ds.section.typography.njk" %}
<div class="pb-2xl"></div>
{% endblock %}
