{% set title = "Desy. Sistema de diseño para aplicaciones web. Gobierno de Aragón" %}
{% set description = "Documentación y librería desy-html para implementarlo en HTML, CSS y Javascript con un paquete NPM." %}
{% set activePage = "page-inicio" %}
{% extends "_template.default.njk" %}
{% block contentBlock %}

<div class="prose pb-xl">
<div class="pb-lg"></div>
  <h1>desy-html</h1>
  <p>Versión: {{ '' | filterversion }}</p>
  <p>desy-html es una librería NPM que sirve para construir la interfaz de usuario de las aplicaciones web del Gobierno de Aragón. Utiliza <a href="https://gulpjs.com/">Gulp</a>, <a href="https://postcss.org/">PostCSS</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a> y <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> para renderizar componentes HTML+CSS+JS. Es útil para crear aplicaciones web ligeras o maquetas html.</p>
  <p>Si necesitas una librería con más potencia para construir tu aplicación web, te recomendamos mejor, que uses su versión traducida a Angular: <a href="https://bitbucket.org/sdaragon/desy-angular">desy-angular librería NPM</a>, <a href="https://desy.aragon.es/desy-angular">Ejemplos de desy-angular</a></p>
  <p>Mira ejemplos de componentes y plantillas de página en la documentación: <a href="https://desy.aragon.es/">https://desy.aragon.es/</a></p>

  <h2>¿Cómo comenzar?</h2>
  <ul>
    <li>Ejecuta primero <code>npm install</code></li>
    <li>Ejecuta <code>npm run dev</code> para escuchar cambios en los archivos njk, css y html, para renderizarlos y recargar el servidor local con browser-sync.</li>
    <li>Usa <code>npm run prod</code> para generar el CSS y minificarlo.</li>
    <li>Dependencias: Node.js v20.14.0, Tailwind CSS y AutoPrefixer configurado en PostCSS. Versión y lista de dependencias completa en: <a href="package.json">Ver package.json</a></li>
  </ul>

  <h2>¿Cómo comienzo un proyecto que usa los componentes de desy-html?</h2>
  <p>Para comenzar un nuevo proyecto que usa desy-html como dependencia, no uses este repositorio, usa mejor <strong>desy-html-starter</strong>.</p>
  <ul>
    <li>Descarga el proyecto desy-html-starter desde su repositorio: <a href="https://bitbucket.org/sdaragon/desy-html-starter">https://bitbucket.org/sdaragon/desy-html-starter</a></li>
    <li>Personaliza el proyecto descargado según tus necesidades (cambia el nombre y rutas).</li>
    <li>Podrás usar cualquier componente de desy-html en ese proyecto. Copia cualquier ejemplo de macro desde la <a href="https://desy.aragon.es/desy-html">documentación de desy-html</a> y pégalo dentro de tu página, include o componente del nuevo proyecto.</li>
  </ul>

  <h2>Contacta con el equipo</h2>
  <p>desy-html está mantenido por un equipo de SDA Servicios Digitales de Aragón (España). Si quieres saber más acerca de desy-html, puedes escribir por email a alguno de los commiters.</p>

  <h2>Licencia del software</h2>
  <p>A no ser que se indique lo contrario, la base de código está liberada bajo la licencia abierta <a href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12">EUPL-1.2 License</a>. Esto cubre tanto la base de código como cualquier ejemplo en la documentación. <a href="EUPL-1.2.txt">Lee la licencia</a>.</p>

  <h2>Descarga el código fuente</h2>
  <p>El código de este proyecto está publicado en un repositorio público de Bitbucket. Puedes hacer un fork o descargarlo desde aqui: <a href="https://bitbucket.org/sdaragon/desy-html">https://bitbucket.org/sdaragon/desy-html/</a></p>

  <h2>Changelog (English)</h2>
  <p>What's new in the latest version of desy-html</p>
  <h3>v.12.0.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.12.0.0</h3>
  <ul class="text-sm">
    <li>Datepicker now uses Spanish date format: DD-MM-AAAA.</li>
    <li>Dropdowns that has no menu, now has the correct arias using data attributes.</li>
    <li>Accesibility fixes in Header mini, Datepicker, Dropdown, Tooltip and Links list.</li>
    <li>Docs examples in Nunjucks have single quotes in attributes instead of escaped double quotes.</li>
    <li>Docs improvements for AI and robots.</li>
    <li>Validation fixes.</li>
  </ul>
  <h3>v.11.2.0</h3>
  <ul class="text-sm">
    <li>Added global function to Links list and Tree navigation to activate items.</li>
    <li>Added parameter in Table advanced to customize filter texts in table head.</li>
    <li>Added parameter in Tabs to improve customization.</li>
    <li>Added large modifier in Button, Button loader, Dropdown, Listbox, Menu navigation and Menebar.</li>
    <li>Added style for links.</li>
    <li>Validation fixes.</li>
  </ul>
  <h3>v.11.1.2</h3>
  <ul class="text-sm">
    <li>Improved initial tooltip visualization in Dropdown, Listbox, Menu navigation, Menubar and Tooltip.</li>
    <li>Validation fixes in Tree.</li>
  </ul>
  <h3>v.11.1.1</h3>
  <ul class="text-sm">
    <li>Fixes in Collapsible and Tree.</li>
    <li>Minor improvements.</li>
  </ul>
  <h3>v.11.1.0</h3>
  <ul class="text-sm">
    <li>Added Tree navigation param to use the Tree as a folded menu.</li>
    <li>Fixes in Tree, Accordion and Accordion history.</li>
  </ul>
  <h3>v.11.0.5</h3>
  <ul class="text-sm">
    <li>Minor fixes in breadcrumbs.</li>
    <li>Added default font size and line height to body to improve accessibility.</li>
  </ul>
  <h3>v.11.0.4</h3>
  <ul class="text-sm">
    <li>Fixed previous responsive with Tailwind CSS breakpoint prefixes.</li>
    <li>Changed footer text size in mobile.</li>
  </ul>
  <h3>v.11.0.3</h3>
  <ul class="text-sm">
    <li>Text styles are now responsive with Tailwind CSS breakpoint prefixes.</li>
    <li>Added Table modifier to not stack cells in mobile.</li>
    <li>Accessibility fixes.</li>
  </ul>
  <h3>v.11.0.2</h3>
  <ul class="text-sm">
    <li>Accessibility fixes.</li>
  </ul>
  <h3>v.11.0.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.11.0.0</h3>
  <ul class="text-sm">
    <li>Pagination now uses select instead of listbox and changes in parameters.</li>
  </ul>
  <h3>v.10.2.2</h3>
  <ul class="text-sm">
    <li>Added missing params in Toggle and Notification.</li>
    <li>Accessibility fixes.</li>
  </ul>
  <h3>v.10.2.1</h3>
  <ul class="text-sm">
    <li>Minor fixes in Tabs and Prose styles.</li>
  </ul>
  <h3>v.10.2.0</h3>
  <ul class="text-sm">
    <li>Menu horizontal improvements and modifiers.</li>
    <li>Links list improvements and icon customizations.</li>
    <li>Added new params to style collapsible elements.</li>
    <li>Table now is stacked in mobile.</li>
    <li>Improvements in additional breakpoints.</li>
    <li>Footer columns fixes.</li>
  </ul>
  <h3>v.10.1.1</h3>
  <ul class="text-sm">
    <li>Fixed columns in Footer navigation items.</li>
  </ul>
  <h3>v.10.1.0</h3>
  <ul class="text-sm">
    <li>Added new param in Footer to improve columns.</li>
  </ul>
  <h3>v.10.0.1</h3>
  <ul class="text-sm">
    <li>Fixed cally not loading in templates.</li>
  </ul>
  <h3>v.10.0.0</h3>
  <ul class="text-sm">
    <li>Updated to Node v20.14.0 and Npm v10.8.1. Audit fix --save to update dependencies to latest.</li>
  </ul>
  <h3>v.9.0.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.9.0.0</h3>
  <ul class="text-sm">
    <li>Added Datepicker component using Cally v0.6.1. as js file.</li>
    <li>Updated Gulp to 5.0.0</li>
    <li>Added additional breakpoints to Docs.</li>
  </ul>
  <h3>v.8.13.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.8.13.0</h3>
  <ul class="text-sm">
    <li>Added logos in Header Advanced examples.</li>
    <li>Added FEADER logos in Footer.</li>
    <li>Tooltip now allows select content inside.</li>
    <li>Updated to latest Tailwind CSS.</li>
    <li>Accessibility fixes.</li>
    <li>Minor improvements.</li>
  </ul>
  <h3>v.8.12.1</h3>
  <ul class="text-sm">
    <li>Fixed logo.html parameter in Footer and improved styles for logo.</li>
    <li>Minor improvements.</li>
  </ul>
  <h3>v.8.12.0</h3>
  <ul class="text-sm">
    <li>Added new logos and parameters in Footer.</li>
    <li>Added global function to open/close Tree items.</li>
    <li>Added global funcion to Notification to close it.</li>
    <li>Accessibility fixes.</li>
    <li>Improvements in docs.</li>
  </ul>
  <h3>v.8.11.0</h3>
  <ul class="text-sm">
    <li>Added global funcion to Accordion and Accordion history to open/close all items.</li>
    <li>Added global function to check/uncheck Toggle.</li>
    <li>Bug fixes.</li>
    <li>Improvements in docs.</li>
  </ul>
  <h3>v.8.10.2</h3>
  <ul class="text-sm">
    <li>Updated Tailwind CSS form and typography plugins.</li>
  </ul>
  <h3>v.8.10.1</h3>
  <ul class="text-sm">
    <li>Fixed a bug in conditionals in radios.</li>
  </ul>
  <h3>v.8.10.0</h3>
  <ul class="text-sm">
    <li>Updated to Tailwind CSS v3.3.5</li>
    <li>Fixed bugs in Checkboxes and Radio conditionals.</li>
    <li>Added global function to select items in Listbox.</li>
    <li>Added global function to open/close Collapsible and Dialog.</li>
    <li>Accessibility improvements.</li>
    <li>Improvements in Docs.</li>
  </ul>
  <h3>v.8.9.0</h3>
  <ul class="text-sm">
    <li>Added global function to select items and refactor Menu navigation to fix keyboard navigation.</li>
    <li>More improvements of height in offcanvas in Header and Header advanced.</li>
    <li>Improvements in Docs.</li>
  </ul>
  <h3>v.8.8.1</h3>
  <ul class="text-sm">
    <li>Fixed a bug in active items in Nav, Menu horizontal and Menu vertical.</li>
    <li>Improved height in offcanvas in Header and Header advanced.</li>
  </ul>
  <h3>v.8.8.0</h3>
  <ul class="text-sm">
    <li>Added global function to select items in Listbox.</li>
    <li>Added global function to open items in Accordion and Accordion history.</li>
    <li>Fixed a bug in Tabs.</li>
    <li>Improvements in Docs. Added menu navigation in header advanced in template example.</li>
  </ul>
  <h3>v.8.7.0</h3>
  <ul class="text-sm">
    <li>Added global function to select items and subitems in Menubar and Menu horizontal.</li>
    <li>Now Tabs can have html inside their titles.</li>
    <li>Improvements and better accessibility in docs.</li>
  </ul>
  <h3>v.8.6.0</h3>
  <ul class="text-sm">
    <li>Added global function to select items and subitems in Menu navigation.</li>
    <li>Bug fixes.</li>
    <li>Improvements in docs.</li>
  </ul>
  <h3>v.8.5.0</h3>
  <ul class="text-sm">
    <li>Added global function to select an item in Tabs.</li>
    <li>Added new param in Breadcrumbs to show the items inline on mobile.</li>
    <li>Docs fixed bad units in text styles.</li>
    <li>Improvements in docs.</li>
  </ul>
  <h3>v.8.4.1</h3>
  <ul class="text-sm">
    <li>Active items are font-bold now in all components.</li>
    <li>Minor improvements.</li>
  </ul>
  <h3>v.8.4.0</h3>
  <ul class="text-sm">
    <li>Added global function to select an item in Nav.</li>
    <li>Docs now show the active section in offcanvas menus.</li>
  </ul>
  <h3>v.8.3.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.8.3.0</h3>
  <ul class="text-sm">
    <li>Added global function to select an item in Header navigation in Header and Header advanced components.</li>
    <li>Docs now show the active section in header menu.</li>
    <li>Minor fixes.</li>
  </ul>
  <h3>v.8.2.2</h3>
  <ul class="text-sm">
    <li>Fixed duplicate ids in subitems in components with subitems.</li>
    <li>Minor fixes.</li>
  </ul>
  <h3>v.8.2.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.8.2.0</h3>
  <ul class="text-sm">
    <li>Added global function to select an item in Menu vertical.</li>
    <li>Added tfoot in Table and Table advanced, that is not affected by orderby. Useful for showing totals in tables.</li>
    <li>Removed aspect-ratio plugin from Tailwind CSS as it's now baked by default.</li>
    <li>Added first and last buttons to navigate in Pagination.</li>
    <li>Minor improvements.</li>
  </ul>
  <h3>v.8.1.7</h3>
  <ul class="text-sm">
    <li>Fixed bad html copy code in caller components.</li>
  </ul>
  <h3>v.8.1.6</h3>
  <ul class="text-sm">
    <li>Minor changes in docs.</li>
  </ul>
  <h3>v.8.1.5</h3>
  <ul class="text-sm">
    <li>Changed gap-xl to gap-lg as the default gap in layout grids.</li>
  </ul>
  <h3>v.8.1.4</h3>
  <ul class="text-sm">
    <li>Fixed anchors in examples.</li>
  </ul>
  <h3>v.8.1.3</h3>
  <ul class="text-sm">
    <li>Fixed anchors in docs.</li>
  </ul>
  <h3>v.8.1.2</h3>
  <ul class="text-sm">
    <li>Improvements in estilos page in docs.</li>
  </ul>
  <h3>v.8.1.1</h3>
  <ul class="text-sm">
    <li>Fixed a bug in Searchbar that avoids linebreak in button.</li>
    <li>Added new graphics colors, removed desy-html-templates in docs.</li>
  </ul>
  <h3>v.8.1.0</h3>
  <ul class="text-sm">
    <li>Added a new modifier class in Menu horizontal to show scroll in mobile.</li>
    <li>Bug fixes.</li>
  </ul>
  <h3>v.8.0.1</h3>
  <ul class="text-sm">
    <li>Fixed a bug in examples Nunjucks code.</li>
  </ul>
  <h3>v.8.0.0</h3>
  <ul class="text-sm">
    <li>Improved indentation in examples.</li>
    <li>Added functions to show source code in Nunjucks and HTML.</li>
    <li>Removed Prism.</li>
    <li>Fixed a bug in telephone link in footer.</li>
    <li>Fixed an example of Searchbar with button breaking line.</li>
  </ul>
  <h3>v.7.4.0</h3>
  <ul class="text-sm">
    <li>Translated examples to español.</li>
  </ul>
  <h3>v.7.3.1</h3>
  <ul class="text-sm">
    <li>Added source code links to Plantillas pages.</li>
  </ul>
  <h3>v.7.3.0</h3>
  <ul class="text-sm">
    <li>Added desy-html-starter page templates and Plantillas page.</li>
  </ul>
  <h3>v.7.2.0</h3>
  <ul class="text-sm">
    <li>Removed cdn links for popper and tippy.</li>
    <li>Redesigned component examples pages.</li>
    <li>Improved indentation in component examples pages.</li>
    <li>Added new parameter in footer for logo FEDER url.</li>
    <li>Docs improvements.</li>
  </ul>
  <h3>v.7.1.2</h3>
  <ul class="text-sm">
    <li>Minor improvements.</li>
  </ul>
  <h3>v.7.1.1</h3>
  <ul class="text-sm">
    <li>Fixed a bug in checkboxes and radios. Now the conditionals work properly.</li>
    <li>Minor fixes.</li>
  </ul>
  <h3>v.7.1.0</h3>
  <ul class="text-sm">
    <li>Added class to Tabs to better display them inline with scroll if needed in mobile.</li>
  </ul>
  <h3>v.7.0.1</h3>
  <ul class="text-sm">
    <li>Accessibility and docs improvements.</li>
  </ul>
  <h3>v.7.0.0</h3>
  <ul class="text-sm">
    <li>Updated to node 16.17.1 and npm 8.15.0. Updated to latest packages.</li>
    <li>Docs improvements.</li>
    <li>Bug fixes in Tree and Toggle.</li>
  </ul>
  <h3>v.6.6.0</h3>
  <ul class="text-sm">
    <li>Removed Backstop.js visual regression testing library to make the library lighter. We will use it only in test branch.</li>
    <li>Added Card component.</li>
    <li>Added Links list component.</li>
    <li>Added a bigger c-h0 heading style. A smaller c-h4 style and prose improvements.</li>
    <li>Docs improvements.</li>
    <li>Bug fixes.</li>
  </ul>
  <h3>v.6.5.0</h3>
  <ul class="text-sm">
    <li>Added Backstop.js visual regression testing library.</li>
    <li>Improved documentation.</li>
  </ul>
  <h3>v.6.4.1</h3>
  <ul class="text-sm">
    <li>Fixed notification close.</li>
    <li>Header GA logo has now the right colors.</li>
    <li>Improved documentation.</li>
  </ul>
  <h3>v.6.4.0</h3>
  <ul class="text-sm">
    <li>Added title for mobile in Header.</li>
    <li>Now the Dialog close on click outside.</li>
    <li>Fixed Notification not closing on close button click.</li>
    <li>Fixed Toggle bad arias and colors.</li>
    <li>Fixed Collapsible bad arias and not opening.</li>
    <li>Fixed Tabs active element.</li>
    <li>Improved prose styles. Now the lists have black bullets and paragraphs correct line heights.</li>
    <li>Improvements in documentation.</li>
  </ul>
  <h3>v.6.3.3</h3>
  <ul class="text-sm">
    <li>Fixed behavior in Accordion and Accordion history.</li>
    <li>Fixed bad "Show code" button position in docs.</li>
    <li>Minor improvements and fixes in docs.</li>
  </ul>
  <h3>v.6.3.2</h3>
  <ul class="text-sm">
    <li>Added header background images.</li>
  </ul>
  <h3>v.6.3.1</h3>
  <ul class="text-sm">
    <li>Added new header background colors.</li>
    <li>Changes in heading advanced examples.</li>
  </ul>
  <h3>v.6.3.0</h3>
  <ul class="text-sm">
    <li>Added parameters and changes in Header advanced.</li>
    <li>Added active parameter in Tabs.</li>
    <li>Removed alpine.js and added new collapsible.js file.</li>
    <li>Fixed keyboard navigation in Tree.</li>
    <li>Minor fixes.</li>
  </ul>
  <h3>v.6.2.1</h3>
  <ul class="text-sm">
    <li>Fixed bad vertical spacing in c-form-group that affected forms in desy-angular.</li>
    <li>Minor fixes in listbox, dropdown and menubar for header modifier.</li>
    <li>Minor accessibility improvements.</li>
  </ul>
  <h3>v.6.2.0</h3>
  <ul class="text-sm">
    <li>Added classes for base modifiers in form components to improve responsive styles.</li>
    <li>Added a listbox in Pagination to choose the items per page.</li>
    <li>Item can position the icon with a new parameter.</li>
    <li>Accessibility fixes and improvements in Accordion history, Menu navigation, Toggle examples, Footer.</li>
    <li>Minor improvements in Table advanced.</li>
  </ul>
  <h3>v.6.1.0</h3>
  <ul class="text-sm">
    <li>The header is now colored.</li>
    <li>Added new components: Header advanced and Header mini.</li>
    <li>Minor validation fixes.</li>
  </ul>
  <h3>v.6.0.0</h3>
  <ul class="text-sm">
    <li>Compilation
      <ul>
        <li>Updated to TailwindCSS v3.0.24</li>
        <li>Improved file compilation with TailwindCSS v.3 just-in-time mode by default. Now it's simpler and compiles all in any file changes. Removed cleancss. Now compiles css in Nunjucks, html or js changes.</li>
        <li>Improved headings styles in prose with the tailwind typography plugin.</li>
      </ul>
    </li>
    <li>Components
      <ul>
        <li>Added new component Menu navigation</li>
        <li>Table advanced: Added selects in table head for filtering in columns</li>
        <li>Modal: Added button loaders in items if param isButtonLoader is provided</li>
        <li>Header: Added 2 zones to nest HTML content (customLogoHtml, customNavigationHtml). One after the logo and the other after the navigation. Added a param to hide the default GA logo (noLogo). Added target param to navigation items</li>
        <li>Added new component Accordion history.</li>
        <li>Footer: Added custom description, noLogo params. Improvements in logo position and navigation items position in mobile.</li>
        <li>Toggle: now uses aria-expanded instead of aria-pressed by default.</li>
      </ul>
    </li>
    <li>Improvements
      <ul>
        <li>Searchbar: improvements and example for visible label.</li>
        <li>File upload: added button styles.</li>
        <li>Tree: fixed acc. Improved examples.</li>
        <li>Toggle examples: accessibility fixes.</li>
        <li>Button: Added new modifier class for has selection as Dropdown. Improved dropdown has selection class.</li>
        <li>Item: improved icons and text for screenreaders.</li>
        <li>Button loader: fixed a bug that makes an error when no loader.text is provided</li>
         <li>improved the check icon for Button loader, Listbox and Menubar: now it's the same in all browsers.</li>
        <li>Accordion: Added disabled param to items. Now the show/hide info can be customized. Fixed item.classes not applied. Added cursor not allowed in disabled items.</li>
        <li>Menu horizontal: Added new styles for tabs in mobile.</li>
        <li>Header: Improvements in header active items and menu navigation active items.</li>
        <li>Strong tag in base styles is font-semibold instead of font-bold.</li>
      </ul>
    </li>
    <li>Fixed validation errors in Footer examples, Spinner, Button loader and Button.</li>
    <li>Docs: Improved grid example. Added font-bold example for headings style, font-semibold for strong example, and em example.</li>
  </ul>
  <h3>v.5.3.0</h3>
  <ul class="text-sm">
    <li>Added missing params in input-group for inputs.</li>
    <li>Docs improvements.</li>
    <li>Minor validation fixes.</li>
  </ul>
  <h3>v.5.2.2</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.5.2.1</h3>
  <ul class="text-sm">
    <li>Docs improvements.</li>
  </ul>
  <h3>v.5.2.0</h3>
  <ul class="text-sm">
    <li>Added toggle component.</li>
    <li>Added searchbar to tree component.</li>
    <li>Minor validation fixes.</li>
  </ul>
  <h3>v.5.1.1</h3>
  <ul class="text-sm">
    <li>Fixed pagination from having too much listbox height.</li>
  </ul>
  <h3>v.5.1.0</h3>
  <ul class="text-sm">
    <li>Added tree component.</li>
  </ul>
  <h3>v.5.0.1</h3>
  <ul class="text-sm">
    <li>Fixed accessibility bad semantics in subnav. Added dropdown contentHtml rendering and example.</li>
  </ul>
  <h3>v.5.0.0</h3>
  <ul class="text-sm">
    <li>Header now uses correct dropdown params.</li>
  </ul>
  <h3>v.4.3.0</h3>
  <ul class="text-sm">
    <li>Added disabled and active param in menubar and fixed accessibility issues.</li>
    <li>Accessibility fixes in menu horizontal.</li>
    <li>Minor improvements in documentation.</li>
  </ul>
  <h3>v.4.2.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.4.2.0</h3>
  <ul class="text-sm">
    <li>Checkboxes can be indeterminate at init.</li>
    <li>Fixes in alert. Now it's read by screen readers.</li>
    <li>Header now uses dropdowns.</li>
    <li>Dropdowns, listboxes and tooltips now closes when loosing focus.</li>
    <li>Minor improvements in documentation.</li>
  </ul>
  <h3>v.4.1.3</h3>
  <ul class="text-sm">
    <li>Minor improvements.</li>
  </ul>
  <h3>v.4.1.2</h3>
  <ul class="text-sm">
    <li>Improvements in docs and Spanish translation of texts.</li>
  </ul>
  <h3>v.4.1.1</h3>
  <ul class="text-sm">
    <li>Accessibility improvements in header.</li>
  </ul>
  <h3>v.4.1.0</h3>
  <ul class="text-sm">
    <li>Added new parameters for customizing the skip link inside header component.</li>
  </ul>
  <h3>v.4.0.3</h3>
  <ul class="text-sm">
    <li>Minor improvements.</li>
  </ul>
  <h3>v.4.0.2</h3>
  <ul class="text-sm">
    <li>Improved headings spacing.</li>
  </ul>
  <h3>v.4.0.1</h3>
  <ul class="text-sm">
    <li>Minor fixes in checkboxes, radios, input group and date input.</li>
    <li>Minor improvements with license file compilation.</li>
  </ul>
  <h3>v.4.0.0</h3>
  <ul class="text-sm">
    <li>Updated tailwindcss to 2.2.7 and tailwind plugins related to latest versions. Changed the way we compile nested css. It affects gulp tasks so it bumps to a desy major version.</li>
    <li>Added js files to purge in tailwind.config.js </li>
    <li>Header uses container now and accepts breakpoints as footer.</li>
    <li>Added heading level param to item component.</li>
    <li>Added a new parameter in table advanced to show horizontal scrollbar in large tables and to apply classes to checkboxes.</li>
    <li>Select has optgroups and new hidden parameter to mimic a placeholder.</li>
    <li>Date input can be used now as time input using new divider parameters.</li>
    <li>Accessibility improvements in table advanced, accordion</li>
    <li>Fixes in notification, tooltip, modal, menu vertical, listbox, status item, </li>
    <li>Improvements in many component examples. Added inline examples for input, textarea, character count and select. Added fixed columns in table examples.</li>
  </ul>
  <h3>v.3.2.1</h3>
  <ul class="text-sm">
    <li>Fixed minor js validation issues.</li>
    <li>Fixed color examples in estilos page in docs.</li>
    <li>Fixed widths and line breaks in dropdowns with nav, listboxes and menubar items.</li>
  </ul>
  <h3>v.3.2.0</h3>
  <ul class="text-sm">
    <li>Accessibility and validation improvements in accordion, menu vertical,  nav, pagination and tooltip.</li>
    <li>Added new headingLevel parameter to control the heading hierarchy in accordion, error-summary, fieldset, label, modal, notification and tabs.</li>
    <li>Javascript minor fixes.</li>
    <li>Updated postcss npm dependencies.</li>
  </ul>
  <h3>v.3.1.3</h3>
  <ul class="text-sm">
    <li>Improved responsiveness and accessibility in header.</li>
  </ul>
  <h3>v.3.1.2</h3>
  <ul class="text-sm">
    <li>Searchbar has a param to show a custom button instead of lens icon.</li>
    <li>Date input can be better customized.</li>
    <li>Fixed validation in: nav.</li>
    <li>Accessibility improvements in: tooltip, modal, notification, button, menu vertical and listbox.</li>
  </ul>
  <h3>v.3.1.1</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.3.1.0</h3>
  <ul class="text-sm">
    <li>Added tooltip component.</li>
    <li>Changes in menu vertical component: Simplified html and parameters.</li>
    <li>Changes in nav and pagination components: Changed parameters, roles and arias.</li>
    <li>Improved w3c validation of all component examples.</li>
    <li>Accessibility and bug fixes in notification, modal, table advanced, footer, header, dropdown and listboxes. </li>
  </ul>
  <h3>v.3.0.3</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.3.0.2</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.3.0.1</h3>
  <ul class="text-sm">
    <li>Removed jit mode in tailwindcss compilation to avoid problems with purgecss safelist.</li>
  </ul>
  <h3>v.3.0.0</h3>
  <ul class="text-sm">
    <li>Updated Tailwindcss to 2.1.1 and activated jit mode to seed up css compilation.</li>
    <li>Build folder is named "dist" now.</li>
    <li>Improved js: now it's more modular, and better to be used as plug and play in desy-html-starter project. This is a breaking change for projects that used previous versions of desy-html.</li>
    <li>Removed unneeded details js cdn polyfill.</li>
    <li>Added an optional ".dev" class to the body to be used in development environments.</li>
    <li>Added open and close html comments in rendered html for each component.</li>
    <li>Added an optional win-node-env dependency to allow node environment variables in Windows.</li>
    <li>Many accessibility fixes and improvements in menubar, searchbar, header and offcanvas menu, pagination, modals, nav and footer.</li>
  </ul>
  <h3>v.2.1.3</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.2.1.2</h3>
  <ul class="text-sm">
    <li>Menubar now can have groups with their own aria-label that groups menuitem, menuitemcheckbox and menuitemradio.</li>
    <li>Added element that acts as label for listbox and menubar for screenreaders.</li>
    <li>Select error now goes before select.</li>
    <li>Fixed bad positioned subnav dropdown in header.</li>
    <li>Minor fixes and accessibility improvements.</li>
  </ul>
  <h3>v.2.1.1</h3>
  <ul class="text-sm">
    <li>Minor fixes and improvements.</li>
  </ul>
  <h3>v.2.1.0</h3>
  <ul class="text-sm">
    <li>Added listbox and menubar components.</li>
    <li>Removed secondary modifiers from dropbox, modal and dialog.</li>
  </ul>
  <h3>v.2.0.4</h3>
  <ul class="text-sm">
    <li>Minor fixes.</li>
  </ul>
  <h3>v.2.0.3</h3>
  <ul class="text-sm">
    <li>Many improvements in docs: Added catalog page with all the components at glance.</li>
    <li>Changes in menu horizontal: fixes and changed styling to match tabs styling.</li>
    <li>Fixes in: menu horizontal, tabs, button, input, select, searchbar, footer, date input and checkboxes.</li>
    <li>Improvements in footer spacing and page integration. Changed page bg color for that.</li>
  </ul>
  <h3>v.2.0.2</h3>
  <ul class="text-sm">
    <li>Accessibility improvements in: menu vertical, status item, notifications, alert, modals, dialog and tabs.</li>
  </ul>
  <h3>v.2.0.1</h3>
  <ul class="text-sm">
    <li>Fixed radios not checked if has no conditional.</li>
    <li>Improvements in header: Added logo letters, offcanvas is now a dialog and traps focus inside. Removed extra navs.</li>
    <li>Accessibility improvements in: pagination, offcanvas, header, menu vertical, modal, dialog, notification, alert, item, status item, tabs and focus styles.</li>
  </ul>
  <h3>v.2.0</h3>
  <ul class="text-sm">
    <li>Updated Tailwindcss to 2.0</li>
    <li>Added Tailwind aspect ratio plugin and used in colors docs.</li>
    <li>Added missing placeholder params to textarea and character count.</li>
    <li>Fixes in header, menu vertical, button icons, search and radios.</li>
    <li>Fixed bad heights in input, textarea, select. Now they have the same height as buttons.</li>
    <li>Added alert component that triggers notifications.</li>
    <li>Improved focus styles.</li>
    <li>Added divider in input group.</li>
  </ul>
  <h3>v.1.9.0</h3>
  <ul class="text-sm">
    <li>Updated Tailwindcss to 1.9.6</li>
    <li>Fixed a bug in tailwind.config.js that avoid compile in desy-angular</li>
    <li>Refactored accordion component.</li>
    <li>Added software license.</li>
    <li>Improved focus styles in components and links.</li>
    <li>Added alert and neutral modifiers to c-link</li>
    <li>New components: notification, modal, dialog, status and status item.</li>
    <li>Added a close button inside offcanvas navigation.</li>
    <li>Menu vertical now has icons, improved styles and a param to show all items unfolded.</li>
    <li>Fixes in docs, details, nav, footer</li>
  </ul>
  <h3>v.1.8.3</h3>
  <ul class="text-sm">
    <li>Added changelog in docs.</li>
    <li>Changes in details component. Now it's a caller component and has better params.</li>
  </ul>
  <h3>v.1.8.2</h3>
  <ul class="text-sm">
    <li>Updated Gobierno de Aragon logo. Now it has the square outside the img in both expanded and normal versions.</li>
    <li>Now package.json is being copied to build folder, in order to be published along the html files. This way we can track which version is online. You can see now the published <a href="/package.json">package.json here</a></li>
    <li>Changed rounded corners to button, button-loader and dropdown. Now is smaller and has a more squared aspect, as the input and selects.</li>
    <li>Added variants: group-hover and group-focus to display css properties. Now we can show/hide children elements on hover or focus.</li>
    <li>Fixed bugs in accessibility in navs, and fixed a bug in dropdowns.</li>
  </ul>
  <h3>v.1.8.1</h3>
  <ul class="text-sm">
    <li>Removed © copyright symbol from footer as we use creative commons license.</li>
  </ul>
  <h3>v.1.8</h3>
  <ul class="text-sm">
    <li>Added tabs component.</li>
    <li>Added an expanded version of logo in header that has responsive variants.</li>
    <li>Added a subnav in header to show the current app as title or to navigate between different apps.</li>
    <li>Added favicon to docs.</li>
    <li>Added SDA logo and links in footer and improved footer examples.</li>
  </ul>
  <h3>v.1.7.3</h3>
  <ul class="text-sm">
    <li>Fixed gulp clean task that broke build process if build folder didn't exists before.</li>
    <li>Added width spacings for dropdown to use.</li>
    <li>Fixes in dropdown, pagination and items.</li>
  </ul>
  <h2>Gracias</h2>
  <p>Este proyecto fue inicialmente forkeado de: <a href="https://github.com/saadeghi/tailwindcss-postcss-browsersync-boilerplate">https://github.com/saadeghi/tailwindcss-postcss-browsersync-boilerplate</a></p>
  <p>Este proyecto se ha construido sobre el código fuente del proyecto GOV.UK Frontend: <a href="https://github.com/alphagov/govuk-frontend">https://github.com/alphagov/govuk-frontend</a>. Agradecemos al equipo de <a href="https://www.gov.uk/government/organisations/government-digital-service">GDS Government Digital Service</a> por su fabuloso trabajo y por hacerlo opensource para la comunidad.</p>
</div>
{% endblock %}
