{% set title = "Mapa web. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="prose">
    <h1>Mapa web</h1>
    <p class="text-lg mb-0">
      Plantilla en desy-html: src/templates/pages/_template.logged-out.njk
    </p>
    <p class="text-lg mt-0">
      <a href="https://bitbucket.org/sdaragon/desy-html/src/master/docs/pagina-mapa-web.html" class="c-link" target="_blank" title="Se abre en ventana nueva">Ver código Nunjucks de esta página<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path d="M23.25,0h-8a.74.74,0,0,0-.69.47.74.74,0,0,0,.16.81L18,4.51l-9.45,9.3a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.7-.28l9.48-9.33,3.29,3.24a.74.74,0,0,0,.53.22.72.72,0,0,0,.29-.06A.74.74,0,0,0,24,8.62V.75A.76.76,0,0,0,23.25,0Z" fill="currentColor"></path><path d="M18.5,10.62a1,1,0,0,0-1,1V22H2V6.5H12.37a1,1,0,0,0,0-2H1.87A1.87,1.87,0,0,0,0,6.37V22.12A1.88,1.88,0,0,0,1.87,24H17.62a1.88,1.88,0,0,0,1.88-1.88V11.62A1,1,0,0,0,18.5,10.62Z" fill="currentColor"></path></g></svg></a>
    </p>
    <p class="text-lg">Colección de las secciones principales de este sitio web y sus subsecciones.</p>
  </div>
  <div class="py-xl"></div>
  <div class="mb-xl">
    <h2 class="c-h2 group"><a href="#" class="c-link">Categorías de trámites</a></h2>
    <div class="prose mb-base">
      <p>
        Listado de categorías en las que se ordenan los trámites.
      </p>
    </div>
    <ul>
      <li class="mb-base">
        <a class="c-link" href="#">Actividades industriales y energía</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Atención social y dependencia</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Cultura, ocio y turismo</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Derechos y servicios de ciudadano</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Educación, investigación y desarrollo</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Empleo y trabajo</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Empresa, comercio y asociaciones</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Infraestructuras, transportes y carreteras</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Medio ambiente</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Medio rural, agricultura y ganadería</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Salud</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Vivienda</a>
      </li>
    </ul>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2 group"><a href="#" class="c-link">Servicios de la Sede electrónica</a></h2>
    <div class="prose mb-base">
      <p>
        Listado completo de servicios que ofrecemos.
      </p>
    </div>
    <ul>
      <li class="mb-base">
        <a class="c-link" href="#">Cita previa</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Carpeta Ciudadana</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Registro electrónico general de la Administración</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Subsanación o mejora de la solicitud de inicio de un procedimiento</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Aportación de documentos a procedimientos en trámite</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Notificaciones electrónicas</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Verificador CSV de documentos</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Interposición de recursos ante la Administración</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Sellos de órgano</a>
      </li>
    </ul>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2 group">Información y ayuda para la tramitación</h2>
    <ul>
      <li class="mb-base">
        <a class="c-link" href="#">Preguntas frecuentes</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Guía de tramitación</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Oficinas de información y Registro</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Contacto y ayuda técnica</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Sobre la Sede Electrónica del Gobierno de Aragón</a>
      </li>
    </ul>
  </div>
  <div class="mb-xl">
    <h2 id="accesibilidad" class="c-h2"><a href="#" class="c-link">Accesibilidad</a></h2>
    <div class="prose mb-base">
      <p>
        Conoce el nivel de accesibilidad de la web y obtén información adicional al respecto.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 id="mapa-web" class="c-h2"><a href="#" class="c-link">Mapa web</a></h2>
    <div class="prose mb-base">
      <p>
        Colección de las secciones principales de este sitio web y sus subsecciones.
      </p>
    </div>
  </div>

{% endblock %}