{% set title = "Página de prueba. Gobierno de Aragón" %}

{# Puedes editar este template o usar uno predefinido como por ejemplo src/templates/pages/_template.logged.njk #}
{% extends "pages/_template.test.njk" %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Esta es una página de prueba</h1>
  <p class="c-paragraph-base">Comienza tu prueba editando esta página. Prueba a copiar cualquier ejemplo de <a href="https://desy.aragon.es/desy-html/" class="c-link">desy-html</a> en formato Nunjucks y pégalo en el código de esta página. Mira ejemplos en los comentarios del código fuente de esta página.</p>


  {# <p class="c-paragraph-base">Aqui un componente de este proyecto:</p>
  {% from "components/test-component/_macro.test-component.njk" import componentTestComponent %}
  {{ componentTestComponent({
    "text": "Este es un componente de prueba"
  })  }}
  <br> #}


  {# <p class="c-paragraph-base">Aqui viene un componente de este proyecto, con caller:</p>
  {% from "components/test-component-caller/_macro.test-component-caller.njk" import componentTestComponentCaller %}
  {% call componentTestComponentCaller({
    "html": "Este es un componente <strong class=\" font-bold \">con caller</strong>",
    "caller": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
  })  %}
      <div class=" w-48 p-2 "><div class=" border-4 border-dashed border-gray-200 rounded-lg h-40 "></div></div>
  {% endcall %}
  <br> #}


  {# <p class="c-paragraph-base">Aqui un componente importado de desy-html:</p>
  {% from "components/button/_macro.button.njk" import componentButton %}
  {{ componentButton({
      "text": "Botón de desy-html",
      "classes": "c-button--primary c-button--lg"
    })  }}
  <div class="pb-lg"></div> #}


  {# <p class="c-paragraph-base">Aqui un componente dialog que abre una modal importado de desy-html:</p>
  {% from "components/modal/_macro.modal.njk" import componentModal %}
  {% set secondaryExample %}
    {{ componentModal({
      "id": "secondary-action-example",
      "title": {
        "text": "Ejemplo de modal"
      },
      "description": {
        "html": ""
      },
      "itemsPrimary": [
        {
          "text": "Acción",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "html": "Cancelar <span class='sr-only'>y cerrar la ventana modal</span>",
          "attributes": {
            "onclick": "closeDialog(this)"
          }
        }
      ],
      "isDismissible": true,
      "classes": "mt-2xl"
    })  }}
  {% endset %}
  {% from "components/dialog/_macro.dialog.njk" import componentDialog %}
  {% call componentDialog({
    "button": {
      "text": "Ejemplo de dialog de desy",
      "attributes": {
        "onclick": "openDialog('secondary', this, 'label-secondary-action-example')"
      }
    },
    "id": "secondary",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "secondary-action-example",
      "aria-modal": true
    }
  })  %}
    {{ secondaryExample | safe }}
  {% endcall %}
  <div class="pb-lg"></div> #}


  {# <p class="c-paragraph-base">Ese es un include:</p>
  {% include "includes/_test-include.njk" %} #}


{% endblock %}