{% set title = "Plantillas para desy-html. Gobierno de Aragón" %}
{% set activePage = "page-plantillas" %}
{% extends "_template.default.njk" %}

{% block contentBlock %}
  <div class="lg:w-3/4">
    <div class="pb-lg"></div>
    <h1 class="c-h1">Plantillas</h1>
    <p class="c-paragraph-base">
      Aqui encontrarás plantillas de página típicas que se utilizan en aplicaciones del Gobierno de Aragón. Los ejemplos que aquí aparecen han pasado revisiones de accesibilidad, por lo que son seguros para ser utilizados en tus proyectos como punto de partida.
    </p>

    <div class="pb-lg"></div>

    <h2 id="plantillas" class="c-h2">Plantillas de página</h2>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="plantilla-sin-loguear.html">Plantilla sin loguear</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-titulo-de-app.html">Plantilla logueado con título de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app.html">Plantilla logueado con selector de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-cabecera-fija.html">Plantilla logueado con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-cabecera-fija-headroom.html">Plantilla logueado con cabecera fija con librería headroom.js</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-editar-con-cabecera-fija.html">Plantilla editar con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-editar-con-cabecera-fija-y-sidebar-sticky.html">Plantilla editar con cabecera fija y sidebar sticky</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app-y-subheader.html">Plantilla logueado con selector de app y subheader</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-logueado-con-selector-de-app-y-sidebar.html">Plantilla logueado con selector de app y sidebar</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="plantilla-con-header-advanced.html">Plantilla con header advanced</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 id="spinners" class="c-h2">Spinners en plantillas</h2>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-sin-loguear.html">Spinner de página en Plantilla sin loguear</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-titulo-de-app.html">Spinner de contenido en Plantilla logueado con título de app</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-cabecera-fija.html">Spinner de contenido en Plantilla logueado con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-editar-con-cabecera-fija.html">Spinner de contenido en Plantilla editar con cabecera fija</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-logueado-con-selector-de-app-y-subheader.html">Spinner de contenido en Plantilla logueado con selector de app y subheader</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="spinner-plantilla-con-header-advanced.html">Spinner de contenido en Plantilla con header advanced</a>
      </li>
    </ul>

    <div class="pb-lg"></div>

    <h2 id="paginas" class="c-h2">Páginas</h2>
    <h3 class="c-h3">Páginas varias</h3>
    <p class="c-paragraph-base">
      Esto son ejemplos de varios tipos de páginas de una aplicación.
    </p>
    <ul class="mb-lg">
      <li class="mb-base">
        <a class="c-link" href="pagina-mapa-web.html">Mapa web</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="pagina-accesibilidad.html">Accesibilidad</a>
      </li>
    </ul>
  </div>
{% endblock %}