{% set exampleComponent = "character-count" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "name": "more-detail-a",
      "id": "more-detail-a",
      "maxlength": 250,
      "label": {
        "text": "Esto es un label"
      }
    }
  },
  {
    "name": "placeholder",
    "data": {
      "name": "con-placeholder",
      "id": "placeholder",
      "maxlength": 250,
      "placeholder": "Esto es un placeholder",
      "label": {
        "text": "Esto es un label"
      }
    }
  },
  {
    "name": "deshabilitado",
    "data": {
      "name": "more-detail-b",
      "id": "more-detail-b",
      "maxlength": 250,
      "disabled": true,
      "label": {
        "text": "Esto es un label"
      }
    }
  },
  {
    "name": "con pista",
    "data": {
      "name": "with-hint",
      "id": "with-hint",
      "maxlength": 250,
      "label": {
        "text": "Esto es un label"
      },
      "hint": {
        "text": "Esto es una pista."
      }
    }
  },
  {
    "name": "con valor por defecto",
    "data": {
      "id": "with-default-value",
      "name": "default-value",
      "maxlength": 100,
      "label": {
        "text": "Dirección completa"
      },
      "value": "Paseo María Agustín, 36,\n 50004 Zaragoza\n"
    }
  },
  {
    "name": "con valor por defecto excediendo el límite",
    "data": {
      "id": "exceeding-characters",
      "name": "exceeding",
      "maxlength": 250,
      "value": "Paseo María Agustín, 36,\n 50004 Zaragoza\n",
      "label": {
        "text": "Dirección completa"
      },
      "errorMessage": {
        "text": "Error: Por favor, no exceder el límite máximo"
      }
    }
  },
  {
    "name": "con número de filas (rows) personalizada",
    "data": {
      "id": "custom-rows",
      "name": "custom",
      "maxlength": 250,
      "label": {
        "text": "Dirección completa"
      },
      "rows": 8
    }
  },
  {
    "name": "con label como encabezado",
    "description": "Utiliza el parámetro <code>'isPageheading': true</code> para que el label esté dentro de un encabezado. Usa el parámetro <code>'headingLevel'</code> para establecer el nivel del encabezado. Por ejemplo: <code>'headingLevel': 3</code> creará un encabezado <code>&lt;h3&gt;</code>. Si no se establece un <code>'headingLevel'</code>, por defecto usará un <code>&lt;h1&gt;</code>.",
    "data": {
      "id": "textarea-with-page-heading",
      "name": "address",
      "maxlength": 250,
      "label": {
        "text": "Esto es un label dentro de un encabezado <h1>",
        "isPageHeading": true
      }
    }
  },
  {
    "name": "con contador de palabras",
    "data": {
      "id": "word-count",
      "name": "word-count",
      "maxwords": 10,
      "label": {
        "text": "Dirección completa"
      }
    }
  },
  {
    "name": "con threshold",
    "data": {
      "id": "with-threshold",
      "name": "with-threshold",
      "maxlength": 250,
      "threshold": 75,
      "label": {
        "text": "Dirección completa"
      }
    }
  },
  {
    "name": "Con clases de css aplicadas",
    "description": "Inline label + character-count flexible y mensaje de error",
    "data": {
      "formGroup": {
        "classes": "lg:flex lg:flex-wrap lg:items-start lg:gap-x-base mb-0"
      },
      "label": {
        "text": "Inline label:",
        "classes": "lg:py-sm lg:mt-sm"
      },
      "id": "classes-applied-b",
      "name": "classes-applied-b",
      "maxlength": 250,
      "errorMessage": {
        "text": "Error: Esto es un mensaje de error",
        "classes": "order-1 w-full pt-sm"
      },
      "classes": "lg:flex-1"
    }
  }
] %}