{% set exampleComponent = "status-item" %}
{% set examples =  [
  {
    "name": "por defecto",
    "data": {
      "id": "default",
      "title": {
        "text": "Título"
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> item del Título</span></button>"
    }
  },
  {
    "name": "por defecto sólo items",
    "data": {
      "id": "only-items",
      "items": [
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición"
          }
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición"
          }
        },
        {
          "term": {
            "text": "término"
          },
          "definition": {
            "text": "definición"
          }
        }
      ],
      "status": {
        "text": "Estado",
        "icon": {
          "type": "success"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> los datos de término y definición y el resto</span></button>"
    }
  },
  {
    "name": "con título HTML",
    "data": {
      "id": "with-title-html",
      "title": {
        "html": "Autorización para la consulta de datos de las personas de la unidad familiar. <span class='text-neutral-dark'>(Documento condicionado)</span>"
      },
      "caller": "<button class='c-button c-button--transparent'>Aportar<span class='sr-only'> Autorización para la consulta de datos de las personas de la unidad familiar</span></button>"
    }
  },
  {
    "name": "con pista",
    "data": {
      "id": "with-hint",
      "title": {
        "text": "Personas de la unidad familiar"
      },
      "hint": {
        "text": "2 personas añadidas"
      },
      "status": {
        "text": "Aportado",
        "icon": {
          "type": "success"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> personas de la unidad familiar</span></button>"
    }
  },
  {
    "name": "con pista HTML",
    "data": {
      "id": "with-hint-html",
      "title": {
        "text": "Autorización para la consulta de datos de las personas de la unidad familiar"
      },
      "hint": {
        "html": "<a href='#' class='c-link'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='1em' height='1em' class='inline-block self-center w-4 h-4 mr-sm no-underline' role='img' aria-hidden='true'><path d='M100.3 52.2a7.49 7.49 0 00-10.6 0L77.5 64.39V7.5a7.5 7.5 0 00-15 0v56.89L50.3 52.2a7.5 7.5 0 10-10.6 10.6l25 25a7.49 7.49 0 0010.6 0l25-25a7.49 7.49 0 000-10.6zM130 95a10 10 0 00-10 10v12.5a2.5 2.5 0 01-2.5 2.5h-95a2.5 2.5 0 01-2.5-2.5V105a10 10 0 00-20 0v15a20 20 0 0020 20h100a20 20 0 0020-20v-15a10 10 0 00-10-10z' fill='currentColor'/></svg>Descargar modelo</a>"
      },
      "caller": "<button class='c-button c-button--transparent'>Aportar<span class='sr-only'> Autorización para la consulta de datos de las personas de la unidad familiar</span></button>"
    }
  },
  {
    "name": "con estado simple",
    "data": {
      "id": "with-status-simple",
      "title": {
        "text": "Datos adicionales del solicitante"
      },
      "status": {
        "text": "Iniciado"
      },
      "caller": "<button class='c-button c-button--transparent'>Rellenar<span class='sr-only'> datos adicionales del solicitante</span></button>"
    }
  },
  {
    "name": "con estado éxito",
    "data": {
      "id": "with-status-success",
      "title": {
        "text": "Datos adicionales del solicitante"
      },
      "status": {
        "text": "Aportado",
        "icon": {
          "type": "success"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> datos adicionales del solicitante</span></button>"
    }
  },
  {
    "name": "con estado alerta",
    "data": {
      "id": "with-status-alert",
      "title": {
        "text": "Datos adicionales del solicitante"
      },
      "errorMessage": {
        "text": "Es necesario aportar este documento para enviar el trámite",
        "classes": "my-sm text-alert-base"
      },
      "status": {
        "text": "Incompleto",
        "icon": {
          "type": "alert"
        },
        "classes": "text-alert-base"
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> datos adicionales del solicitante</span></button>",
      "classes": "border-l-4 border-alert-base"
    }
  },
  {
    "name": "con estado cargando",
    "data": {
      "id": "with-status-loading",
      "title": {
        "text": "Datos adicionales del solicitante"
      },
      "status": {
        "text": "Subiendo (20%)",
        "icon": {
          "type": "loading"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> datos adicionales del solicitante</span></button>"
    }
  },
  {
    "name": "con estado error",
    "data": {
      "id": "with-status-error",
      "title": {
        "text": "Datos adicionales del solicitante"
      },
      "errorMessage": {
        "text": "Se ha producido un error al subir el archivo",
        "classes": "my-sm text-alert-base"
      },
      "status": {
        "text": "Error",
        "icon": {
          "type": "error"
        },
        "classes": "text-alert-base"
      },
      "caller": "<button class='c-button c-button--transparent'>Ver<span class='sr-only'> datos adicionales del solicitante</span></button>",
      "classes": "border-l-4 border-alert-base"
    }
  },
  {
    "name": "con HTML en la definición",
    "data": {
      "id": "with-html-in-definition",
      "items": [
        {
          "term": {
            "text": "Acreditación"
          },
          "definition": {
            "html": "Mediante archivo adjunto <a href='#' class='c-link inline-block'>Modelo de solicitud (PDF, 200Kb)</a>"
          }
        }
      ],
      "status": {
        "text": "Completo",
        "icon": {
          "type": "success"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Modificar<span class='sr-only'> acreditación</span></button>"
    }
  },
  {
    "name": "incompleto",
    "data": {
      "id": "incompleto-status-item",
      "items": [
        {
          "term": {
            "text": "Nombre"
          },
          "definition": {
            "text": "Ana"
          }
        },
        {
          "term": {
            "text": "Apellidos"
          },
          "definition": {
            "text": "Pérez Escribano"
          }
        },
        {
          "term": {
            "text": "Número de identificación"
          },
          "definition": {
            "text": "72882918B"
          }
        }
      ],
      "status": {
        "text": "Incompleto",
        "icon": {
          "type": "alert"
        }
      },
      "caller": "<button class='c-button c-button--transparent'>Rellenar<span class='sr-only'> datos adicionales del solicitante</span></button>",
      "classes": "border-l-4 border-alert-base"
    }
  }
] %}