{% from "components/error-message/_macro.error-message.njk" import componentErrorMessage %}
{% from "components/hint/_macro.hint.njk" import componentHint %}
{% from "components/status/_macro.status.njk" import componentStatus %}

{#- a record of other elements that we need to associate with the item using
   aria-describedby – for example hints or error messages -#}
{%- set describedBy = params.describedBy if params.describedBy else "" -%}
{%- set errorId = params.errorId if params.errorId else "" -%}

{%- set commonHtml %}
  {% if params.title %}
  <p class="{% if params.title.classes %}{{ params.title.classes }}{% else %}my-sm{% endif %}">{{ params.title.html | filterquotes | safe  if params.title.html else params.title.text }}</p>
  {% endif %}
  {% if params.hint %}
    {% set hintId = params.id + '-hint' %}
    {% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
    {{ componentHint({
      id: hintId,
      classes: params.hint.classes,
      attributes: params.hint.attributes,
      html: params.hint.html,
      text: params.hint.text
    }) | trim | indent(6) }}
  {% endif %}
  {% if params.errorMessage %}
    {% if not params.errorId %}
    {% set errorId = params.id + '-error' %}
    {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
    {% endif %}
    {{ componentErrorMessage({
      id: errorId,
      classes: params.errorMessage.classes,
      attributes: params.errorMessage.attributes,
      html: params.errorMessage.html,
      text: params.errorMessage.text,
      visuallyHiddenText: params.errorMessage.visuallyHiddenText
    }) | trim | indent(6) }}
  {% endif %}
{% endset %}


{%- set innerItems %}
  {%- for item in params.items %}
  <div class="flex lg-flex-wrap {%- if item.classes %} {{ item.classes }}{% endif %}"
  {%- for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
    <dt class="{% if item.term.classes %}{{ item.term.classes }}{% else %}w-1/2 my-sm{% endif %}"
    {%- for attribute, value in item.term.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ item.term.html | filterquotes | safe if item.term.html else item.term.text }}
    </dt>
    <dd class="{% if item.definition.classes %}{{ item.definition.classes }}{% else %}w-1/2 my-sm font-semibold{% endif %}"
    {%- for attribute, value in item.definition.attributes %} {{attribute}}="{{value}}"{% endfor %}>
      {{ item.definition.html | filterquotes | safe if item.definition.html else item.definition.text }}
    </dd>
  </div>
  {% endfor %}
{% endset -%}


{%- set innerHtml %}
  <div class="lg:flex lg:justify-between lg:items-start -my-px px-base py-sm border-t border-b border-neutral-base">
    {% if params.items %}
    <div class="lg:w-2/3">
      {{ commonHtml | safe | trim }}
      <dl>
        {{ innerItems | trim | safe | indent(6) }}
      </dl>
    </div>
    {% else %}
    <div class="lg:w-2/3">
      {{ commonHtml | safe | trim }}
    </div>
    {% endif %}
    <div class="lg:flex lg:flex-wrap lg:items-center lg:1/3">
      {% if caller %}
        {% set myCaller = caller() %}
        {% if myCaller | string != '' %}
      <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 mb-base lg:mb-0">
        {{ myCaller }}
      </div>
        {% endif %}
      {% elseif params.caller %}
      <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 mb-base lg:mb-0">
        {{ params.caller | safe }}
      </div>
      {% endif %}
      {% if params.status %}
      <div class="mb-base lg:mb-0 ml-base py-sm">
        {{ componentStatus(params.status) | trim | indent(8) }}
      </div>
      {% endif %}
    </div>
  </div>
{% endset -%}

<!-- status-item -->
<div id="{{ params.id }}" {%- if params.classes %} class="{{ params.classes }}"{% endif %}
    {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {{ innerHtml | trim | safe }}
</div>
<!-- /status-item -->