{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{# Set classes for this component #}
{%- set classNames = "c-button-loader relative" -%}

{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}
{% if params.disabled %}
  {% set classNames = classNames + " c-button-loader--disabled" %}
{% endif -%}

{# Determine type of element to use, if not explicitly set #}
{%- if params.element %}
  {% set element = params.element | lower %}
{% else %}
  {% if params.href %}
    {% set element = 'a' %}
  {% else %}
    {% set element = 'button' %}
  {% endif %}
{% endif -%}

{# Set loader icon html #}
{% set iconLoader %}
  <span class="c-button-loader__spinner flex items-center justify-center absolute inset-0">
    {{ componentSpinner({
      text: params.loader.text if params.loader.text else 'Acción en curso',
      classes: params.loader.classes
    }) | indent(4) }}
  </span>
{% endset %}

{# Set success icon html #}
{% set iconSuccess %}
  <span class="c-button-loader__success flex items-center justify-center absolute inset-0">
    <span class="sr-only" role="alert" aria-live="assertive">
    </span>
    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  aria-hidden="true" width="1em" height="1em"><path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z" fill="currentColor"></path></svg></span>
  </span>
{% endset %}

{#- Define common attributes that we can use across all element types #}

{%- set commonAttributes %} class="{{ classNames }}" data-module="c-button-loader"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}{% endset %}

{#- Define common attributes we can use for both button and input types #}

{%- set buttonAttributes %}{% if params.name %} name="{{ params.name }}"{% endif %}{% if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}{% if params.preventDoubleClick %} data-prevent-double-click="true"{% endif %}{% endset %}

{#- Actually create a button... or a link! #}

<!-- button-loader -->
{%- if element == 'a' %}

<a href="{{ params.href if params.href else '#' }}" role="button" draggable="false" {% if params.target %} target="{{ params.target }}"{% endif %}{{- commonAttributes | safe }}>
{{ iconLoader | safe }}
{{ iconSuccess | safe }}
  <span class="c-button-loader__content inline-flex align-baseline">
    {{ params.html | filterquotes | safe if params.html else params.text }}
  </span>
</a>

{%- elseif element == 'button' %}

<button {%- if params.value %} value="{{ params.value }}"{% endif %}{%- if params.type %} type="{{ params.type }}"{% endif %} {{- buttonAttributes | safe }} {{- commonAttributes | safe }}>
{{ iconLoader | safe }}
{{ iconSuccess | safe }}
  <span class="c-button-loader__content inline-flex align-baseline">
    {{ params.html | filterquotes | safe if params.html else params.text }}
  </span>
</button>

{%- elseif element == 'input' %}

<div {{- commonAttributes | safe }}>
  <span class="c-button-loader__content inline-flex align-baseline">
    <input {{- buttonAttributes | safe }} value="{{ params.text }}" type="{{ params.type if params.type else 'submit' }}" class="bg-transparent font-semibold">
  </span>
{{ iconLoader | safe }}
{{ iconSuccess | safe }}
</div>
{%- endif %}

<!-- /button-loader -->