/* ==========================================================================
   _styles.tooltip.css
   ========================================================================== */

@layer components {
  .c-tooltip__tooltip {
    @apply hidden;

    .tippy-content & {
      @apply block;
    }
  }
}