<!-- tooltip -->
{% set idButton = params.id + "-button" %}
{% set idTooltip = params.id + "-tooltip" %}
<div id="{{ params.id }}" data-module="c-tooltip" {% if params.classes %}class="{{ params.classes }}"{% endif %} {%- if params.attributes %}{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}{% endif %}>
  <div id="{{ idButton }}" data-module="c-tooltip-button" {%- if params.complex %} data-type="c-tooltip-button-complex"{% endif %} class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" tabindex="0" role="button" aria-labelledby="{{ idButton }}" aria-describedby="{{ idTooltip }}">
    {% if params.text or params.html %}
    {% if params.html %}
    {{ params.html | filterquotes | safe }}
    {% else %}
    <p>
      {{ params.text }}
    </p>
    {% endif %}
    {% endif %}
    {% if params.icon and params.text %}
    <span class="inline-block w-1.5"></span>
    {% endif %}
    {% if params.icon %}
    <span class="inline-block">
      {% if params.icon.html %}
      {{ params.icon.html | filterquotes | safe }}
      {% elseif params.icon.type == 'info' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
      {% elseif params.icon.type == 'alert' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-alert-base" role="img" aria-label="Alerta"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Ayuda"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z" fill="currentColor"/></svg>
      {% endif %}
    </span>
    {% endif %}
  </div>
  <div id="{{ idTooltip }}" class="c-tooltip__tooltip -my-xs p-sm shadow-md bg-black rounded text-white {%- if params.classesTooltip %} {{ params.classesTooltip }}{% endif %}" data-module="c-tooltip-tooltip" >
    {% if caller %}
    {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
    {% elseif params.caller %}
    {{ params.caller | safe }}
    {% endif %}
  </div>
</div>
<!-- /tooltip -->