{% from "../error-message/_macro.error-message.njk" import componentErrorMessage -%}
{% from "../fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "../hint/_macro.hint.njk" import componentHint %}
{% from "../label/_macro.label.njk" import componentLabel %}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{% set idPrefix = params.idPrefix if params.idPrefix else params.name %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.describedBy if params.describedBy else "" %}
{% if params.fieldset.describedBy %}
   {% set describedBy = params.fieldset.describedBy %}
{% endif %}

{% set isConditional = false %}
{% for item in params.items %}
  {% if item.conditional.html %}
    {% set isConditional = true %}
  {% endif %}
{% endfor %}

{#- fieldset is false by default -#}
{% set hasFieldset = true if params.fieldset else false %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
{% if params.hint %}
  {% set hintId = idPrefix + '-hint' %}
  {% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}

  {{ componentHint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | indent(2) | trim }}
{% endif %}

{% if params.errorMessage %}
  {% set errorId = idPrefix + '-error' %}
  {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
  {{ componentErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    attributes: params.errorMessage.attributes,
    html: params.errorMessage.html,
    text: params.errorMessage.text,
    visuallyHiddenText: params.errorMessage.visuallyHiddenText
  }) | indent(2) | trim }}
{% endif %}
  <div class="c-checkboxes {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="c-checkboxes"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {% for item in params.items %}
      {% if item %}
        {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
        {%- if item.id -%}
          {%- set id = item.id -%}
        {%- else -%}
          {#- The first id should not have a number suffix so it's easy to link to from the error summary component -#}
          {%- if loop.first -%}
            {%- set id = idPrefix %}
          {% else %}
            {%- set id = idPrefix + "-" + loop.index -%}
          {%- endif -%}
        {%- endif -%}
        {% set name = item.name if item.name else params.name %}
        {% set conditionalId = "conditional-" + id %}
        {% set hasHint = true if item.hint.text or item.hint.html %}
        {% set itemHintId = id + "-item-hint" if hasHint else "" %}
        {% set itemDescribedBy = describedBy if not hasFieldset else "" %}
        {% set itemDescribedBy = (itemDescribedBy + " " + itemHintId) %}
    <div class="{%- if params.hasDividers %} border-t border-b border-neutral-base -mb-px{% endif %} {%- if item.classes %} {{ item.classes }}{% endif %} {%- if item.conditional.html %} c-checkboxes__conditional{% endif %} {%- if item.checked %} c-checkboxes__conditional-active {%- elif item.isIndeterminate and not item.indeterminateChecked %} c-checkboxes__indeterminate {%- elif item.isIndeterminate and item.indeterminateChecked %} c-checkboxes__indeterminate c-checkboxes__indeterminate-active {% else %} c-checkboxes__conditional-hidden{% endif %}">
      <div class="relative flex items-start py-base">
        <div class="flex items-center mx-sm">
          <input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="{{ id }}" name="{{ name }}" type="checkbox" value="{{ item.value }}"
          {{-" checked" if item.checked }}
          {{-" disabled" if item.disabled }}
          {%- if item.conditional.html %} aria-controls="{{ conditionalId }}"{% endif -%}
          {%- if itemDescribedBy != " " %} aria-describedby="{{ itemDescribedBy }}"{% endif -%}
          {%- if params.errorMessage %} aria-invalid="true"{% endif -%}
          {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}
          {%- if item.isIndeterminate or item.indeterminateChecked %} onclick="if (this.readOnly) this.checked=this.readOnly=false; else if (!this.checked) this.readOnly=this.indeterminate=true;"{% endif %}>
        </div>
        <div class="pt-0.5 leading-5">
          {{ componentLabel({
            html: item.html,
            text: item.text,
            classes: (item.label.classes if item.label.classes),
            attributes: item.label.attributes,
            for: id
          }) | indent(10) | trim }}
          {% if hasHint %}
          {{ componentHint({
            id: itemHintId,
            classes: (item.hint.classes if item.hint.classes),
            attributes: item.hint.attributes,
            html: item.hint.html,
            text: item.hint.text
          }) | indent(10) | trim }}
          {% endif %}
        </div>
      </div>
      {% if item.conditional.html %}
      <div class="mb-base ml-5 py-sm pl-6 origin-top-left border-l-2 border-primary-base c-checkboxes__conditional-item" id="{{ conditionalId }}">
        {{ item.conditional.html | filterquotes | safe | indent(10) }}
      </div>
      {% endif %}
    {% endif %}
    </div>
    {% endfor %}
  </div>
{% endset -%}

{% set checkboxesContent %}
  {% if params.fieldset %}
    {% call componentFieldset({
      describedBy: describedBy,
      errorId: errorId,
      classes: params.fieldset.classes,
      attributes: params.fieldset.attributes,
      legend: params.fieldset.legend,
      headingLevel: params.fieldset.headingLevel
    }) %}
    {{ innerHtml | safe }}
    {% endcall %}
  {% else %}
    {{ innerHtml | safe }}
  {% endif %}
{% endset %}

<!-- checkboxes -->
<div class="c-form-group {%- if params.errorMessage %} c-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
  {{ checkboxesContent | safe |indent(2) | trim }}
</div>
<!-- /checkboxes -->
